[2016-12-13 08:57] simdevmon opened #2 "Boolean values are serialized as string"
I tried Yasson `1.0-SNAPSHOT` as described here: http://json-b.net/getting-started.html

Lets say I have a simple class like this:
[code]

Now I want to serialize it to Json using Yasson:

[code]

The output is like this:
`{"flat":"true","message":"Hello"}`

I would rather expect this (boolean value should have no quotation marks, since it is not a string).
`{"flat":true,"message":"Hello"}`

[2016-12-14 06:21] bravehorsie commented on #2
Thanks Simon, that was reported and fixed already, I am not sure why changes are lost. I will take a look.

[2016-12-15 11:47] m0mus opened #3 "Number format error while converting empty string json to Integer"
From json to Object throws number format error if numeric field value is supplied in empty quotes.

for example in the front end
JSON.stringify(products) converts the json to empty quoted string

in the server side , this code throws numberformat error
jsonb.fromJson("{"id":"","productName":"test"}", Product.class);

 java.lang.NumberFormatException: For input string: ""
	at java.lang.NumberFormat

[2016-12-15 11:47] m0mus commented on #3
This issue was submitted to JSON-B specification issue tracker, but more related to Yasson, so I am reposting it here.

According to the spec, number values in json document represented without quotes. If quotes are there it's a string value. This is why you have a binding exception.
I see a problem here in the exception type. I suppose that JsonbException has to be thrown here, not NumberFormatEx

[2016-12-15 22:11] moghaddam commented on #3
@m0mus I've found the root cause of the issue. I started with the IntegerTypeDeserializer (the same issue exits for Double, Float, etc). I just want to know which message should we use for this scenario? is it ok to reuse the MessageKeys.DESERIALIZE_VALUE_ERROR key that is "**Error deserialize JSON value into type: {}**" or you prefer to define a new key for this scenario. I tested it with Integer

[2016-12-19 19:21] m0mus commented on #2
Merged to master.

[2016-12-19 19:21] #2 closed

[2016-12-19 19:22] m0mus commented on #3
I think it's OK to reuse MessageKeys.DESERIALIZE_VALUE_ERROR message.

[2016-12-19 22:19] moghaddam commented on #3
OK. I'm trying to develop some unit tests for this scenario. We need to have some Java Beans to test basic serialization/deserialization scenarios. There is a class named GenericTestClass that seems to be a shortcut to prevent creating such Java Beans. But I think it would not be possible to test all scenarios using this technique due to type erasure process at compile time (specifically for deser

[2016-12-20 07:46] bravehorsie commented on #3
"model" subpackage for various tests is used to create bean test classes for tests. If you need other bean classes for tests feel free to create those, or modify existing. Type erasure is why there is optional "Type" argument in fromJson/toJson methods. If you use it, runtime is aware of what type is TypeVariable inside GenericTestClass.

[2016-12-20 13:27] moghaddam commented on #3
You're right @bravehorsie :wink: It works in my scenario too. I just updated unmarshaller classes for all numeric types and added a test for each one

[2016-12-22 00:38] m0mus commented on #3
Fixed and pushed to master.

[2016-12-22 00:38] #3 closed

[2016-12-26 19:57] moghaddam opened #6 "Null OptionalInt deseralized as null"
Null values for optional properties (e.g. Optional, OptionalInt, OptionalLong, OptionalDouble) as mentioned on chapter 3.14.1, should be deserialized as corresponding "empty" value (e.g. OptionalInt.empty(), etc.) but they're getting deserialized as Null values.

[2016-12-26 21:04] m0mus commented on #6
Original issue on Yasson forum: https://www.eclipse.org/forums/index.php/t/1083307/

[2016-12-28 22:51] m0mus commented on #6
@moghaddam, if you don't mind, I assigned it to you. :)

[2016-12-28 22:53] moghaddam commented on #6
I was just checking this issue and I found a solution which solves the problem when the property is an  Optional type. But I just noticed that it doesn't work when it's a generic type. I actually tried to add a new property to PropertyModel class (named optional of boolean type) and then on the PropertyModel constructor, added following initialization:

        this.optional = (propertyType == Opt

[2016-12-28 23:00] m0mus commented on #6
@bravehorsie is owning this code. Roman, can you help here?

[2017-01-05 20:26] moghaddam opened #7 "SEVERE: Generating incomplete JSON error on binding a non public inner class"
SEVERE: Generating incomplete JSON happens when trying to serialize an instance of a class that is defined as non public inner class. Original issue on Yasson forum is [https://www.eclipse.org/forums/index.php/t/1083501/](https://www.eclipse.org/forums/index.php/t/1083501/).

I think non public nested classes are not supposed to be supported. So it should not be a bug, but it would be better to ha

[2017-01-06 15:46] bravehorsie commented on #6
Resolving TypeVariables happens during de/serialization runtime, they cannot be resolved when PropertyModel is created.

Consider:
`class Wrapper<T> {
  public T t;
}`
now you can't say what type T is, because:

`Jsonb runtime = JsonBuilder.create();`

`Wrapper<String> result = jsonb.fromJson(stringValJson, new Wrapper<String>(){}.getGenericSuperClass());` //<- PropertyModel for Wrapper<T> is init

[2017-01-09 15:56] m0mus commented on #7
According to the spec [3.7.1] only public and protected nested classes are supported. The exception could be more descriptive though.

[2017-02-10 13:00] #7 closed

[2017-02-10 13:04] m0mus opened #9 "Fix JsonbTransient on getters and setters"
If @JsonbTransient is placed on getter implementation must not serialize this property.
If @JsonbTransient is placed on setter implementation must not deserialize this property.
If @JsonbTransient is placed on field implementation must not serialize and deserialize this property.

[2017-02-10 13:06] m0mus opened #10 "Fix JsonbDateFormat on getters/setters"
If @JsonbDateFormat is placed on getter implementation must use this format on serialization.
If @JsonbDateFormat is placed on setter implementation must use this format on deserialization.
If @JsonbDateFormat is placed on field implementation must use this format on serialization and deserialization.

[2017-02-10 13:07] m0mus opened #11 "Fix JsonbNumberFormat on getters/setters"
If @JsonbNumberFormat is placed on getter implementation must use this format on serialization.
If @JsonbNumberFormat is placed on setter implementation must use this format on deserialization.
If @JsonbNumberFormat is placed on field implementation must use this format on serialization and deserialization.

[2017-02-12 12:16] cyberphone opened #12 "Typo: JsonObjectSerialzier.java"
Minor spelling error

[2017-02-17 11:03] m0mus commented on #12
Thanks for reporting! It's fixed.

[2017-02-17 11:03] #12 closed

[2017-02-27 16:48] moghaddam opened #14 "Publish Yasson to Maven Central"

[2017-02-27 20:37] m0mus commented on #11
Fixed by #13

[2017-02-27 20:37] #11 closed

[2017-02-27 20:41] m0mus commented on #10
@moghaddam For some reason I cannot assign you to this issue. Let's use this comment as an assignment confirmation. :)

[2017-02-27 20:42] m0mus commented on #9
@moghaddam For some reason I cannot assign you to this issue. Let's use this comment as an assignment confirmation. :)

[2017-03-01 12:11] #6 closed

[2017-03-01 12:12] bravehorsie commented on #6
Fixed impl, added tests for null deserialization into:
optionals in generic typevars, arrays and collections of optionals.

[2017-03-03 12:21] m0mus commented on #10
@moghaddam Is there any progress with it? I can reassign it if you are busy with other things.

[2017-03-03 12:21] m0mus commented on #9
@moghaddam Is there any progress with it? I can reassign it if you are busy with other things.

[2017-03-03 12:26] moghaddam commented on #10
Yes I've started this and I'm going to finish it this weekend ;)

[2017-03-03 12:27] moghaddam commented on #9
I noticed that it depends on fixing both #10  and #11. I'm going to fix this after finishing #10 (Date formatter issue)

[2017-03-05 00:24] moghaddam commented on #9
As mentioned in chapter 4.1.1. of the specification:

Such a restriction is already implemented in the RI. Now that I'm going to change it, should I apply this restriction on each scope? I mean if JsonbTransient is defined on getter method, should I prevent defining other annotation on the `getter` or it should be prevented to be defined for the `getter`, `setter` and `property` altogether (as it

[2017-03-06 11:22] m0mus commented on #9
This check has to be done on target where JsonbTransient annotation is present. It means that if you have it on a getter, no other Jsonb annotation are allowed on this getter. The same is for property and setter. I suppose it's the first option you suggested.

[2017-03-06 12:10] m0mus commented on #10
Tests on Hudson are failing. I suppose that it's because of different time zone. Please fix:

Failed tests:   testCustomDateFormatSerialization(org.eclipse.yasson.customization.JsonbDateFormatterTest): expected:<...ormattedDateField":"[11:11:10 ^^ 03-03-2017","getterAndFieldFormattedDateField":"11:11:10 <> 03-03-2017","getterAndSetterAndFieldFormattedDateField":"11:11:10 <> 03-03-2017","getterAndS

[2017-03-07 11:02] m0mus commented on #10
Hudson is OK now. Thanks for fixing it @moghaddam !

[2017-03-07 11:02] #10 closed

[2017-03-13 12:19] m0mus commented on #9
@moghaddam What's the ETA for this fix?

[2017-03-13 12:23] moghaddam commented on #9
I fixed this but I noticed a regression issue that I'll try to fix tonight.

On Mon, Mar 13, 2017, 13:19 Dmitry Kornilov <notifications@github.com>
wrote:

--

Sent from my cell phone

[2017-03-13 12:24] bravehorsie commented on #9
@m0mus That means if we have @JsonbTransient on property and @JsonbProperty on getter we are overriding @JsonbTransient with other annotation if exception is not thrown?

[2017-03-13 12:54] m0mus commented on #9
@moghaddam @bravehorsie In this case JsonbTransient annotation on property is mutually exclusive with annotations on getters and setters, but not vice versa.

[2017-03-13 13:43] moghaddam commented on #9
@m0mus I got it.

Just to make sure there is no misunderstanding, here is what to expect from the implementation:

* If a property is annotated with @JsonbTransient
  * then none of other annotations could be defined for either the property or its getter and setter

* if a getter is annotation with @JsonbTransient
  * then none of other annotations could be defined for the getter, but it would be

[2017-03-13 13:47] bravehorsie commented on #9
Last two statements appear to me being inconsistent. I would throw exception in all this cases, because for example:

- if a getter is annotated with @JsonbTransient
    then all annotations on "property" would be kind of overriden with @JsonbTransient

I would throw exception in all three cases.

[2017-03-13 14:19] moghaddam commented on #9
The JsonbTransient annotation on getter could be considered overridden **only** in serialization process. For deserialization they could still be used.

However @bravehorsie I think based on what is currently stated on spec, it's more likely that we should just throw exception in all these scenarios. In other cases, IMO it would make sense to make it more clear on spec too.

[2017-03-13 16:27] m0mus commented on #9
@moghaddam I agree with your last comment. IMO, it suppose to work like you described. I update the spec to clarify this behaviour.

[2017-03-17 11:19] m0mus commented on #9
Pull request is merged. Thanks @moghaddam !

[2017-03-17 11:19] #9 closed

[2017-05-03 05:09] Ravisankar-Challa opened #22 "PropertyNamingStrategy annotation"
Is there any annotation available to define property naming strategy per class level.

Similar to the one in jackson.
@JsonNaming(PropertyNamingStrategy.SnakeCaseStrategy.class)

[2017-05-03 06:38] moghaddam commented on #22
As per JSON-B spec, the naming strategy could only be defined by setting a JsonConfig and would be applied globally.

[2017-05-10 12:03] #22 closed

[2017-05-10 13:40] Ravisankar-Challa opened #23 "@JsonbPropertyOrder is not applied on renamed fields"
As per the spec JsonbPropertyOrder should be applied on renamed fields.

Section 4.2 last line: _The order is applied to already renamed properties as stated in 4.1._

https://java.net/projects/jsonb-spec/lists/users/archive/2017-05/message/4

@JsonbPropertyOrder(value = {"person_gender","person_name", "person_age"})
public class Person {
    private String personName;
    private int personAge;

[2017-05-10 15:04] bravehorsie commented on #23
I am not sure about this. If runtime is created several times with different naming strategies, it than would not work without changing names in annotation and recompiling. Same applies if property is renamed with @JsonbProperty. I would expect @JsonbPropertyOrder to always accept "bean names" and than order them as renamed by @JsonbProperty annotation or @PropertyNamingStrategy. @m0mus  please co

[2017-05-12 10:07] #23 closed

[2017-05-12 10:08] bravehorsie commented on #23
Fixed according to comments in latest snapshot.

[2017-05-19 21:15] webfolderio opened #24 "Certificate Error"
https://json-b.net gives certificate error.

https://www.ssllabs.com/ssltest/analyze.html?d=json-b.net

[2017-05-19 23:02] m0mus commented on #24
Try [http://json-b.net](http://json-b.net)
No certificate, no error.

[2017-06-08 08:10] cyberphone opened #26 "ES6 Compatible Parsing & Serialization"
ES6 (EcmaScript version 6) and forward specifies very specific rules for serialization including "predictive property" order.   This may appear strange but for a _human_ creating the properties A, B, C and getting them serialized as A, C, B is slightly awkward, although completely compatible with JSON.

In addition, ES6 also specifies strict rules for serializing numbers which are quite different

[2017-06-08 09:53] m0mus commented on #26
@cyberphone Thanks for your comment. The feature set for Yasson 1.0 is already closed. We will get back to this when we plan next version features. I am also suggesting to add a feature request to JSON-B here: https://github.com/javaee/jsonb-spec

[2017-06-09 11:19] AdamLindenthal opened #27 "Custom JsonbAdapter is callled twice for the 1st element"
My use case is "inspired" by the original yasson `PolymorphismAdapter`. I try to serialize an object, that contains list of `Animal` subtypes. The first item of the list is being wrapped twice by the adapter.

Serialized structure (simplified):
[code]

Custom adapter & TypeWrapper:
[code]

Actual result:
[code]

Expected result:
[code]

[2017-06-12 15:44] #27 closed

[2017-06-12 15:51] bravehorsie commented on #27
Fixed issue with StackOverflowError. Slightly modified code from your example is included in PolymorphicAdapterTest.java
Please note however that during deserialization into Animal (which is property of LocalTypeWrapper), properties missing in Animal class are ignored. This can be implemented correctly with javax.json.bind.serializer.JsonbDeserializer.

[2017-06-26 21:11] ullenboom opened #28 "POM from example still using 1.0-SNAPSHOT"
This should change to 1.0

[2017-06-26 21:13] ullenboom opened #29 "yasson-snapshots not necessary anymore for release 1.0"
From the POM in the example this can be removed:

[code]

[2017-06-26 21:15] ullenboom opened #30 "Dog example can't deserialize/parse given JSON string"
The line

`dog = jsonb.fromJson("{name:\"Falco\",age:4,bitable:false}", Dog.class);`

is giving an exception. However

`dog = jsonb.fromJson( "{\"age\":4,\"bitable\":false,\"name\":\"Falco\"}", Dog.class );`

works.

[2017-06-26 21:21] ullenboom opened #31 "new ArrayList<Dog>(){}.getClass()); not working in example, is giving exception"
Here is my example:

[code]
This will give:

[code]

[2017-06-26 21:38] ullenboom opened #32 "Can't marshal an innocent java.awt.Point"
Jsonb jsonb = JsonbBuilder.create();
    String jsonString = jsonb.toJson( new Point( 12, 3 ) );

is producing a stack overflow:

[code]

[2017-06-27 20:08] #24 closed

[2017-06-27 20:11] m0mus commented on #28
Are you talking about samples on json-b.net web site?

[2017-06-27 20:53] ullenboom commented on #28
yes

[2017-07-10 16:01] m0mus commented on #30
Thanks for pointing on it. Fixed 'Getting Started' page should be available on json-b.net now.

[2017-07-10 16:01] #30 closed

[2017-07-10 16:02] m0mus commented on #29
Fixed.

[2017-07-10 16:02] #29 closed

[2017-07-10 16:02] m0mus commented on #28
Fixed.

[2017-07-10 16:02] #28 closed

[2017-07-10 16:03] m0mus commented on #31
There is an error in the sample code. It must be getClass().getGenericSuperclass();
I fixed it.

[2017-07-10 16:03] #31 closed

[2017-07-10 16:23] m0mus commented on #32
java.awt.Point class is not as innocent as may look like. It is not a Java Bean because it has public fields (x, y) and getter and setter for these fields, but returning different type (double vs int). It also has a static constructor getLocation which is named as a getter. All of these making problems using it with JSON-B API. It's not a Yasson bug. We added converters and serializers/deserialize

[2017-08-01 22:04] marschall opened #33 "module-info lacks dependencies"
The [module-info](https://github.com/eclipse/yasson/blob/4b2e6d8c8b4f53d8144fdb188e72f67181d6d780/src/main/java/module-info.java#L14) lists only two dependencies:

* `java.json`
* `java.json.bind`

This is incomplete, several dependencies are missing including the following
* `java.desktop` used for `java.beans.Introspector` by [ClassParser](https://github.com/eclipse/yasson/blob/4b2e6d8c8b4f53d81

[2017-08-02 12:31] moghaddam commented on #33
Thank you @marschall

I just added most of them except from CDI which unfortunately is not modularized yet.

[2017-08-02 12:41] marschall commented on #33
`java.logging` is still missing.

`java.desktop` is only used for `Introspector.decapitalize` likely a compliant reimplementation could be written and the dependency to `java.desktop` removed? Shall I open a separate issue for this?

[2017-08-02 12:55] moghaddam commented on #33
You're right. I misinterpreted the `jdeps` output. `java.logging` is now added. Also regarding the `java.desktop`, I think it would be better to let it be there. It's highly probable that we would need other APIs provided by that module in order to process Java beans.

[2017-08-02 12:57] marschall commented on #33
Very well. Should I close this issue, do you want to close it or leave it open?

[2017-08-02 12:58] moghaddam commented on #33
I'll close it. Thanks for the contribution.

[2017-08-02 13:00] #33 closed

[2017-08-09 14:32] ggam opened #34 "NullPointerException when @JsonbTransient is applied on property without setter"
I'm using Yasson 1.0.

Having the following mapping:
[code]

`AnnotationIntrospector` searches for a `@JsonbTransient` on a `setBar(String)` method and since it can't find it, it marks the property as "writeable":

[code]

But later on `introspectCustomization` it tries to do some checks on that setter method that does not exist:
[code]

Resulting in the following stacktrace:
[code]

Workaround fo

[2017-08-26 21:30] jShiwaniGupta opened #38 "NullPointerException on REST request"
Hi there,

I am getting NullPointerException on REST request through arquillian test.

Exception stacktrace :
[code]

Thanks for help :)

[2017-08-30 12:48] m0mus commented on #34
I confirm that this issue exists. Roman, please take a look.

[2017-08-30 12:51] m0mus commented on #38
It's difficult to do anything without a code which reproduces the issue.

[2017-08-30 13:00] m0mus opened #39 "Nillable customizations ignore default rules for processing classes"
If JsonbNillable annotation is present on a class or jsonb engine is created with withNullValues(true) setting, private and static fields are present in the target JSON document with 'null' values regardless of the actual value they have. According to the spec, private and static fields must be ignored.

Sample:

[code]

Result of serialization:

[code]

[2017-08-30 18:11] m0mus commented on #39
Fixed.

[2017-08-30 18:11] #39 closed

[2017-08-30 18:41] m0mus commented on #34
Fixed.

[2017-08-30 18:43] ggam commented on #34
Thanks Dmitry!

El mié., 30 de agosto de 2017 20:41, Dmitry Kornilov <
notifications@github.com> escribió:

[2017-08-30 18:49] m0mus commented on #32
I'll close because it looks like the discussion is over.

[2017-08-30 18:49] #32 closed

[2017-09-04 17:37] jShiwaniGupta opened #40 "Stackoverflow Error"
Hi,

I am getting stackoverflow error in following scenario :
Data saved using JPA(Eclipselink) and after the server restart, if data is fetched then greeting the stackoverflow error.

Stacktrace :
[code]

[2017-09-05 10:00] bravehorsie commented on #40
Hi @jShiwaniGupta

Do you have bidirectional reference in you pojos? We don't check for bidirectional references in any way.

[2017-09-06 09:50] redmitry opened #41 "@JsonbProperty doesn't work"
Hello,

I found no way to make it work.

[code]
In private field it is ignored. If I put @JsonbProperty("doi") either on getter, setter or both I get:

[code]
I use yasson 1.0 from maven repository.
Thank you.

[2017-09-06 10:03] bravehorsie commented on #41
Thanks @redmitry , will take a look,
As a workaround you can rename access methods to getDoi() setDoi().

[2017-09-06 10:08] redmitry commented on #41
Yeah.
It looks like clashes with default property naming strategy.

Thank you very much.

[2017-09-11 13:46] dAti opened #42 "Serializing a map doesn't use serializers"
When I have a map with a Date object it isn't serialized according to serializers and configuration eg

[code]

Returns this json:

`{"dateTime":"2017","properties":{"testtest":"2017-09-11T15:44:34.979"}}
`

The first date is okay but the second one is not using the configured format ("yyyy").

You can find a working example here:

https://github.com/dAti/yassonkaput/tree/master/src/test/java

[2017-09-12 09:54] m0mus opened #43 "Date format customisation is ignored if custom instantiation is used"
Use case:

[code]

[2017-09-12 19:04] jShiwaniGupta commented on #40
Not sure atm, as I was just playing last week with sample project, after the restart of docker container, got stackoverflow error.

[2017-09-12 19:13] jGauravGupta opened #44 "java.time.ZonedDateTime parsing error"
Getting `DateTimeParseException` exception for `ZoneDateTime`  '2017-09-06T18:30:00.000Z' during deserialization process.

[code]

[2017-09-14 05:47] #44 closed

[2017-09-14 07:21] bravehorsie commented on #40
I am closing this for now, if you encounter this problem again please attach some reproducible snippet.

[2017-09-14 07:21] #40 closed

[2017-09-14 14:30] bravehorsie commented on #43
Fixing introspecting creator parameters in attached pull request, I am not sure though we should also merge customization from property field / getter / setter.

[2017-09-16 11:20] #42 closed

[2017-09-16 11:31] m0mus commented on #38
@jShiwaniGupta please attach a code with reproducible test otherwise I'll close this issue as not reproducible.

[2017-09-16 14:04] readlearncode opened #47 "Serialising enum uses toString() method not name() as specified in section 3.9 of specification"
**Given the enum:**

[code]

**JSON is:**

[code]

The binding value is the value returned by the overridden `toString()` method rather than the `name()` method. This is in contrast to my reading of the specification, which says:

The name method returns the identifier rather than the `toString()` value.

**Dependecies:**
org.eclipse/yasson: 1.0
javax.json.bind-api: 1.0
org.glassfish/javax.json: 1

[2017-09-16 14:04] readlearncode opened #48 "Serializing 'naked' enum throws exception java.lang.IllegalAccessException"
Serialising an enum throws the following edited exception:

[code]

**The enum:**
[code]

The serialisation code: `JsonbBuilder.create().toJson(Binding.HARD_BACK);`

**Dependecies:**
org.eclipse/yasson: 1.0
javax.json.bind-api:  1.0
org.glassfish/javax.json: 1.1
javax.json/javax.json-api: 1.1

CODE: https://github.com/readlearncode/Java-EE-8-Sampler/blob/master/json-b-1-0/src/main/java/com/readlea

[2017-09-16 14:05] readlearncode opened #49 "Deserialisation of nested class fails with compliant: No default constructor found"
Attempting to deserialize nested class with constructor defined throws **JsonbException: No default constructor found**.

**Given Json String:**
` {"name":"Inner Class"}`

and

**Class structure:**
[code]

My reading of the specification section 3.7.2 (Nested Classes) and 3.7.1 (Scope and Field access strategy) is that the above deserialization scenario should work.

Note that adding default const

[2017-09-18 10:38] bravehorsie commented on #49
In section 3.7 it is defined:

(Throwing an error because of missing no-arg constructor is what happens now using yasson 1.0)

By nature of non-static nested classes, those cannot have default no-arg constructor, because of outer class instance passed inside.

@m0mus what is your objection on that? Does quoted 3.7 statement apply for non-static nested classes?

[2017-09-21 09:14] bravehorsie commented on #26
Hi @cyberphone ,
Property order and number serialization format are forced by spec.
3.13 Attribute order
3.3.2 java.lang.Byte, Short, Integer, Long, Float, Double
So we can't do anything about that in RI until specification is changed.
I have looked at ECMA-262 (EcmaScript 2015) specification, but can't find anything related to serialization into json document. Can you please point me?

You are re

[2017-09-22 05:54] cyberphone commented on #26
Hi @bravehorsie

3.13 Attribute order
3.3.2 java.lang.Byte, Short, Integer, Long, Float, Double
So we can't do anything about that in RI until specification is changed.

I see.  I tried to find the spec but didn't succeed :-(

ES6 reference: http://www.ecma-international.org/ecma-262/6.0/ECMA-262.pdf
- Number serialization: 7.1.12.1
- Defined property order: 9.1.12

The above is currently supporte

[2017-09-22 12:20] ymajoros commented on #42
Any idea when this will be released?

[2017-09-25 10:46] #47 closed

[2017-09-25 10:46] #48 closed

[2017-09-25 10:50] #41 closed

[2017-09-25 10:51] m0mus commented on #38
We cannot reproduce it without a test scenario. Closing it.

[2017-09-25 10:51] #38 closed

[2017-09-28 18:02] redmitry opened #54 "List<> property setter is not called if not annotated."
Hello,

I have both getter / setter for the List.

[code]
When where is no annotation for the setter, it is not called on the deserialization.

Is this normal?

Kind regards,

P.S. in JAXB to deserialize it is enough to have only getter which returns an empty collection.

[2017-09-28 19:26] moghaddam commented on #54
Hi

You can place `@JsonbProperty` on top of field, getter or setter separately. So if you don't place it on top of the setter, it would not be called on deserialization. If you need it on both serialization and deserialization, it would be better to put it once on top of the property itself.

Regards
Ehsan

[2017-09-28 20:31] redmitry commented on #54
I think putting it on the top of private property would have no effect.
On the other hand with the example the problem is (as I understand) that whithout @JsonbProperty on the setter it expects "publication**s**". This is the difference between JAXB / Jackson.

Tank you very much for the clarification.

[2017-09-28 20:31] #54 closed

[2017-10-02 14:40] #43 closed

[2017-10-02 14:44] bravehorsie commented on #26
Defined property order: 9.1.12

Thank you

You can download jsonb spec here:
http://download.oracle.com/otndocs/jcp/json_b-1-final-eval-spec/index.html

[2017-10-02 17:51] cyberphone commented on #26
Thanx!
The specs surely are different.

I'm not a expert on annotations but it would be cool if you could through such enable ES6 compatibility if changing the specification is not an option.

However, respecting the original property order is IMHO always useful since you for documentation/debugging purposes typically prefer
[code]
before

[code]

I have managed doing that in Python and .NET throu

[2017-10-05 13:47] priyal85 commented on #34
Hi Dmitry,
I'm too facing the same issue when using Jersey which internally uses yasson for JSON bindings. In which version the fix is available. I'm still getting the issue in  1.0 which is released on June 2017.

[2017-10-06 12:37] m0mus commented on #34
Hi,

This issue is fixed and will be shipped in the next Yasson release (1.0.1). We are working on this release now and it will be available to public next week.

Thanks,
Dmitry

[2017-10-15 17:36] dirkweil opened #56 "Deserialization not working for classes with a protected no-arg constructor"
[Dog.txt](https://github.com/eclipse/yasson/files/1385635/Dog.txt)
In my reading section 3.7 of the spec allows a class with (just an) protected no-arg constructor to be deserialized with JSON-B. Yasson complains abount this:

Exception in thread "main" javax.json.bind.JsonbException: Can't create instance
	at org.eclipse.yasson.internal.ReflectionUtils.lambda$createNoArgConstructorInstance$1(Refl

[2017-10-16 16:21] readlearncode opened #57 "Unexpected behaviour from @JsonbTypeAdapter when marking a field"
Changing the order of the fields in a Java Bean changes the behaviour of `JsonbAdapter`.

Given the `JsonbAdapter` :
[code]
And the Java Bean:

[code]
The `adaptToJson()` method is called twice, once for the `firstName` field and again for the `lastName` field. Change the order of the fields as follows:

[code]
and only the `firstName` field is passed to the `adaptToJson()` method.

Code is here:

[2017-10-16 16:26] readlearncode opened #58 "Inconsistency between spec and Yasson"
The relates to the implementation of custom Serializers and Deserializers

In the spec (4.7.2 Serializers/Deserializers) the annotations for setting the custom Serializers and Deserializers are specified as `@JsonbSerializer` and `@JsonbDeserializer` however in Yasson they are implemented as `@JsonbTypeSerializer` and `@JsonbTypeDeserializer`.

This would become an issue when swapping out one impl

[2017-10-16 22:02] m0mus commented on #56
This issue has been fixed in Yasson 1.0.1 be this pull request: https://github.com/eclipse/yasson/pull/37.
This version is not released yet. Please try a snapshot version.

[2017-10-16 22:03] #56 closed

[2017-10-18 15:30] hei1233212000 opened #59 "Can Yasson support something like the @JsonIgnoreProperties of Jackson?"
I encountered an issue in Groovy - https://github.com/hei1233212000/yasson-groovy-not-working
where Yasson is trying to invoke some getter which has method arguments needed. e.g: MetaClass.getAttribute(Class sender, Object receiver, String messageName, boolean useSuper)

[2017-10-25 13:47] dirkweil opened #60 "Fields marked as JSON properties by PropertyVisibilityStrategy are not (de)serialized"
Yasson ignores private fields without public setters for desrialization even if fields are marked as JSON properties by means of a PropertyVisibilityStrategy:

Assuming the classes

@JsonbVisibility(JsonAccessType.AllFieldsVisibilityStrategy.class)
public class Country {

  private String name;

  public String getName() {
    return this.name;
  }
// ...
}

public interface JsonAccessType {
  pub

[2017-10-26 16:20] stjepano opened #61 "Can not serialize generic collection wrapped in generic class"
When trying to serialize a generic collection in generic class like this:

[code]

throws an exception:

[code]

Was expecting to get `{data:[]}`

It works if I provide runtimeType like this:

[code]

but still this seems as a bug

Java:
[code]

Dependencies:

[code]

Test case:

https://github.com/stjepano/yasson-generic-collection-wrapper-bug

[2017-10-27 00:56] codyebberson opened #62 "Consider renaming messages.properties"
Yasson's resource strings for error messages are stored in "yasson/src/main/resources/messages.properties".

Unfortunately, this is a very common file name.  If a developer creates a "fat jar" (for example, with the Maven Shade Plugin), then the "messages.properties" file can be overwritten.  If that happens, users are confronted with a rather confusing situation.

[code]

There are potential work

[2017-10-27 01:47] codyebberson opened #63 "Ignore "get"/"is" methods that have arguments"
Example:

[code]

Actual:
[code]

[2017-10-27 13:20] #57 closed

[2017-11-29 23:08] etay2000 opened #67 "JsonArray of type with custom deserializer not properly deserialized."
[code]

Only the first item in the array is deserialized, so the resulting collection always only contains one item.

[2017-12-01 16:03] jhanders34 opened #68 "Date marshal / unmarshal fails"
The JSON-B spec states:

3.5.1 java.util.Date, Calendar, GregorianCalendar
The serialization format of java.util.Date, Calendar, GregorianCalendar instances with no time
information is ISO_DATE.

If time information is present, the format is ISO_DATE_TIME.

Implementations MUST support deserialization of both ISO_DATE and ISO_DATE_TIME into
java.util.Date, Calendar and GregorianCalendar instances.

[2017-12-01 16:12] jhanders34 commented on #68
I have not tried it, but I assume java.time.LocalDate will also have this same issue since it does not include a time component.

[2017-12-05 21:10] m0mus commented on #63
Pull request was merged. Closing the issue.

[2017-12-05 21:10] #63 closed

[2017-12-05 21:12] m0mus commented on #59
I don't see problems doing it. @bravehorsie, any concerns?

[2017-12-06 10:34] bravehorsie commented on #59
We do have [@JsonbTransient](https://static.javadoc.io/javax.json.bind/javax.json.bind-api/1.0/javax/json/bind/annotation/JsonbTransient.html) to supply similar functionality.

There are no problems adding it, but the annotation itself should be added to jsonb spec project.

[2017-12-06 10:45] hei1233212000 commented on #59
Hi @bravehorsie, I see a little bit different between the [@JsonIgnoreProperties](https://fasterxml.github.io/jackson-annotations/javadoc/2.6/com/fasterxml/jackson/annotation/JsonIgnoreProperties.html) and the [@JsonbTransient](https://static.javadoc.io/javax.json.bind/javax.json.bind-api/1.0/javax/json/bind/annotation/JsonbTransient.html)

You can NOT mark the field or property as transient by [@

[2017-12-06 11:22] bravehorsie commented on #59
@hei1233212000 sure, I didn't mean they are identical.

If you can't modify the code, how would you apply @JsonbIgnoreProperties? It's meant to be used class level right?

[2017-12-06 11:24] hei1233212000 commented on #59
@bravehorsie yes, use the @jsonbignoreproperties in class level

[2017-12-07 09:57] #61 closed

[2017-12-07 10:08] #62 closed

[2017-12-07 23:30] grimly opened #69 "Failure to find parametrized type by 2 levels on implementation"
Consider the following code : https://gist.github.com/grimly/3127a54f1269e7b188fe39d5195f559f

I was expecting the ability to use a single interface to extend all those attribute converters out there (AttributeConverter from JPA, JsonbAdapter from JsonB) but then I ran into the following error :

[code]

[2017-12-08 00:50] grimly commented on #69
You may use [my branch](https://github.com/grimly/yasson/tree/adapter-with-intermediate-interface) which has a test case reproducing this behavior.

[2017-12-08 12:10] tnn opened #71 "Java 9 module-info.java missing cdi.api"
The [module-info.java](https://github.com/eclipse/yasson/blob/master/src/main/java/module-info.java) targeted for Java 9 is missing a `requires` clause for the `cdi.api` Java EE jmod, which when used with fx `jersey-media-json-binding` will cause an exception like:
[code]
Rendering the library unusable (it can not recover from the access permission), unless you do explicitly opens up whenever you

[2017-12-08 12:20] tnn opened #72 "Java 9 Messages.java uses non-accessible ResourceBundle.Control"
From [ResourceBundle.java](https://docs.oracle.com/javase/9/docs/api/java/util/ResourceBundle.html):

## Resource Bundles in Named Modules

When resource bundles are deployed in named modules, the following module-specific requirements and restrictions are applied.
 - Code in a named module that calls getBundle(String, Locale) will locate resource bundles in the caller's module (caller module).
 -

[2017-12-08 12:28] tnn opened #73 "Java 9 NumberFormatTest fails"
When running on Java 9 [1], there is a number of test failures due to what appear to be Locale problems. The full test suite passes on same machine with Java 8u144.

[code]

## Details
### org.eclipse.yasson.customization.NumberFormatTest#testDeserializer
[code]
### org.eclipse.yasson.customization.NumberFormatTest#testSerialize
[code]
### org.eclipse.yasson.customization.NumberFormatTest#testSeri

[2017-12-08 13:04] grimly commented on #73
This is not a java version issue but purely a locale issue. I encountered the same since I'm french.

I submitted the PR #70 in order to fix it. I can't make the requested changes at my work place but this can be fixed by this weekend.

[2017-12-12 07:55] #73 closed

[2017-12-12 08:09] bravehorsie commented on #71
Thanks @tnn it should probably be "requires static cdi.api", since dependency is optional at runtime. Another consideration is that cdi-api:2.0 does not declare any module, I assume you got automatic one by putting it on module path. In that case we can't assume everyone will do the same. It is better to leave that undeclared, to give users ability to use it either from module path or classpath.

[2017-12-12 08:09] #71 closed

[2017-12-12 08:49] #69 closed

[2017-12-13 15:04] bravehorsie commented on #68
@jhanders34 can you please provide an example? What type are you deserializing ISO_DATE into?

[2017-12-16 04:08] swhp opened #75 "How to Integrate with JPA"
I've experience with JSON-B and Yasson on my Java EE 7 project and I'm tried to put the Jsonb annotations alongside with JPA annotations, for example something like this

[code]

When I tried to request into my endpoint I'm encounter two problem:

1. It seems the JPA properties was also serialized by Jsonb, I got my response like below.

[code]

**How could I remove the JPA properties from my resp

[2017-12-16 18:55] Xsylum opened #76 "JSON-B adapters + JAX-RS 2.2 + hot-deploying = not cool"
## Short version

### Cannot use hot-deploy with adapters

When using `JsonbTypeAdapter`, hot deploying makes the adapters unusable. Configuration is:

 - Payara 5.0.0.Alpha3 Full
 - Java EE 8: same behaviour whether using `javaee-web-api` (standalone war module) or `javaee-api` (ear application made of 1 x Ejb + N x web)
    - aiming for JAX-RS 2.2
    - using JSON-P 1.1 and JSON-B 1.0
 - Yasson

[2017-12-22 09:00] toellrich opened #77 "Deserializer not working in conjunction with @JsonbCreator"
I'm in the process of evaluating whether Jackson can be replaced with Yasson. First of all, I have to say I was bit surprised that java.util.UUID is not supported out of the box. So I wrote a custom deserializer. That works fine when using objects that have a public constructor and getter/setter methods, but not when using objects that have a constructor annotated with `@JsonbCreator`. I'm using Y

[2017-12-27 17:29] jcoronel94 commented on #68
@jhanders34 Experiencing the 2nd issue as well.  I have an entity as follows (truncated for brevity). The Date here is java.util.Date.

`@Entity
@Table(name = "TBLACCOUNT")
public class Account implements Serializable{

	private static final long serialVersionUID = -8039686696076337053L;

	@Id
	@GeneratedValue(generator = "account_sequence", strategy=GenerationType.SEQUENCE)
	@SequenceGenerator(na

[2018-01-02 15:38] bravehorsie commented on #75
1. There is similar [issue](https://github.com/eclipse/yasson/issues/59) considering @JsonbIgnoreProperties to be added. It may worth to consider adding @JsonbIncludeProperties.

2. You should have no issues annotating static final field with @JsonbTransient. I did so in test and did not receive any exception.

[2018-01-16 11:21] m0mus commented on #75
static field should not be serialized. Are you using the latest version of Yasson? I remember fixing static fields bug.

[2018-01-16 13:39] swhp commented on #75
Yes, I think have something like `@JsonbIncludeProperties` would be awesome, at least it's help to exclude another information such like the JPA like what I've encounter.

I'm using Yasson version `1.0` I thought it was the latest version, but may I know what is the latest version of Yasson that available right now?

[2018-01-17 21:43] jhanders34 commented on #68
Here is a test that shows the problem.  Only the last test works.
[code]

[2018-01-17 21:50] jhanders34 commented on #68
@bravehorsie based off of the test I provided above it appears that the sqlDate unmarshall scenario needs to do something similar to unmarshalling of a LocalDate object.  java.util.Date / java.sql.Date do make things a little complicated.

[2018-01-18 11:13] redmitry opened #81 "Property doesn't deserialize"
Hello,

I have an issue with a property deserialization:
[code]
Please take a look at the attached maven test project.

Dmitry

[2018-01-18 11:14] redmitry commented on #81
[yasson.zip](https://github.com/eclipse/yasson/files/1642613/yasson.zip)

[2018-01-18 14:39] moghaddam commented on #81
Hi @redmitry

Seems it's due to a bug in deserialization that happens in an edge case like the one you provided.

When we have a pair of getter/setter methods that are not named based on JavaBean convention (as in your case, your property is named 'api' but its getter/setter methods are not getApi and setApi) and then you explicitly define the `@JsonProperty` for getter/setter method providing the

[2018-01-19 12:48] minfrin opened #82 "JsonbException while marshalling: Invalid count of arguments for setter"
I have a large project that uses cxf-xjc-plugin to autogenerate JAXB bindings for a series of XSDs, and this is able to marshall XML without a problem.

We recently tried to use Jersey's JSON marshalling option, and this has been failing for us with the following exception below.

`
javax.json.bind.JsonbException: Invalid count of arguments for setter: public void javax.xml.datatype.XMLGregorianCa

[2018-01-21 16:52] afrunt opened #83 "Unable to obtain Instant from TemporalAccessor: {},ISO,UTC resolved to 2018-01-19 of type java.time.format.Parsed"
Error parsing java.util.Date with custom format. As shown in official guide

<img width="1036" alt="screen shot 2018-01-21 at 6 49 45 pm" src="https://user-images.githubusercontent.com/5786736/35196547-2ece6a56-fedc-11e7-9328-ede1e3e1a788.png">

Steps to reproduce
1. clone maven project from here https://github.com/afrunt/junk/tree/master/yasson-bug
2. run mvn clean package and review the output

[2018-01-22 10:34] m0mus commented on #75
1.0.1
https://github.com/eclipse/yasson/releases

[2018-01-22 10:51] m0mus commented on #49
@readlearncode Thanks for pointing on this. This is a spec issue. Non-static inner classes support should be removed completely or for deserialization only. I created an issue in JSON-B spec issues tracker here:
https://github.com/javaee/jsonb-spec/issues/68

Closing this issue.

[2018-01-22 10:51] #49 closed

[2018-02-01 12:43] bravehorsie commented on #83
This happens because Yasson is using java.time.format.DateTimeFormatter for handling java.util.Date and java.util.Calendar, which is declared by spec. (See javadoc of `@JsonbDateFormat` and spec document section 3.5).

Java 8 time API declares in  design notes:
The API has been designed to reject null early and to be clear about this behavior.

It is unlucky we have such an example in the official

[2018-02-01 13:11] afrunt commented on #83
Thanks! @bravehorsie
Looks tricky, but it is better, than nothing

[2018-02-01 13:41] bravehorsie commented on #83
I am open to any suggestion to make it better.

[2018-02-01 13:59] bravehorsie commented on #83
Please note you can still use HH:mm:ss in patterns when ZERO_TIME_DEFAULTING is on, it just defaults to zero when these are not present.

[2018-02-01 20:36] m0mus commented on #83
I don't like the suggested property name. Suggesting to rename it to DATE_TIME_DEFAULTS or ZERO_TIME_AUTOFILLING or ZERO_TIME_DEFAULTS but not DEFAULTING, it looks strange for me.

[2018-02-02 09:47] bravehorsie commented on #83
DEFAULTING suffix is aligned to method name in  java.time.format.DateTimeFormatterBuilder, which is used in order to avoid rejecting null values by the java.time API. (See https://docs.oracle.com/javase/8/docs/api/java/time/format/DateTimeFormatterBuilder.html#parseDefaulting-java.time.temporal.TemporalField-long- )

Maybe it can be ZERO_TIME_PARSE_DEFAULTING than.

[2018-02-05 16:49] bravehorsie commented on #68
Thank you! @jhanders34
I went through the tests and LocalDate is working fine, there is just a mistype in testMarshallLocalDate() where you are passing a SqlDateObj for marshalling.

java.sql.Date did really need an update, we hadn't support for that at all. If you now have a property of a type java.sql.Date everything will work out of the box.
If you have a property of type java.util.Date with ja

[2018-02-05 17:22] jhanders34 commented on #68
@Temporal(TemporalType.DATE)
    private java.util.Date date;

If the attribute is of type java.util.Date, but there is a @Temporal annotation defined as type DATE, can the logic be updated to handle that?  That way it doesn't need to be declared as a java.sql.Date.

[2018-02-08 12:12] bravehorsie commented on #68
Yasson should not know anything about JPA, neither have dependency to its API. Jsonb API is what is supposed to be used when working with Yasson.

[2018-02-09 22:44] #68 closed

[2018-02-10 11:54] AliBassam opened #88 "java.util.Date throws an exception"
I have a POJO with a java.util.Date field. When using Yasson with JAX-RS, the application throws the following exception, is it trying to serialize it as a java.sql.Date?

  StandardWrapperValve[javaee.MyRestApp]: Servlet.service() for servlet javaee.MyRestApp threw exception
java.lang.UnsupportedOperationException
	at java.sql.Date.toInstant(Unknown Source)
	at org.eclipse.yasson.internal.seriali

[2018-02-12 10:18] m0mus opened #89 "Pretty formatting"
Currently, if pretty formatting is switched on, Yasson formatting source code this way.
[code]

it would be great if keys and values are placed on the same line like this:
[code]

[2018-02-12 10:22] m0mus opened #90 "@JsonbPropertyOrder enchancement"
If property order annotation with incomplete list present, properties not included in the annotation are not sorted using order specified in the JsonbConfig.withPropertyOrderStrategy(...).

[2018-02-12 10:40] bravehorsie commented on #89
Formatting (pretty print) is actually generated by JSONP and I would expect result to be as formatted in second example.

See - https://github.com/javaee/jsonp/blob/b7bec3e0f9468839857421bc0e84e9d9a8f298a3/api/src/main/java/javax/json/stream/JsonGenerator.java#L170

[2018-02-12 10:57] m0mus opened #91 "@JsonbTypeAdapter on type doesn't work"
Placing @JsonbTypeAdapter annotation on type as it's shown below makes no effect.

[code]

[2018-02-12 12:47] Verdent commented on #67
I was not able to reproduce this issue against master branch. Could you please tell me which version do you use it against?

[2018-02-12 14:25] #77 closed

[2018-02-12 15:22] etay2000 commented on #67
I just double checked and I can reproduce it on 1.0.1. I still only get 1 value in the resulting set.
The last line in my example should actually be:
`// values only contains first item from the JsonArray [ 'FOO' ]`
)

[2018-02-12 17:28] m0mus commented on #67
There is a chance that this issue is fixed in master but not fixed in 1.0.1.
@Verdent, can you please check it.
If so, close the issue as fixed.

[2018-02-12 17:33] m0mus commented on #88
No, it doesn't. Please provide as with a test case which we can use to simulate this issue.

[2018-02-12 17:38] m0mus commented on #72
Thanks for detailed explanation. It makes sense to me. On the other hand we would like to avoid using multi-release jars. We will think what we can do. @bravehorsie any ideas?

[2018-02-12 17:40] m0mus commented on #81
@moghaddam any progress here?

[2018-02-12 20:48] AliBassam commented on #88
[javaee.zip](https://github.com/eclipse/yasson/files/1717691/javaee.zip)

This is a very small JAX-RS 2.1 app with embedded H2 database, just generate the war file and deploy. The import.sql file is generated a few records with date. In case you hit /rest/student/all in the browser you can see the exception thrown.

Thanks.

[2018-02-12 21:03] tnn commented on #72
@m0mus thanks for the response and the work on trying to standardizing json annotations.
However, given the response on a few other PRs/issued and the lack on response on this, we had to find another solution. We have removed javax.json.bind from our code base, it was simply faster to switch it out with jackson than trying to fix. Given our current problems with jaxb-(api|runtime) - it's not possi

[2018-02-12 23:35] moghaddam commented on #81
Yes, I think I fixed it finally.

[2018-02-14 15:15] aguibert opened #95 "NPE in AnnotationIntrospector"
I am attempting to convert the following class to a JSON object:

[code]

This fails with the following exception:
[code]

Still digging into what caused this so I can provide a more detailed explanation, but at the very least we should not be getting NPEs out of Yasson code with poor error messages like this.  Need to be more descriptive on what the user may have done wrong and how the issue can

[2018-02-14 16:05] aguibert commented on #95
Looks like the culprit was the `board` attribute.

This issue was discovered on an OpenLiberty beta, which uses yasson 1.0.  It looks like this issue has been fixed in version 1.0.1, so I'm going to cancel this issue.

[2018-02-14 16:05] #95 closed

[2018-02-15 10:22] Verdent commented on #60
Hi,
I was able to reproduce this issue at version you have mentioned. I have also verified that this is no longer an issue when I ran your test against the master.

[2018-02-15 10:23] Verdent commented on #67
I have verified that this is issue at 1.0.1 but no longer at 1.0.2. I would say it is ok to close this issue.

[2018-02-15 12:48] #67 closed

[2018-02-15 12:49] #60 closed

[2018-02-16 16:00] aguibert opened #96 "SimpleTest fails when using a different JSON-P impl"
Yasson should work with any spec compliant JSON-P 1.1 implementaiton.  If I try to use Yasson with Apache Johnzon, serializing a simple POJO with a String attribute fails with the following error:

[code]

This used to work with Yasson 1.0, and seems to have regressed in Yasson 1.0.1.

This can be easily reproduced by changing the JSON-P dependency from `org.glassfish:javax.json` to `org.apache.jo

[2018-02-16 16:30] aguibert commented on #96
It seems the regression was caused by this commit:
https://github.com/eclipse/yasson/commit/d07215438772598407ba9842514e0030b403faf4#diff-44d72b506105258cffab226412abc88b

Looks like if we have the class:
[code]
Then Yasson will write this by effectively doing:
`generator.writeStartObject​().write("foo").write("bar).writeEndObject​()`

Johnzon seems to interpret the JSON-P spec as requiring:
`gene

[2018-02-16 16:43] aguibert commented on #96
I've opened an issue on the JSON-P spec for clarificaiton.  Based on the outcome of that issue, this will either be a no-op (Johnzon would need to change) or this would be a valid bug and Yasson would need to change.

[2018-02-20 10:39] #83 closed

[2018-02-21 14:04] maxencelaurent opened #97 "java.lang.IllegalArgumentException: wrong number of arguments on getter"
Given a very simple class like

[code]
java.lang.IllegalArgumentException is thrown during the serialisation because getNameWithSuffix(String) is seen has a getter and is invoked without any argument.
[code]

I can easily update my code to fix this issue (rename the method or annotate it with @JsonbTransient), but such a method should not be seen as a getter at all.

[2018-02-21 14:09] bravehorsie commented on #97
Thanks @maxencelaurent
This is duplicate for #63 and is already fixed in master.

[2018-02-21 14:10] #97 closed

[2018-02-23 10:13] maxencelaurent opened #98 "Can't create instance of a class: interface java.util.Collection, No default constructor found."
Such a test fails:
[code]

org.eclipse.yasson.internal.serializer.CollectionDeserializer#createInterfaceInstance can create instances for various interfaces which extends Collection but not for Collection itself.

Shouldn't this method be able to create instances for collections ?
[code]

[2018-02-23 10:57] bravehorsie commented on #98
Looks to be correct. Thanks @maxencelaurent

[2018-02-23 14:30] maxencelaurent opened #99 "Default methods from interface are ignored"
Property defined within interfaces with the help of default methods shouln't be ignored.

This test fails:
[code]

ClassParser should handle such default methods.

[2018-02-23 15:04] maxencelaurent commented on #75
I got quite the same issue (with the latest version of Yasson).
It's even worse as NullPointerException is thrown while yasson tries to serialize EclipseLink related classes.

For instance, starting from an Entity, Marshaller go through a lot of EclipseLink stuff (UnitOfWorkValueHolder and so on), eventually crashing (NPE) in org.eclipse.persistence.queries.DatabaseQuery#getDefaultRedirector().

[

[2018-02-23 15:18] maxencelaurent commented on #75
Removing all those fields at parsing time solves the problem but such a change ( aa8b788fba142ae6591bccff9ab2c310820723fb) has an impact on how private field of inner classes are serialised  (see testAnnotatedPojo and testFieldVisibilityStrategy in  JsonbPropertyVisibilityStrategyTest)

[2018-02-23 16:30] m0mus commented on #99
It's a philosophical question should default method be treated as a getter or not. I guess that it should. Submit a PR.

[2018-02-23 16:56] m0mus commented on #58
You are right. Spec document has to be updated. @JsonbTypeSerializer and @JsonbTypeDeserializer annotations are actually defined in JSON-B API, so it's not an inconsistency between Yasson and the spec, but inconsistency within a spec.
I created https://github.com/javaee/jsonb-spec/issues/70 in JSON-B spec issues tracker.
Closing this issue.

[2018-02-23 16:56] #58 closed

[2018-02-23 17:00] m0mus commented on #96
I commented on JSON-P issue you created. The idea was to allow write(param) method to be used in JSON objects, but we forgot to change the spec. I'll contact Johnzon folks and try to convince them logging a warning in this case instead of throwing an exception.

[2018-03-12 15:52] wizzardo opened #101 "NullPointerException at DeserializerBuilder.isJsonValueEvent(DeserializerBuilder.java:174)"
[code]

[code]

[2018-03-16 11:22] amoscatelli opened #102 "Yasson requires its own/internal JSON-P implementation to work ... ???"
I am implementing polymorphism mechanism with JSON-B, similar to Jackson one.
So I need to scan for a "@type" attribute and then deserialize again with the correct class.

`public class IdentifiableSerializer implements JsonbDeserializer<FindCriteriaDTO> {

    private final Reflections reflections;

    public IdentifiableSerializer(Reflections reflections) {
        this.reflections = reflection

[2018-03-16 14:31] amoscatelli opened #103 "Can not serialize generic class"
Simple as the title states :

`
    @POST
    @Path("/find")
    @Consumes(MediaType.APPLICATION_JSON)
    @Produces(MediaType.APPLICATION_JSON)
    @Override
    public FindResultDTO<ProductDTO> find() {
        FindResultDTO<ProductDTO> findResultDTO = new FindResultDTO<>();
        findResultDTO.setCount(5L);
        findResultDTO.setResults(Arrays.asList(new ProductDTO()));
        return find

[2018-03-16 14:38] amoscatelli commented on #103
If I remove generics from FindResultDTO , of course, it works

[2018-03-21 12:59] Verdent commented on #103
Hi,
Could you please provide sample test which can reproduce this issue?

[2018-03-21 17:57] amoscatelli commented on #103
Sorry ... I can't reproduce this anymore ...

I updated to 1.0.2 SNAPSHOT a couple of days ago.

Thx.

[2018-03-21 17:57] #103 closed

[2018-03-22 11:51] amoscatelli opened #106 "Avoid N different Deserializer/Serializer/Adapter for N different type"
Is it possible to declare/use a single Deserializer/Serializer/Adapter for different types ?

Let me explain :

I have many DTOs (100+) and all of them extends a common root class (IdentifiableDTO.class).

I have a Deserializer that simply manages to accomplish polymorphism by preparsing a special attribute ("@type" for completeness).

If such Deserializer implements JsonbDeserializer < Identifiab

[2018-03-27 14:01] djrushon commented on #75
I am using Jersey 2.26 which includes yasson 1.0.  EclipseLink is not agree with collections.

[2018-04-05 20:20] musulin opened #109 "@JsonbTypeSerializer at class level does not work"
I am trying to serialize a class using the @JsonbTypeSerializer annotation at the class level, like:

`@JsonbTypeSerializer(AnnotatedWithSerializerTypeSerializer.class)
   public class AnnotatedWithSerializerType {
     public String value;
 }`

the test code is the following:

`public static void main(String[] args) {
final Jsonb jsonb = JsonbBuilder.create();
AnnotatedWithSerializerType annotate

[2018-04-06 15:34] bodote commented on #109
Its a bug, for a fix see https://github.com/eclipse-ee4j/yasson/pull/107

[2018-04-06 16:00] m0mus commented on #109
Looks like a bug. @Verdent can you please confirm it?

[2018-04-09 14:06] s00r opened #110 "Adapter not working for Map key"
I'm trying to use adapters to serialize a Map of two objects. Adapter is working fine for value but not working for the key.
Example :
[code]
Output is :
[code]

[2018-04-09 16:46] s00r opened #111 "Properties order not applied on map keys"
Property order is not working globally on the json object. forexample it's not working on map keys
[code]
and the java Bean
[code]

not sure it's a bug.

[2018-04-10 10:43] #111 closed

[2018-04-10 16:11] m0mus commented on #75
I just discussed this issue with @lukasj who is the main EclipseLink committer. Based on the information [here](https://github.com/eclipse-ee4j/eclipselink/blob/master/jpa/org.eclipse.persistence.jpa/src/org/eclipse/persistence/internal/jpa/weaving/ClassWeaver.java), all entities with weaved properties are also weaved with PersistenceWeaver marker interface. It can be used as a detection mechanism

[2018-04-10 21:42] swhp commented on #75
Hi @m0mus thank you for the information and I'm agree with having properties to ignore weaved properties from JPA as the default. I believe the weaved information should not and is not necessary to expose it on REST endpoint.

[2018-04-11 14:32] bravehorsie commented on #109
@skonx Yes, it is possible. I believe it currently doesn't work only when annotated is root type passed for serialization / deserialization.

@Verdent has a fix under way.

[2018-04-12 10:05] skonx commented on #109
thx @bravehorsie.
Could you please clarify?

For exemple, let's use @musulin's annotation.
Do we have to use the `@JsonbTypeSerializer` annotation on top of `AnnotatedWithSerializerType` class or on top of a class having a field (or a method) using the `AnnotatedWithSerializerType`?

Furthermore, correct me if I'm wrong but assuming we're talking about the first option, we will avoid to implement

[2018-04-18 14:06] m0mus commented on #109
Foxed by https://github.com/eclipse-ee4j/yasson/pull/107

[2018-04-18 14:06] #109 closed

[2018-04-18 14:07] m0mus commented on #91
Fixed by https://github.com/eclipse-ee4j/yasson/pull/107

[2018-04-18 14:07] #91 closed

[2018-04-18 14:09] m0mus commented on #88
@Verdent please check it

[2018-04-18 14:11] m0mus commented on #102
@bravehorsie please help

[2018-04-18 15:25] bravehorsie commented on #102
You should not create it. It is passed in the deserialize method parameter. JsonbParser decorates to Jsonp, doing its business around it.

[2018-04-18 15:28] amoscatelli commented on #102
I NEED to create it. And the spec says the deserializer context should accept a standard JsonParser, not a org.eclipse.yasson.internal.JsonbParser. This is what interfaces stand for.

This is clearly out of specification.

[2018-04-20 06:46] javierestevez opened #114 "Generating incomplete JSON error while serializing optional map"
The following code
[code]
will result in a SEVERE: Generating incomplete JSON error. I would expect instead the following JSON to be produced:
[code]
I believe the cause of this issue lies on this else-if in OptionalIntTypeSerializer#serialize:
[code]
I tried removing the if condition and empty Optionals are then properly serialized (at least tests pass). See pull request #113.

The same issue lik

[2018-04-20 07:01] bravehorsie commented on #102
Specification refers to jsonp api, not the RI. JsonParser is what you get in (de)serializer to drive it yourself. To deserialize java object from json you need to create Jsonb runtime instance, and call `jsonb.deserialize(json, FindCriteriaDTO.class)`. You have both in your deserializer implementation code.

[2018-04-20 07:13] javierestevez opened #115 "Collections of values annotated with @JsonbTypeSerializer not properly serialized"
The following code (classes used below come from yasson tests):
[code]
fails to produce the expected JSON below:
[code]
And instead produces the JSON:
[code]
ignoring the @JsonbTypeSerializer annotation on class AnnotatedWithSerializerType.

This seems to occur for collections using MapSerializer, CollectionSerializer and ObjectArraySerializer. I created tests for such cases in pull request #113.

[2018-04-20 08:51] amoscatelli commented on #102
Yea and you are not using the JSONP api, but your specific implementation.

JSONP API:
javax.json.stream.JsonParser
Provides forward, read-only access to JSON data in a streaming way.

JSONB API :
javax.json.bind.serializer.DeserializationContext<T>
Provides JSONB Mapper functionality on top of JSONP parser
<T> T deserialize(Class<T> clazz, JsonParser parser);

DeserializationContext deserialize m

[2018-04-25 07:47] cyberphone opened #116 "I-JSON option doesn't work as expected"
The problem is probably due to a lack of a specification for the I-JSON option:
https://github.com/javaee/jsonb-spec/issues/80

[code]

Using I-JSON an integer type like `long` must not use JSON "Number" serialization.

[2018-04-26 09:45] Verdent commented on #88
I have verified that this is no longer an issue with the newest build from master branch.

Closing as not a bug.

[2018-04-26 09:45] #88 closed

[2018-04-27 16:25] etay2000 opened #117 "Serializing Map with multiple null values fails"
Serializing a Map with multiple null values only serializes the first null value then bails early.

[code]
Produces
[code]
Expected
[code]
This seems to be caused by the method 'serializeInteral' in org.eclipse.yasson.internal.serializer.MapSerializer
[code]
And could be fixed by changing to
[code]
which produces
[code]
However, it is unclear as to whether or not null Map values should respect the

[2018-04-27 22:08] m0mus commented on #117
It looks like a bug. I have to check with the spec, but I think that withNullValues doesn't affect map values.

[2018-04-28 15:54] cyberphone commented on #26
This work has now transitioned into an IETF activity:
https://tools.ietf.org/id/draft-erdtman-jose-cleartext-jws-00.html

[2018-04-30 20:29] skomisa1 opened #118 "Deserialization still not working with a protected no-arg constructor"
This is a reopening of closed issue [Deserialization not working for classes with a protected no-arg constructor #56](https://github.com/eclipse-ee4j/yasson/issues/56) which stated _"This issue has been fixed in Yasson 1.0.1"_

I am seeing exactly the same problem when using **yasson-1.1.0-20170828.110213-3.jar**.

A trivial Maven application [jsonbexample.zip](https://github.com/eclipse-ee4j/yass

[2018-05-01 02:58] skomisa1 commented on #118
Updated to correct the zip file attachment named **jsonbexample.zip**

[2018-05-06 23:43] cayhorstmann opened #121 "module-info.java needs to declare dependency on java.sql"
I put yasson.jar on the module path. When serializing, you use java.sql.Date somewhere. This is the exception I get:

`Exception in thread "main" java.lang.NoClassDefFoundError: java/sql/Date
	at org.eclipse.yasson/org.eclipse.yasson.internal.serializer.DefaultSerializers.initSerializers(DefaultSerializers.java:77)
	at org.eclipse.yasson/org.eclipse.yasson.internal.serializer.DefaultSerializers.<i

[2018-05-07 08:02] Verdent commented on #121
Hi @cayhorstmann ,
Thank you for reporting this. I will fix this issue now.

[2018-05-07 08:06] Verdent commented on #117
This issue has been fixed in master.

[2018-05-07 08:06] #117 closed

[2018-05-09 08:08] Verdent commented on #121
I am closing this issue because of it is fixed now in master.

[2018-05-09 08:08] #121 closed

[2018-05-09 13:17] Verdent commented on #118
I have verified that this is no longer an issue using 1.0.1. Do not use old snapshots from repo.eclipse.org and use latest release from maven central instead. Snapshots 1.1.0 are older then 1.0.1 release.

Closing.

[2018-05-09 13:17] #118 closed

[2018-05-10 09:02] Verdent commented on #114
I have tried your sample against the master and it generates following output.
`{"first":1,"second":null}`
May I ask you which version of Yasson are you using?

[2018-05-19 12:51] cyberphone commented on #116
have been dealt with elsewhere

[2018-05-19 12:51] #116 closed

[2018-05-22 07:16] dwaite opened #125 "Runtime failure on JSON serialization of object with Optional getter."
The following test program fails; when the nullable field is a non-null value. I believe this is due to the type being inferred from the field and not the (actually used) getter/setter.

[code]

[2018-05-22 07:16] dwaite commented on #125
Tested against current 1.0.2-SNAPSHOT

[2018-05-22 07:18] dwaite commented on #125
Adding a PropertyVisibilityStrategy that returns true for fields and false for methods lets the document serialize properly, which gives me a temporary workaround.

[2018-05-22 08:13] dwaite opened #126 "Serialization of collection fails to pick up Adapters"
I have objects which sometimes fail to pick up the adapters I have configured.

The behavior is a bit odd, and I haven't figured out how to debug the issue myself.  It seems as if the collection serializer cares about the parameterized type of the collection, which is a bit unusual IMHO - it would seem instead it should care about the runtime type of each member of the collection.

[code]

[2018-05-22 08:13] dwaite commented on #126
Tested against 1.0.2-SNAPSHOT

[2018-05-22 14:12] Verdent commented on #126
Hi @dwaite ,
I am currently working on similar issue. It should be fixed soon.

[2018-05-23 09:53] Verdent commented on #98
Fixed in master.

[2018-05-23 09:53] #98 closed

[2018-05-25 20:48] swpalmer opened #128 "withFormatting puts key/value pairs on separate lines"
The current formatted output is difficult to read. Since formatting is all about making the JSON more human-readable, this should be improved.

I propose not adding a newline after the ':' so that key/value pairs are on the same line, unless the value will also need to be multi-line (i.e. is itself a multi-value entity). This will keep value data distinct from key names.

So this:
[code]

becomes:

[2018-05-26 22:19] cwhite102 opened #129 "Custom Serializer does not get applied in recursive object hierarchy"
I would expect a custom serializer would still get called throughout a serialization process.  However, it only seems to get called once at the root.

Tested against snaphot 1.0.2-20180507.111607-20

Here is a sample to reproduce.   (The child's name is not serialized as the serializer isn't called again.)

[code]

Output:

[code]
Expected output:
[code]

[2018-05-28 09:12] Verdent commented on #115
This issue is now fixed in master.

[2018-05-28 09:12] #115 closed

[2018-05-28 09:13] Verdent commented on #126
This issue is now fixed in master.

[2018-05-28 09:13] #126 closed

[2018-05-28 09:39] m0mus commented on #128
This is an issue in JSONP which is fixed. New version of JSONP containing this fix is not yet released.  It will be fixed in Yasson when that new version is adopted.
Duplicate of https://github.com/eclipse-ee4j/yasson/issues/89

[2018-05-28 09:39] #128 closed

[2018-05-30 13:32] keilw opened #131 "Project URL with RT in POM seems outdated"
The main POM file states "https://projects.eclipse.org/projects/rt.yasson" to be the project URL, but it should be under EE4J now also under Eclipse.org, so this is probably a dead link.

[2018-05-31 17:36] cwhite102 commented on #82
I've run into this same problem marshalling some model classes that work fine with Jaxb.
It feels like having any method that starts with 'set' is being interpreted as a property setter.  Even when the method (in our case) takes zero arguments and should likely be ignored (ie. not related to a marshallable property).

[code]

[2018-06-04 09:58] amoscatelli opened #133 "Feature proposal - API level polymorphic support"
I think it is important to have real polymorphism support at API level.
What I DO mean is to have standardized approaches to serialize info about type and handle correct deserialization.
For example this will allow standardized ways to handle deserialization of Collection < Animal > and retrieving, for example, a specialized instance of an Horse, a Dog, a Shark (etc etc).

Yea I know there is an e

[2018-06-07 08:48] dwaite opened #135 "Adapters fail serialization if they return null"
I created the following adapter for my type, both to convert a duration to milliseconds and to collapse a 'default' duration of 0 to null. This was a second attempt; the first attempt adapted to `Long`.

[code]

This throws:
[code]

For now, I am working around this by building a custom serializer/deserializer for the outer type.

[2018-06-11 14:57] Verdent commented on #135
Hi, could you please provide reproducer for this issue?

[2018-06-12 09:16] Verdent commented on #101
I have tested it against the master and looks like it is fixed now.

[2018-06-12 09:16] #101 closed

[2018-06-12 11:30] #99 closed

[2018-06-12 12:59] Verdent commented on #110
Hi @s00r , we are not supporting adapters used on Map key at the moment. Map key is now serialized by calling method toString so if you need different output, you need to create your own toString method implemetation.

[2018-06-14 10:17] AdamBien opened #137 "Release 1.0.2 with PrivateFieldStrategy"
Current yasson implementation does not work with the PrivateFieldStrategy -> even a custom strategy breaks, because the existence of public methods makes private fields not visible.

The code already exists in your repository, but was created after this release. Please create a release 1.0.2 with FieldAccessStrategy and push it to maven central.

big thanks.

[2018-06-14 21:48] bshannon commented on #34
This bug was not completely fixed.  Here's a simple test case that still fails:

[code]
If you uncomment the field declaration, it works.

[2018-06-17 01:16] ThomasSousa96 opened #138 "NullPointerException during serialization"
[code]

[2018-06-17 18:05] ThomasSousa96 commented on #138
The problem occur when try serialize an direct instance of Object class.

[code]

The problem root:
[code]

[code]

[2018-06-19 17:09] flaviocosta-net opened #140 "Serialization fails with 2 type parameters"
I see that #61 fixed an issue with generics, but that doesn't seem to be of help in a case a class has two type parameters.

I have a `Container<D, C>` interface which, when I try to serialize, produces the error `Generic bound not found for type C declared in my.package.Container<?, ?>`.

The type C is used in a method declaration of the interface:
`public List<C> getComponents();`

The current i

[2018-06-19 18:02] flaviocosta-net commented on #140
[code]

[2018-06-20 18:00] redmitry opened #141 "deserialization passing 'null' to constructor fails"
Hello,

I got javax.json.bind.JsonbException: JsonbCreator parameter @type is missing in json document
when trying to deserialize json with @type property == null:
[code]

[code]
Note that I tried to define type property nillable. Doesn't help either.

-------------------------------------------------------------------
[code]
--------------------------------------------------------------------
In

[2018-06-25 13:29] Verdent commented on #129
Fixed in master.

[2018-06-25 13:29] #129 closed

[2018-06-25 13:30] Verdent commented on #125
Fixed in master.

[2018-06-25 13:30] #125 closed

[2018-06-25 13:32] Verdent commented on #110
Closing

[2018-06-25 13:32] #110 closed

[2018-06-25 13:35] dwaite commented on #125
Is there a 1.0.2 release planned soon which would have this fix?

[2018-06-26 09:31] m0mus commented on #137
We've passed the Eclipse release review and will release 1.0.2 after a new version of JSONP is released. JSONP release is currently blocked by some non-technical issues which (I hope) will be resolved soon.

[2018-06-26 09:33] m0mus commented on #131
Yes, Werner. I'll fix it.

[2018-06-28 09:12] dominikmathmann commented on #76
Maybe i am totally wrong because I use a different setup and run in a different exception message, but the behaviour in general is the same. I just add my comment here because it seems that nobody have any ideas:

I recognize that I have no problems when i use jsonb directly in my resource classes:
[code]

instead of:
[code]

(this produces an exception, sometimes, especially after redeployment)

[2018-06-29 06:53] bravehorsie commented on #40
Yasson doesn't handle bidirectional references. If you have class `A` with `b` field and class `B` with `a` field with their instances referencing each other you will have StackOverflowError raised.

[2018-06-29 08:02] AdamBien commented on #137
Big thanks! Meanwhile I'm building JSON-B by myself -- works great, but I need it shipped with Payara... :-)

[2018-06-30 12:32] JochenHiller opened #143 "yasson-jar-file can not be analyzed with jdeps"
I tried to check dependencies to JavaSE compact profiles for Yasson by running

`jdeps -P yasson-1.0.1.jar`

downloaded from MavenCentral at http://search.maven.org/#artifactdetails%7Corg.eclipse%7Cyasson%7C1.0.1%7Cjar
I am using JavaSE 8u144.

I got:

[code]

This seems to be related to JDK bug https://bugs.openjdk.java.net/browse/JDK-8167014, which stated the JAR file as "invalid".

I re-run the

[2018-06-30 13:08] JochenHiller commented on #143
BTW: I ran into the same issue with the JAR file from Glassfish and JSON-P:
See JAR file from http://search.maven.org/#artifactdetails%7Corg.glassfish%7Cjavax.json%7C1.1.2%7Cbundle

Same errors on jdeps 8 and jdeps 9.

[2018-06-30 13:15] JochenHiller opened #144 "Yasson does not work on JavaSE 8 compact 2 profile"
There is an ongoing discussion in Eclipse SmartHome to replace Gson via JSON-B and Yasson as its default implementation. For more details see https://github.com/eclipse/smarthome/issues/4741

Eclipse SmartHome is intended to run on small gateways. So the minimal requirements for JVM are JavaSE 8 compact 2 profile, due to small footprint.

I tried to check which compact profile does Yasson need (se

[2018-06-30 14:14] JochenHiller opened #145 "Make dependencies to javax.enterprise.*, javax.naming optional"
There is an ongoing discussion in Eclipse SmartHome to replace Gson via JSON-B and Yasson as its default implementation. For more details see https://github.com/eclipse/smarthome/issues/4741

Eclipse SmartHome is intended to run on small gateways (JavaSE 8 compact 2 profile) where small footprint is important. Actually Gson needs about 235 kB. Using Yasson and JSON-P would require >620 kB overall

[2018-07-12 11:20] Erik1 commented on #137
Would it be possible to release 1.0.2 so servers like Wildfly can include the updated version of Yasson?

I think it would be great for JSONB adoption, because most examples published in magazines and on websites aren't working with Yasson 1.0.1 because they put the @JsonbProperty at a private field.

[2018-07-16 07:47] #141 closed

[2018-07-16 07:49] #138 closed

[2018-07-17 11:34] #82 closed

[2018-07-19 20:34] cristhiank commented on #82
I just ran into this issue with my custom model classes. I have some REST representational classes with utility methods that starts with "setXXXXXXX(parameter1, paramater2, .....).
And I am getting this exact message.
`15:26:32,588 SEVERE [org.eclipse.yasson.internal.Marshaller] (default task-2) Generating incomplete JSON
15:26:32,593 SEVERE [SYNEKUS] (default task-2) Unhandled error: RESTEASY0082

[2018-07-19 21:00] cristhiank commented on #82
I found that the number of arguments is being validated in https://github.com/eclipse-ee4j/yasson/blob/a1f5120d603f6d8093ca3efd1d24d2eef63f1dc5/src/main/java/org/eclipse/yasson/internal/model/Property.java#L150

It wouldn't be better to log a warning maybe ? It is blocking if I have a method starting with "set" and receiving multiple parameters. Another better option would be exclude this properti

[2018-07-19 21:06] cristhiank commented on #82
Sorry, please omit the previous comments, I just found out that it is fixed in master https://github.com/eclipse-ee4j/yasson/commit/eaebfcbbc929394d534848b664e2a66118713492#diff-0b679cdd432a9709d06c281d3ac6656b

[2018-07-20 21:36] Tibor17 opened #149 "Attribute java.util.Date without time in format throws exception related to Date-Time API"
I have observed exception while serializing DTO with `java.util.Date` (yyyy-MM-dd):
`java.time.DateTimeException: Unable to obtain Instant from TemporalAccessor: {},ISO,UTC resolved to 2000-12-31 of type java.time.format.Parsed`
`Caused by: java.time.temporal.UnsupportedTemporalTypeException: Unsupported field: InstantSeconds`

I am using `org.eclipse:yasson:1.0.1` and `org.glassfish:javax.json:1.

[2018-07-20 21:37] Tibor17 commented on #149
java.time.DateTimeException: Unable to obtain Instant from TemporalAccessor: {},ISO,UTC resolved to 2000-12-31 of type java.time.format.Parsed
	at java.time.Instant.from(Instant.java:378)
	at org.eclipse.yasson.internal.serializer.DateTypeDeserializer.parseWithFormatter(DateTypeDeserializer.java:56)
	at org.eclipse.yasson.internal.serializer.DateTypeDeserializer.parseWithFormatter(DateTypeDeserial

[2018-07-20 21:39] Tibor17 commented on #149
Why the `java.util.Date` is processed by Java Date Time API.
Do you have unit tests with dates asserting expected values?

[2018-07-20 23:44] Tibor17 commented on #133
+1
Implement similar `@SubTypes` annotation in Javax package like it is in Jackson.

[2018-07-22 08:21] ggam opened #150 "Error serializing JPA entity with uninitialized properties (Hibernate)"
Hibernate throws a `LazyInitializationException` when an uninitialized property is accessed outside an open session. Yasson doesn't handle the situation of such uninitialized properties and propagates the error:

[code]

EclipseLink works correctly. I understand Hibernate specifics are out of control for Yasson, but I wonder if it could check `Persistence.getPersistenceUtil.isLoaded(entity, field)

[2018-07-22 09:07] ggam commented on #150
As a workaround, I've created the following entity listener that sets `null` on uninitialized properties:
[code]

Hibernate will detect the changes and will perform an `UPDATE` statement. In order to avoid that, you have to set the `org.hibernate.readOnly` query hint to `true`. For example:
[code]

[2018-07-24 11:43] #90 closed

[2018-07-25 12:47] Verdent opened #152 "Method starting with set throws exception"
When I have method with the name setXXXX and it has more than 1 parameter, an exception is thrown.

This limits method naming in using set keyword unless it has exactly one parameter. The method should not be considered as a setter when it has more than one parameter and also exception should not be thrown.

[2018-07-25 13:43] Verdent commented on #82
Hi @cristhiank ,
I have created new issue which is mainly focused on problem with "set" methods and multiple parameters.
This issue can be found here #152

[2018-07-27 08:14] Verdent commented on #152
This problem is fixed in master.

[2018-07-27 08:14] #152 closed

[2018-07-27 08:57] Verdent commented on #149
Hi @Tibor17,
I have tested this issue you are reporting and could not reproduce this exception against the master. This issue should not occur in the future release.

[2018-07-27 10:47] Verdent commented on #140
Hi @flaviocosta-net, could you please provide reproducer for this issue?

[2018-07-30 15:04] aguibert opened #153 "Case insensitive read name always used regardless of PropertyNamingStrategy"
The default ProeprtyNamingStrategy is `IDENTITY` which means no translation should be performed on the property names.

However, in `ClassModel.equalsReadName()`, a case-insensitive match is done on the read name:
[code]

To properly adhere to IDENTITY naming strategy, we should be performing a case-sensitive equality comparison.

For example, if we have the following data:

[code]

Only `data1` s

[2018-08-02 22:45] aguibert commented on #153
Hi @Verdent, I see you've assigned this issue to yourself but I've already proposed a fix in PR #154.  Could you please review that PR when you get some time?

[2018-08-07 04:17] aguibert commented on #153
@bravehorsie or @m0mus could you please have a look at this issue and see if the fix I proposed in PR #154 is sufficient?

[2018-08-07 16:17] m0mus opened #155 "Release pipeline"
We need to create a release CI/CD pipeline for this project.

Use these documents as a reference:

- [How to release the first Eclipse version of projects](https://github.com/eclipse-ee4j/ee4j/wiki/How-to-release-the-first-Eclipse-version-of-projects)
- [JSONP release job](https://github.com/eclipse-ee4j/jsonp/wiki/JSONP-release-job)

[2018-08-30 16:55] redmitry opened #156 "property deserialization fails"
Hello,

I got null deserializing a property. Here is a test:
[code]
Changing getter/setter to getGeneral() / setGeneral() fixes it.

[2018-08-31 10:38] redmitry commented on #156
After some investigation, I found:
**private String general;**
field creates a property with name == "general" and read/write with jsonName == "General" (UPPER_CAMEL_CASE).

[code]
Note that it **ALWAYS** compares with **equalsIgnoreCase()**!

The last return must use **equals()** instead.

Cheers,

D.

[2018-08-31 12:34] m0mus commented on #156
Thanks for reporting! What version of Yasson you are using? I remember we fixed some equalsIgnoreCase() related bugs.

[2018-08-31 12:42] redmitry commented on #156
1.0.2-SNAPSHOT (master branch)
https://github.com/eclipse-ee4j/yasson/blob/master/src/main/java/org/eclipse/yasson/internal/model/ClassModel.java

[2018-09-03 00:16] Erik1 commented on #137
Is there any update when 1.0.2 will be released?

[2018-09-03 10:47] redmitry commented on #156
This is a consequence of #153 and should be fixed by
https://github.com/eclipse-ee4j/yasson/pull/154

[2018-09-06 09:17] #153 closed

[2018-09-06 20:36] m0mus commented on #155
Jenkins job is created:
https://ci.eclipse.org/yasson/job/yasson-master-release/

[2018-09-06 20:36] #155 closed

[2018-09-06 20:47] m0mus commented on #137
We will release 1.0.2 next week.

[2018-09-09 13:56] javierpedrido opened #157 "AdaptedObjectSerializer and UserSerializerSerializer are not thread safe"
Hi,

The calls to jsonbContext.addProcessedObject(obj) and jsonbContext.removeProcessedObject(obj); must be sinchronized since jsonbContext is a shared object. A HashSet is being used to back the collection of processed objects (it does not support concurrent add/remove ops), you should Collections.synchronizedSet that set or use another implementation.

Regards,
Javier

[2018-09-21 08:59] DennisBayer commented on #137
Hi @m0mus,
any updates for the release date of 1.0.2?

Regards

[2018-09-21 12:59] steappe opened #159 "@JsonbPropertyOrder implementation is according to specs but is not intuitive and too limited"
Let's have a POJO annotated with JSONB:

[code]
It is serialized as:
[code]
This is correct, because according to the specifications:

But in a first place I would have expected the following serialization:
[code]

If I change the property order annotation to:
[code]

It is correctly serialized as:
[code]

This behavior is not intuitive and makes it impossible to define constant properties that ca

[2018-09-28 19:27] Erik1 commented on #137
3 weeks ago you posted that it would be released next week. Is there any update on the release date?

[2018-09-28 19:47] m0mus commented on #137
@Erik1 Sorry, there were other things to do. Some TCK tests are not passing. We are working on fixing it.

[2018-10-11 22:59] diegosilval opened #162 "JsonbDateFormat deserialization fails"
Check test:

`public class ParseDateTest {

    public ParseDateTest() {
    }

    @Test
    public void testDate() {
        String json = "{\"date\":\"2018-03-05\"}";
        Jsonb jsonb = JsonbBuilder.create();

        Form form = jsonb.fromJson(json, Form.class);

        System.out.println("date:" + form.getDate());

    }

    public static class Form {

        @JsonbDateFormat(value = "y

[2018-10-12 09:20] bravehorsie commented on #162
Yasson leverages java 8 Date/Time API for parsing dates.
`java.util.Date` is a time instant, while 2018-03-05 is not, since it is missing either the time zone or UTC offset and time of the day.

What version are you using? When I run your example against master I get:

`javax.json.bind.JsonbException: Error parsing class java.util.Date from value: 2018-03-05. Check your @JsonbDateFormat has all ti

[2018-10-12 12:03] bravehorsie commented on #157
Thanks @javierpedrido this is a good catch, however synchronization on `(add/remove)ProcessedObject` won't be enough, since different runtime threads will have different contents of this collection and should not interfere with each other.

[2018-10-12 12:12] bravehorsie commented on #157
Currently processed objects should be stored inside Marshaller/Unmarshaller instances, which are created per runtime invocation. This will fix the issue and make synchronization redundant.

[2018-10-12 12:18] bravehorsie commented on #150
Yasson does not have a dependency to JPA API to work with it. What should be done here is wrapping any exception thrown from runtime with JsonbException.

[2018-10-12 12:37] bravehorsie commented on #149
@Tibor17 even java.util.Date is an time instant which by definition needs a time zone and time part to be parsed. In order to create instant from "2001-01-01" string you need to say what time zone you like to parse it into. When you parse this with `java.util.SimpleDateFormat` you will get an instant in a default timezone on the host where you are running. If we do the same in Yasson than for exam

[2018-10-12 12:38] bravehorsie commented on #149
Duplicates https://github.com/eclipse-ee4j/yasson/issues/162

[2018-10-12 12:49] ggam commented on #150
The problem is that the exception doesn't really mean a problem there. By default, Hibernate throws a LazyInstantiationException when you try to get a property that hasn't been loaded, and it can't load it. That is Hibernate specific behavior and Yasson has nothing to do with it.

The problem is, Yasson tries to read all the properties and, as expected, treats an exception like an error. But in th

[2018-10-12 13:59] bravehorsie commented on #143
This is because of [JPMS module descriptor](https://github.com/eclipse-ee4j/yasson/blob/master/src/main/java/module-info.java) inside yasson.
jdeps can't check all dependencies because it is missing dependency jars of yasson. This module descriptor references to jsonb-api and jsonp-api which are not part of Yasson's jar. If I download them both and add to module path:

`jdeps --module-path javax.j

[2018-10-12 14:22] bravehorsie commented on #144
javax.naming and compact3 is there only because Yasson tries to locate [CDI bean manager with JNDI](https://github.com/eclipse-ee4j/yasson/blob/master/src/main/java/org/eclipse/yasson/internal/components/JsonbComponentInstanceCreatorFactory.java). It may either be done reflectively without strong dependency or excluded from Yasson completely.

[2018-10-12 14:31] bravehorsie commented on #145
Should be enough to make CDI API optional, together with solving #144.

[2018-10-12 14:38] bravehorsie commented on #140
@flaviocosta-net

It is not how it looks :) getActualTypeArguments()[0] in CollectionDeserializer is resolving generic type for the List which has always only one parameter type, hence the hardcoded `[0]`.

What you are probably missing is passing the runtime type to jsonb runtime. See methods `toJson(..)` which are picking `Type runtimeType` parameter, [for example this](https://github.com/eclips

[2018-10-12 14:51] diegosilval commented on #162
Ok, con LocalDate works

public class ParseDateTest {

    @Test
    public void testDate() {
        String json = "{\"date\":\"2018-03-05\"}";
        Jsonb jsonb = JsonbBuilder.create();

        Form form = jsonb.fromJson(json, Form.class);

        System.out.println("date:" + form.getDate());

    }

    public static class Form {

        @JsonbDateFormat(value = "yyyy-MM-dd")
        priva

[2018-10-17 13:20] tomas-langer opened #163 "CDI API should be in provided scope in pom.xml dependencies"
CDI libraries are provided by the implementation of CDI engine and as such may be different artifacts than the ones references from yasson.
This causes problems esp. with java module system (jigsaw), as the library is loaded both from the library referenced from yasson and from a CDI implementation libraries.

Now I must explicitly exclude this as follows:
[code]

[2018-10-22 15:13] bmhm opened #164 "Adapter check too strict?"
Hi everyone,

I am trying to serialize a annotation-generated implementation of my interface. For generation, I am using [immutables](http://immutables.github.io/).

For the annotation, I added:
`@Value.Style(passAnnotations = {JsonbTypeAdapter.class, JsonbTypeSerializer.class})`
to the `package-info.java`.

Now, when I try to serialize my Objects into JSON, I get this exception:
`javax.json.bind.

[2018-10-23 07:40] bravehorsie commented on #144
The PR fixes the issue with requirement of java.naming and java.beans to be present.
 javax.el which also uses java.beans is a transitive dependency of cdi-api-2.0.jar, which in turn is also optional dependency and is not required to be on classpath / modulepath. There are classes, which are using CDI API static imports, however those are not loaded if CDI API is not present and doesn't prevent Ya

[2018-10-23 07:47] bravehorsie commented on #145
Turns out that CDI API is already optional, dependency to java.beans is removed in the PR.

[2018-10-23 08:06] JochenHiller commented on #144
@bravehorsie Wow, thanks for that change. That is exactly what I had in mind to get rid of these (not always) needed dependencies.
I had a rough look on the PR and it really looks good.
For the dependency to compact 2: for our use case it is not important, but maybe for other ones. They should raise their hands if really needed.

[2018-10-23 08:10] JochenHiller commented on #145
Looks good, thanks for your help

[2018-10-25 15:18] scottkurz commented on #135
This looks similar to the issue I hit.

I wrote it up too as a question on [StackOverflow](https://stackoverflow.com/questions/52978096/json-b-hitting-npe-serializing-with-adapter-though-setting-withnullvaluestrue).

Added a recreate project w/ instructions [here](https://github.com/scottkurz/yasson-135-recreate).

[2018-10-26 09:00] bravehorsie commented on #164
The PR will allow `JsonbAdapters` and `JsonbSerializers` to be used for subtypes. The issue with this approach however is that supertypes may have multiple subtypes. So (in the worst case) you can declare a Serializable adapter / serializer which will be executed for all types implementing it. Same with `java.util.Collection`, `java.lang.Number`, etc.. If for example you have an adapter bound to N

[2018-10-26 09:10] bravehorsie commented on #156
Closing this, as referenced PR is merged and the issue closed.

[2018-10-26 09:10] #156 closed

[2018-10-26 09:19] bravehorsie commented on #150
Yasson doesn't try to read anything by itself, the user does. In case of accessing detached JPA objects  the problem is obviously elsewhere and Yasson doesn't and should not have any clue about it. This is similar to access a network resource in a property getter, if something doesn't work Yasson should propagate the exception and not treat it as null.

[2018-10-26 11:15] bmhm commented on #164
@bravehorsie  thank you.
How was the behaviour in yasson-1.0 and yasson-1.0.1? I was able to use the JsonbAdapter using the JsonbConfig. It happily converted my implementation class to JSON. So is it a regression or is it not? I'm not too sure anymore.

I can understand why the Adapter might raise a class cast exception. In Jackson we need to define an implementation for Deserialization and hope t

[2018-10-31 07:12] bravehorsie commented on #137
1.0.2 is out.

[2018-10-31 07:12] #137 closed

[2018-11-01 11:00] #149 closed

[2018-11-01 11:20] bravehorsie commented on #140
a PR attaches a test that demonstrates serialization of generic types without providing generic information.

[2018-11-01 11:42] m0mus opened #170 "Release to OSSRH staging repository"
- [x] Uptake new Eclipse versions of dependencies. Use [GlassFish 5.1 Release Tracker](https://wiki.eclipse.org/Eclipse_GlassFish_5.1_Components_Release_Tracker) wiki to find components versions to use.

- [x] Release to OSSRH staging repository

- [x] Update [GlassFish 5.1 Release Tracker](https://wiki.eclipse.org/Eclipse_GlassFish_5.1_Components_Release_Tracker) with released version number.

[H

[2018-11-02 12:58] #144 closed

[2018-11-02 12:58] #145 closed

[2018-11-02 12:59] #164 closed

[2018-11-02 13:10] aguibert commented on #164
It looks like this issue was indeed a regression between 1.0.1 and 1.0.2.  @bravehorsie @m0mus do you think we should cut a 1.0.3 release that includes the fix (#166)?

[2018-11-02 13:14] #159 closed

[2018-11-02 13:19] #157 closed

[2018-11-02 13:19] #140 closed

[2018-11-02 13:21] #143 closed

[2018-11-02 13:33] bravehorsie commented on #106
Sovled by #164
Serializers/Deserializers are now allowed on subtypes.

[2018-11-02 13:33] #106 closed

[2018-11-02 13:34] bravehorsie commented on #114
Closing due to inactivity.

[2018-11-02 13:34] #114 closed

[2018-11-02 13:51] bravehorsie commented on #102
So it does. You can provide any JSONP implementation to Yasson to work with it. What you do is you substitute running JSONP parser which has a cursor at some point of the document with new parser instance reading new document but you call current runtime on it, that is wrong. If you want to read a new document you should create new runtime with your parser instance.

[2018-11-02 15:50] bravehorsie commented on #76
@Xsylum @dominikmathmann
I know this is a bit outdated reply, but what classes are you redeploying?

Initialized Jsonb instance holds instances of adapters inside, and thus holds references to your adapter classes and in turn to adapted pojos. If you use hot redeploy you may end up in a situation when those referenced classes are discarded and replaced / hot redeployed by your application classloa

[2018-11-03 16:07] aguibert commented on #96
@bravehorsie yea this can be closed, since the required action is by the Johnzon code, not the Yasson code

[2018-11-03 16:07] #96 closed

[2018-11-03 18:20] KriechelD opened #172 "Bug: Deserializing java.util.Date with timezone not correct"
Hello,

I've set up a simple example, thats show a problem when reading a json with a date in the format "yyyy-MM-dd'T'HH:mm:ssXXX" into an java.util.Date. The timezone is producing an incorrect result:

**Example.java:**
[code]

**DemoDto.java:**
[code]

**pom.xml:**
[code]

Executing the "main" will result in the following output:

As you can see, the input "{"date":"2018-11-02T00:00:00+01:00"}"

[2018-11-03 22:10] aguibert commented on #163
Yasson cannot change its dependency on CDI API from compile to provided because doing so would break existing projects that depend on Yasson and do not explicitly pull in CDI API or have it provided via a container (e.g. JavaSE environment).

[2018-11-04 11:10] KriechelD commented on #172
I've took a quick look into the source code of yasson and I think I've discovered the reason. It's in the [DateTypeDeserializer.java](https://github.com/eclipse-ee4j/yasson/blob/master/src/main/java/org/eclipse/yasson/internal/serializer/DateTypeDeserializer.java#L31) class.

In Line 31:
[code]
final TemporalAccessor parsed = DEFAULT_DATE_TIME_FORMATTER.withLocale(locale).parse(jsonValue);
´´´

He

[2018-11-04 12:38] KriechelD commented on #172
I've checked the history what changes have been made to the DateTypeDeserializer.java and switched back to the commit [d351dcc8c04a68e2d0c92334e045c96fefd17602](https://github.com/eclipse-ee4j/yasson/commit/d351dcc8c04a68e2d0c92334e045c96fefd17602).

If I run my code against this commit, it works perfectly well.
So with the next commit [86d55909733011ed2d36e56492d8da3be5f0a4ac ](https://github.com

[2018-11-05 12:03] bravehorsie commented on #172
Thanks Dennis,

`.withZone(UTC)` is meant only for parsing text where no time zone / offset is specified such as `2018-11-02T00:00:00`. In this case we use UTC, because otherwise system local zone is used. When there is an offset in parsed text, such is `2018-11-02T00:00:00+01:00` it is meant to be used instead of UTC time zone.

According to Javadoc of `#withZone(..)`:

I hope this means use valu

[2018-11-05 17:33] KriechelD commented on #172
Hello Roman,

thanks for the quick reply. You are right, according to the `.withZone(UTC)` JavaDoc the UTC should only be used when no offset was found in the parsed input. Interesseting that there has been a bugfix for JDK 9 that did no make it into the JDK 8 Updates.

Is there any chance that yasson will be able to work in both, JDK 8 and 9, although both have different behaviors? Maybe you coul

[2018-11-05 19:00] KriechelD commented on #172
Hi Roman,

I think I've found a possible fix that will make yasson work on both JDK 8 and 9. I've created a Pull Request (https://github.com/eclipse-ee4j/yasson/pull/173). I know the pull can not be included as is, since I'm not a contributor. I read over all the stuff that needs to be done for me to get the contributor state, but I think the bureaucracy is not worth it ;)

Feel free to copy and u

[2018-11-08 03:54] aguibert commented on #34
hi @bshannon, I tested your code example on 1.0.2 and the the latest code level and it works as expected (empty result).

[2018-11-08 12:16] m0mus opened #174 "Start a Release Review"
Passing **Release Review** is a required step before making a first public release. Deadline for passing the review is Nov 30th, 2018. Release review takes some time to complete, so it makes sense initiating it as soon as possible.

- [x] Start Release Review
- [x] Update [Release Review Tracker](https://wiki.eclipse.org/EE4J_Projects_Release_Review_Tracker)

Additional information:

- [How to sub

[2018-11-08 12:16] m0mus commented on #174
Done:
https://projects.eclipse.org/projects/ee4j.yasson/reviews/1.1-release-review

[2018-11-08 12:16] #174 closed

[2018-11-09 10:44] Xsylum commented on #76
@bravehorsie I actually redeployed `Company` class. I unfortunately moved the project out of my Github so I cannot check it but I am pretty sure about that. Your explanation actually convinced me. As it is a matter of cached object in application server, may I know for my information if the issue lies in Payara caching or Yasson caching?

Moreover, I think that I also encountered the behaviour @do

[2018-11-09 16:00] bravehorsie commented on #172
The relevant bug in JDK is https://bugs.openjdk.java.net/browse/JDK-8066982
According to description it should be backported to JDK8.

[2018-11-09 16:12] m0mus opened #175 "Integrate to GlassFish"
- [ ] Integrate to Eclipse GlassFish
- [ ] Pass all CTS/TCK tests

JSONB API is released as part of this integration.

[2018-11-09 20:15] smoyer64 opened #176 "Feature: Ignore dashes in UUIDTypeDeserializer"
Currently the ``UUIDTypeDeserializer`` simply calls ``UUID.fromString()``.  In accordance with [Postel's Law](https://en.wikipedia.org/wiki/Robustness_principle), it would be great if the deserializer also accepted the common "dashed notation" (e.g. ``f2d2089d-ac40-4b49-8ec6-eb90458acfc7``).  Unfortunately, you can't choose how to serialize a UUID without specifying a configuration somewhere.

[2018-11-09 22:05] bshannon commented on #34
Ok, good.  Maybe someone should create a unit test and then close this bug?

[2018-11-12 14:48] smoyer64 commented on #176
This actually brings up a bigger question ... would it be prudent for custom ``JsonbAdapter``, ``JsonbDeserializer`` and ``JsonbSerializer`` types to override the built-in equivalents if they're explicitly selected on via an annotation?

[2018-11-13 04:41] aguibert commented on #176
hi @smoyer64, regarding the original post, I don't think that Yasson should do any special handling of UUIDs.  Reading the [UUID spec](https://tools.ietf.org/html/rfc4122#section-4.1), it looks like the dashes are actually required in a UUID:

[code]

If I did misinterpret the spec for some reason, it would be better for the JDK itself to support a lack of dashes in `UUID.fromString()` if that is

[2018-11-13 09:27] gcameo opened #177 "MapDeserializer needs to support other data types for the Key"
At the moment, MapDeserializer throws an error if the key for the Map is not a String. Can we add a feature to allow the JSONConfig to have a custom deserializer for the Key, like in Jackson? Or Can we extend the Deserializer framework to allow registering custom Deserializers for a Map? At the moment, Deserializers can be registered for other datatypes through Adapters but not for a Map.

[2018-11-13 12:37] bravehorsie commented on #76
Its Yasson caching. [See here](https://github.com/eclipse-ee4j/yasson/blob/0fe80a67b33d4422f4c58a22ae539e199139f0a3/src/main/java/org/eclipse/yasson/internal/ComponentMatcher.java#L53).

[2018-11-13 14:59] aguibert commented on #177
hi @gcameo, it's a good request for a future JSON-B spec version.  The JSON-B 1.0 spec only allows map keys for now.  Can you please instead open an issue on the JSON-B spec repo here?
https://github.com/eclipse-ee4j/jsonb-api/issues

[2018-11-13 14:59] #177 closed

[2018-11-13 19:33] smoyer64 commented on #176
I've already written an the adapter ... it's basically what you've put above (but a lot more efficient).  The problem I'm having is that I'm trying to deserialize List<UUID> and the adapter doesn't seem to be applied to the deserialization.  Looking briefly at your test, it appears that the adapter you've created has the same behavior as the implicit serializer/deserialer - how do you know that it

[2018-11-14 08:44] scrmtrey91 opened #178 "JsonObjectDeserializer getObject() cannot resolve method"
In class JsonObjectDeserializer it looks like it is missing method getObject() from JsonbParser class. (IntellIj IDEA)

`@Override
    protected void deserializeInternal(JsonbParser parser, Unmarshaller context) {
        this.jsonObject = parser.getObject();
    }`

[JsonObjectDeserializer.java](https://github.com/eclipse-ee4j/yasson/blob/master/src/main/java/org/eclipse/yasson/internal/serialize

[2018-11-14 09:30] gcameo commented on #177
Thanks will do

[2018-11-15 01:52] aguibert commented on #176
I left this out in my previous post, but to confirm that the custom UUID adapter was indeed being called I modified the test to strip the dashes from the UUID and then call `fromJson(uuidStr)` on the result like this:
[code]
If the custom adapter wasn't being applied, then it would go through the default UUID adapter and get the exception you pointed out in the original post.

----

How are you re

[2018-11-15 01:57] aguibert commented on #178
hi @scrmtrey91, I'm not quite sure what the issue is you are trying to point out here.  Are you suggesting that the `JsonbParser.getObject()` method doesn't exist?  That is not the case, if so it would be causing a compile failure in the Yasson build.

Do you have a stack trace or something for the error you are referring to?

[2018-11-15 02:01] aguibert commented on #163
closing this issue since there has been no activity for a while.  If @tomas-langer, follows up and disagrees with my earlier assessment we can re-open and discuss further.

[2018-11-15 02:04] aguibert commented on #135
this issue has been fixed by PR #171, closing this issue

[2018-11-15 02:04] #135 closed

[2018-11-15 02:14] aguibert commented on #131
fixed by PR #142, closing this issue

[2018-11-15 02:14] #131 closed

[2018-11-15 02:20] aguibert commented on #133
hi @amoscatelli, this is an interesting idea and certainly something that can be discussed further.

However, the proper place to do so would be on the [JSON-B spec repo](https://github.com/eclipse-ee4j/jsonb-api), since Yasson is just one implementation of JSON-B, and you are asking for this to be added at the spec level.

Can you please close out this issue and re-open it on the jsonb-api repo?

[2018-11-15 04:04] aguibert commented on #59
I know I'm super late to this issue, but @hei1233212000 I believe the immediate issue you were facing was resolved a while back by PR #66.

----

Aside from the specific scenario, I agree that a general annotation may be useful at the class level.

For example if we have:
[code]

We could use a class level annotation as discussed above to blacklist certain properties, such as:
[code]

However, I t

[2018-11-15 05:36] aguibert commented on #81
For future reference, this was the class in question from inside the original zip:

[code]

And here are the attached tests:
[code]

[2018-11-15 06:41] scrmtrey91 commented on #178
![jsonobjectdeserializeryassonmethod](https://user-images.githubusercontent.com/24773401/48534780-6a93fa80-e8a9-11e8-8afb-35e613d0ad4f.PNG)

Check the image and you will see. I don't what cause this "issue".

If i will have time, i could revert the code and show the error message or stacktrace. But for now check the image if you have any idea.

[2018-11-15 14:44] scrmtrey91 commented on #178
Our project itself is compiling correctly. Also no problem with deploying and running the app.

I did not try to checkout yasson git and run mvn clean install.

But as you said maybe it is IDE problem (somehow).

[2018-11-15 15:06] scrmtrey91 commented on #178
It looks like it was problem with mixed JavaEE dependency. Somehow it was using 7.0 instead of 8.0.

With 7.0 removed and only using 8.0, method is resolved correctly.

I will take time and make WS and client with same code as before, to see if the exception (unsuported operation) will still be an issue. I think this was causing the issue.

Thanks for your help for now. When i will try this , i wi

[2018-11-16 15:20] smoyer64 commented on #176
@aguibert

I seem to have certain patterns where my adapters, serializers and deserializers aren't called.  I've got to investigate these a bit more.

I'd love to add certain (general) adapters to my JsonbConfig but right now I'm using Resteasy and I haven't figured out how (or if) the ResteasyConfiguration can be used to alter the JsonbConfig it's using.  They have a couple of very general proper

[2018-11-16 15:21] tomas-langer commented on #163
Dependency on CDI API only makes sense when CDI is actually used - most of CDI classes are annotations and SPI.
So unless a CDI class is actually a parameter or return type within the API, this dependency is not needed in a runtime without a CDI.

To go back to your point:
 - in SE world, if somebody depends solely on Yasson, there should be no problem, as CDI is not used
 - in SE world, if someob

[2018-11-17 04:53] hei1233212000 commented on #59
Thank you @aguibert !

Besides, I think white list and black list would be useful in different scenarios. For an example, the class has many fields but you only want to ignore one or two fields. :)

[2018-11-17 23:10] aguibert commented on #163
I agree with your 2nd and 3rd scenarios, but the scenario I was originally and still am concerned about is the first one:

If someone wasn't using CDI but just happened to trigger a code path inside Yasson where one of the classes that imports CDI API got loaded, they would hit a NCDFE, even if they weren't intending to use CDI.

---

Looking at the Yasson code, this is the only code path where im

[2018-11-20 14:39] #163 closed

[2018-11-22 13:13] senivam commented on #170
done: https://oss.sonatype.org/content/groups/staging/org/eclipse/yasson/1.0.3/

[2018-11-22 14:56] #170 closed

[2018-11-23 17:11] srius opened #186 "Defaulting Json objects deserialization to TreeMap instead of HashMap"
Hi everyone,

I am currently using Yasson with pojos containing generic modelisation for some attributes in oder to keep flexibility in our model : SortedMap<String,Object>. We can then mix booleans, numbers strings, arrays and objects in attribute's sublevels.

When deserializing the explicite attribute level, no problem : TreeMap is used as the attribute is delared as SortedMap. But when Json ob

[2018-11-26 13:29] gjeraj opened #187 "Recursive reference in custom serializer"
I'm trying to implement a custom abstract class serializer which could serialize POJO in the following way: `{"com.test.TestClass":{"a":"1","b":"2"}}`

For that I've written a custom serializer which is identical to the one listed in JSON-B example (http://json-b.net/docs/user-guide.html#serializers-deserializers):

[code]

When i try to run it (`jsonb.toJson(instance, GenericClass.class);`) i get

[2018-11-26 16:33] schueffi opened #188 "Unable to deserialize a "naked" boolean"
According to the json specification, a "naked" boolean is a valid json document ([see rfc7159, section 13, examples, especially the last one](https://tools.ietf.org/html/rfc7159#section-13)). i.e the input
`false`
is a valid json object (note, there is no object or array around the value, and no "key": value construct.
Attempts to deserialize this into a boolean java primitive fails with NoSuchEle

[2018-11-26 19:31] aguibert commented on #178
Closing this issue at seems to just be a random IDE bug.  We can re-open if the problem persists

[2018-11-26 19:31] #178 closed

[2018-11-26 19:50] aguibert commented on #186
HashMap has O(1) time complexity for get/put/remove/contains, whereas Treemap is O(log(n)), so HashMap is more efficient indeed.

If you want lexiographical ordering on "value parts", you could make your POJO datamodel be of type TreeMap instead of Map or HashMap.

[2018-11-26 20:36] aguibert commented on #187
@bravehorsie this seems to be an issue caused by XYZ

Also, @gjeraj has pointed out we have an invalid code example in the [JSON-B doc](http://json-b.net/docs/user-guide.html#serializers-deserializers):
[code]

With the current code we get:

If we add a `generator.writeStartObject()` as shown in the OP, we get the following error:
[code]

---

It seems this is expected behavior, introduced by @bra

[2018-11-27 15:57] srius commented on #186
I guessed it was for performance considerations.
I don't want to explicitly define types in my data model as values can be objects (ie. maps) but also primitives or arrays.
Do we agree that if property order strategy is set in JsonbConfig, TreeMap is needed everywhere for this to work ? In order to keep performance when ordering is not needed, an alternative could be something like that in `Deseri

[2018-11-29 15:20] srius commented on #186
PR has been submitted.

[2018-12-10 15:15] aguibert commented on #176
Section 3 of the UUID spec (quoted previously) pretty clearly states that the string representation of UUID has the 4 dashes in it.  Given that, and the fact that `java.util.UUID.fromString()` does not allow dashes either, I'm going to assume the dashes are required unless I see some sort of evidence indicating that the dashes are optional.

[2018-12-10 15:42] aguibert opened #192 "Repo does not build on 'master' branch"
I know recently @bravehorsie made some PRs to change over to JakartaEE dependencies, but it appears that these dependencies not publicly available yet.

Should these changes be limited to the `EE4J_8` branch so that `master` remains usable?

Also, a general question for @m0mus and @bravehorsie... I have been making PRs against `master` branch for now, but should we be dual-delivering changes to bo

[2018-12-10 18:01] aguibert commented on #76
@bravehorsie since this issue only really exists in app server environments (where apps can be restarted while server-side components such as JAX-RS runtime can stay up and hold a reference), it seems like the responsibility of the app server to clear the JSON-B cache when a hot-update occurs.

Perhaps we could provide some sort of SPI hook that app servers could call in order to invalidate all ca

[2018-12-11 13:54] bravehorsie commented on #76
We may clear the cache, but what about other user application classes that have chached jsonb instance? Should they get an invalidated exception in that case?

[2018-12-11 13:55] bravehorsie commented on #76
Also the redeploy itself may not be related to classes used by jsonb instance.

[2018-12-11 13:58] bravehorsie commented on #192
You need to add "-P staging" to your command line in order to pull deps from https://oss.sonatype.org/content/repositories/staging/ which are not in central yet. Possibly this information can be added to project README file.

[2018-12-11 15:20] aguibert commented on #76
When an application server performs a hot-update of an application class, it will have to discard and re-create the application classloader, so we shouldn't have to worry about caches JSON-B instances in the application space here.

True, but "better safe than sorry" here.  If we clear the cache when it is not needed, the extra processing time will not be noticeable to the developer (<100ms impact

[2018-12-11 15:39] bravehorsie commented on #76
I am a bit confused here. Are we talking about hot swap or hot redeploy? If it is the latter than is it correct that whole application state is dropped upon redeploy? If so, all jsonb instances with cached components for that application should also be dropped..

[2018-12-12 09:45] hwellmann opened #193 "JSON-B and JSON-P API dependencies should have 'provided' scope"
## Scenario

Working in a Java EE context with Maven, you normally have a provided scope dependency on javax:javaee-api.

To use any implementation specific API of Yasson (like YassonProperties), you need to add a compile scope or provided scope dependency on org.eclipse:yasson.

As a consequence, you get compile or provided scope transitive dependencies on javax.json:javax.json-api and javax.json

[2018-12-12 12:13] bmhm commented on #164
Hello @aguibert , any news about a new release? :)

[2018-12-12 12:20] bmhm commented on #75
While this is true, you can always use your own implementation of field visibility. Just add this annotation to your class: `@JsonVisibility(MyStaticVisibilityStrategy.class)`.

Then, implement `MyStaticVisibilityStrategy extends PropertyVisibilityStrategy`.
It has only two methods:
[code]

Maybe this helps with JPA. But this is not a thing that yasson should provide. That would go into an extensi

[2018-12-12 12:23] bmhm commented on #59
TBH, this sounds pretty much like a mix-in from Jackson:
https://github.com/FasterXML/jackson-docs/wiki/JacksonMixInAnnotations

The advantage of jackson: Mix-Ins can also be applied to final classes (which would not work in your case).

[2018-12-12 17:55] aguibert commented on #193
Using a provided scope may be better for your use case, but remember that Yasson is also usable outside of a JavaEE context, and it should continue to be usable in this way.

The dominant use-cases are:
- JavaSE env: Pull in yasson as a dependency (drags in API automatically too, which is good)
- JavaEE env: Using just JSON-B spec, no vendor-specific APIs.  Here the app server provides API and and

[2018-12-12 18:21] aguibert commented on #164
@bravehorsie @m0mus looks like someone created a 1.0.3 release 20 days ago:
https://github.com/eclipse-ee4j/yasson/releases/tag/1.0.3-RELEASE

However, the artifact never made its way to maven central:
https://mvnrepository.com/artifact/org.eclipse/yasson

Also, the version in pom.xml should be updated to `1.0.4-SNAPSHOT` if we really did cut a `1.0.3` release.

[2018-12-12 20:07] ahmadshahwan opened #194 "Error getting value when using lambda expressions"
When the serialized object is created using lambda expression, a `JsonbException` with a message of the sort "Error getting value on: com.acme.Entry$$Lambda$40/0x00000008000f7040@45018215" is thrown.

The following code:
[code]

Results in the following stack trace:
[code]

Replacing the lambda expression with an anonymous class solves the issue. However, both expressions are supposed to be equiva

[2018-12-13 19:22] bstansberry commented on #72
Is UTF8Control necessary? Is people somehow bringing a localized variant of yasson-messages.properties something that yasson wants to support? Otherwise AFAICT the only content of the file that needs UTF-8 are the czechDiacritics and russianDiacritics properties, which are only used by org.eclipse.yasson.customization.EncodingTest . And that seems to just be using that properties file as a way to

[2018-12-14 10:46] bravehorsie commented on #72
Should be doable without use of multi-release jar, since properties in named modules should be read as UTF-8 by default. I will take a look on that.

[2018-12-14 20:23] aguibert commented on #192
@bravehorsie I've created PR #198 for enabling the staging repository in the pom.xml by default, so that people don't need to be aware of the extra `-P staging` option.  We can remove the staging repo from the pom once JakartaEE dependencies are available on Central.

[2018-12-15 07:35] ahmadshahwan commented on #194
Thanks Andrew, I'm on it.

[2018-12-15 14:26] oliviercailloux opened #199 "getter not ignored when deserializing"
I am trying to deserialize JSON `{"data": ["hah"]}` into:

	public class Wrapper {
		public Wrapper() {
		}
		public ImmutableSet<String> getData() {
			return null;
		}
	}

It seems to me this should work, as “data” should be ignored during deserialization (no corresponding public field or setter). But `data` is not ignored, instead, yasson tries to create an `ImmutableSet` and fails.

Here is th

[2018-12-15 18:43] #194 closed

[2018-12-15 21:46] aguibert commented on #199
Hi @oliviercailloux, thanks for reporting this issue.  Looks like if we use a class that doesn't have a hidden ctor, the code ultimately behaves correctly.  In this case, Yasson tries to find the ctor for `ImmutableSet` (even though it would never be used) and blows up trying to do so.

I'll work on a fix, but in the meantime you should be able to work around the issue by putting `@JsonbIgnore` on

[2018-12-16 00:55] oliviercailloux commented on #199
Thanks for taking care of this. No, `@JsonbIgnore` does not work around the issue, I tried that.

[2018-12-17 12:35] bravehorsie commented on #187
@aguibert The commit you have referenced is old and has been overwritten by other commits. Yasson checks for StackOverflowError before it happens in cases such are bidirectional references.

@gjeraj In the test project you referenced there is a `CustomSerializer`, which inside its body calls context.serialize(..). Now if JsonbException with "Recursive .. " text will not be thown what will happen a

[2018-12-17 13:45] bravehorsie commented on #187
Also related to #164 where custom serializers / adapters were made triggering also for subtypes of its declaration.

[2018-12-17 20:54] oliviercailloux commented on #199
Any idea for a workaround? It’s needed while waiting for the fix to be integrated, and more importantly, because application servers around will still ship a version of yasson that doesn’t have the fix in the nearby future.

[2018-12-18 04:40] aguibert commented on #199
Some workarounds for now:

1. Rename the `getData()` method do something that does not match the `getXXX()` property pattern, so `obtainData()` or something similar.
2. Change return type to `Set<String>` instead of `ImmutableSet<String>`

[2018-12-18 04:50] aguibert commented on #199
3. Register an adapter for ImmutableSet like so:

[code]

Then register the adapter with your `Jsonb` instance:
[code]

[2018-12-18 08:48] oliviercailloux commented on #199
Workaround 3 is great, thanks.

[2018-12-18 09:46] oliviercailloux opened #201 "Heap pollution: Deserializing into @JsonbCreator with Set<Thing> creates a Set<HashMap> instead"
I am trying to deserialize `{"persons": [{"name": "name1"}]}` into a class [`Persons`](https://github.com/oliviercailloux/2018-jsonb-serial/blob/master/src/main/java/io/github/oliviercailloux/y2018/jsonb_serial/Persons.java). The class declares a JsonbCreator as follows:

	@JsonbCreator
	public static Persons wrap(@JsonbProperty("persons") Set<Person> persons)

Jsonb knows how to create a [`Person

[2018-12-18 09:58] oliviercailloux commented on #201
Note that removing `@JsonbCreator` and using a setter instead works.

[2018-12-18 12:34] bravehorsie commented on #201
Thanks for reporting @oliviercailloux !

[2018-12-18 12:40] bravehorsie opened #203 "Cache ResourceBundle upon creation."
Even if it is cached internally, Yasson could hold ResourceBundle instance inside its org.eclipse.yasson.internal.JsonbContext

Relates to #72 and #195

[2018-12-18 14:15] #199 closed

[2018-12-18 14:16] #192 closed

[2018-12-18 18:00] oliviercailloux commented on #201
Whow, efficient. Thanks.

[2018-12-19 09:03] oliviercailloux commented on #193
If you set yasson with provided scope, its dependencies in turn automatically become provided from the point of view of your project, according to the official [doc](https://maven.apache.org/guides/introduction/introduction-to-dependency-mechanism.html). It seems to me that things are correctly set up in yasson’s own pom, thus. Maybe there’s a problem somewhere else with some tool not respecting p

[2018-12-19 09:17] oliviercailloux opened #204 "Publish SNAPSHOTs, or document their locations"
Are yasson SNAPSHOTs published to some Maven repository? I can’t find information about this.

The [parent pom](https://github.com/eclipse-ee4j/ee4j/blob/master/parent/pom.xml) references the Sonatype Nexus Staging [repository](https://oss.sonatype.org/content/repositories/snapshots/org/eclipse/), but I can’t find recent yasson artifacts there.

I also found (outdated?) information related to an e

[2018-12-19 13:50] bravehorsie opened #205 "Better JPMS support in POM"
Update surefire version, set surefire plugin to put yasson on module path.

See #196 @psakar comments for details.

[2018-12-19 17:20] aguibert commented on #193
you're right @oliviercailloux, he did say "compile scope or provided scope dependency on org.eclipse:yasson" in the OP, but based on the code example I'm guessing he meant "compile" scope.

So the scenario he seems to care about is compile scope on Yasson, but provided scope on everything else.

In any case, in order to make this change the usage pattern of Yasson=compile everythingElse=provided w

[2018-12-19 17:20] #193 closed

[2018-12-19 18:15] aguibert commented on #204
@bravehorsie @m0mus I'm having trouble finding this information too.

Looks like the Yasson CI/CD pipeline is here: https://ci.eclipse.org/yasson/

According to build logs, there are a few different repos:
- https://repo.eclipse.org/content/repositories/yasson/org/eclipse/yasson/
- https://repo.eclipse.org/content/repositories/yasson-releases/org/eclipse/yasson/
- https://repo.eclipse.org/content/

[2018-12-19 19:06] aguibert opened #206 "Jenkins build is broken"
The Jenkins build at https://ci.eclipse.org/yasson/job/yasson-build/ has been failing for a few months with this error:

[code]

The failure seems to be caused by this change: https://github.com/eclipse-ee4j/yasson/commit/77580b27411bdac5e37fe38285a194786224a240

I think the proper fix is to update Jenkins build to use JDK 11. However, I'm not sure if we even use this Jenkins build anymore since w

[2018-12-19 19:07] aguibert commented on #206
@Verdent perhaps you can weigh in on this one since you seem to work with the CD/CD pipelines for this repo?

[2018-12-20 09:00] bravehorsie commented on #204
I don't think we do publish snapshots. We may need to create a job for it.

[2018-12-20 17:03] aguibert commented on #204
@bravehorsie We seem to have a snapshot repo and pipeline setup, which is working completely except for the very last step where it tries to upload the snapshot artifact to the snapshot repo.  See issue #206 for details.  I'm hoping you or some of your other Oracle co-workers that set up the pipeline could clarify the original intent of this pipeline and whether or not it should still be working g

[2018-12-25 09:53] oliviercailloux commented on #204
Would perhaps someone consider publishing manually a 1.0.3-SNAPSHOT version, in the meantime, if it’s not difficult? I would be happy to benefit from a few recent patches.

[2019-01-05 07:31] michael-schnell opened #208 "Allow handling of "JsonStructure" as input for "fromJson""
Hey there,

I just requested a new feature (see [jsonb-api/issues/111](https://github.com/eclipse-ee4j/jsonb-api/issues/111)) for the JSON-B API to allow [javax.json.JsonStructure](https://github.com/eclipse-ee4j/jsonp/blob/master/api/src/main/java/javax/json/JsonStructure.java) as input for deserialization

How about implementing this already in [JsonBinding.java](https://github.com/eclipse-ee4j/

[2019-01-05 13:16] michael-schnell opened #209 "Fix API link on main page to new "eclipse-ee4j/jsonb-api""
The API link on the project's home page (README.md) still points to the archived https://github.com/javaee/jsonb-spec repository. It should be changed to the new https://github.com/eclipse-ee4j/jsonb-api repo.

[2019-01-07 15:22] m0mus opened #211 "Public Release"
Last CTS runs indicate no failures in this component. It's time to make a public release. Before the release make sure that Eclipse Release Review is passed and all dependencies have been released.

[2019-01-09 09:54] #188 closed

[2019-01-09 09:55] bravehorsie commented on #188
Propagating an issue to JSONP to allow `JsonParser` next in case of a single naked value.

[2019-01-10 10:52] m0mus commented on #211
Released

[2019-01-10 10:52] #211 closed

[2019-01-14 15:32] bravehorsie commented on #150
Closing this for its inactivity.

[2019-01-14 15:32] #150 closed

[2019-01-14 15:48] bravehorsie commented on #76
@aguibert If we are talking about hot swap I don't know a way to drop the cache, if it is hot redeploy it should drop automatically by dropping all jsonb instances in the redeployed application.

Unfortunately @Xsylum user has been deleted and we have no other input to confirm.

[2019-01-14 15:56] Al-un commented on #76
@bravehorsie My bad, this is my new account (I merged @Xsylum user with this one). I did not know that it also deleted my comments.

I am not sure what you meant by _hot swap_ as I only know the term in infrastructure context. In my situation, it was a _hot deploy_:

1. Change something in a class
2. Application with the updated class is deployed on the application server upon saving

As for the a

[2019-01-14 16:41] bravehorsie commented on #76
@Al-un by [_hot swap_](https://docs.oracle.com/javase/8/docs/technotes/guides/jpda/enhancements1.4.html#hotswap) I mean a JVM class updating in debug mode, but that should not cause a ClassCastException.

Can you track where jsonb instance is referenced in your application and if that component is kept upon redeploy? Do you have direct reference to jsonb in any of your classes, or is it used in yo

[2019-01-15 13:10] bravehorsie opened #212 "Remove redundant code for root level in JsonbRiParser"
JsonbRiParser uses `LevelContext root` field to track root level. This proved unnecessary and fragile when parsing single value JSON.

[2019-01-15 13:16] bravehorsie commented on #212
Looking further into deserialising naked boolean value, I found that problem was on our side, not the jsonp.

[2019-01-15 14:06] bravehorsie commented on #187
If there are any new objections I am about to close the issue.

[2019-01-15 14:07] #186 closed

[2019-01-15 16:30] bravehorsie opened #214 "Yasson parses classes of known type"
Known types such as java.lang.String or java.lang.Integer when are held inside collections, they are parsed reflectively by Yasson.

For example:

[code]

will cause java.lang.String to be parsed by Yasson into its class model.

[2019-01-15 16:32] bravehorsie commented on #214
Relates to #205, when used together with custom `PropertyVisibilityStrategy` making accessible private properties it causes `illegal reflective access` which is prohibited in Java 11.

[2019-01-16 10:34] #212 closed

[2019-01-18 20:03] realmarbro opened #216 "incorrect implementation of recursive reference detection"
I noticed rare exceptions in my prototype application (using Yasson 1.0.2) when performing concurrent serialization from various resources to JSON.

[code]

The resources at hand have properties of type Currency for which I implemented the following adapter:

[code]

There is no way that this could result in a recursive reference and I never encountered this in serial
serialization to JSON. Accord

[2019-01-19 12:04] realmarbro commented on #216
I was initially under the impression I was working with the lastest version of yasson (1.0.3), but when checking the classpath I noticed that I was actually using 1.0.2 (corrected this in my earlier posting). Checking the master branch I noticed that this issue was already fixed.

So only BTW 1 and 2 are still relevant from the initial report. I changed the title so it is clear that it only applie

[2019-01-19 12:04] #216 closed

[2019-01-19 12:26] realmarbro opened #217 "Unsafe initializations in version 1.0.3"
As a reported and closed #216 I created a new issue to mention the 3 outstanding issues I spotted in the code.

In `org.eclipse.yasson.internal.ProcessingContext`

[code]

The above should be made final as it represents an unsafe initialization, chances are rare it results into a race condition but it is possible.

in `org.eclipse.yasson.internal.JsonbContext`

[code]

`configProperties` must be m

[2019-01-24 14:15] bravehorsie opened #218 "Fix TravisCI build"
Javadoc fails at Travis on latest JDK 11.0.2, with following message:
`[ERROR] Exit code: 1 - javadoc: error - The code being documented uses modules but the packages defined in https://docs.oracle.com/javase/8/docs/api/ are in the unnamed module.`

[2019-01-24 14:42] bravehorsie opened #219 "Cache deserializer instance for collections."
During deserialization of Collection items deserializer of item should be cached, to tune up performance.

[2019-01-24 14:44] bravehorsie opened #220 "Add JMH performance tests"
Add tests to verify performance tuning for Yasson.

[2019-01-24 14:44] bravehorsie commented on #219
Relates to #220

[2019-01-25 02:41] oliviercailloux commented on #201
The problem still occurs with yasson 1.0.3 (out 28th of Dec), is this expected? (The test code is still online, see original post.)

[2019-01-28 09:42] cchacin opened #221 "Deserialize Enum with @JsonbCreator on factory method"
### Given the following Enum:
[code]

### And the following wrapper class using the enum as a field type:
[code]

### The following test should pass:

[code]

### Error Output:

[code]

[2019-01-28 13:49] #205 closed

[2019-01-28 13:49] #214 closed

[2019-01-28 13:49] #218 closed

[2019-01-28 21:02] cchacin commented on #221
@bravehorsie I added the wrapper in the example just to make my life easier in the test, but the question is:

Having an Enum which has a factory method annotated with `@JsonbCreator`, should the deserializer use the factory method or not?

[2019-01-29 11:12] bravehorsie commented on #221
@cchacin
First: according to [JSONB specification](https://jcp.org/aboutJava/communityprocess/final/jsr367/index.html), deserialization of enums must be done with an Enum#valueOf method. Its not perfectly clear if @JsonbCreator should apply also to enums, but lets leave enums alone and consider following scenario:
[code]
During deserialization of a `BoxWrapper` we are expecting here that value for

[2019-01-29 11:14] bravehorsie commented on #221
Not sure if it meets your need but you can declare a `javax.json.bind.serializer.JsonbDeserializer` calling your factory Enum method.

[2019-01-29 16:14] cchacin commented on #221
@bravehorsie thanks for the explanation about the spec, the `JsonbDeserializer` approach worked as a workaround for my case 👍

[2019-01-29 16:55] cchacin commented on #221
Closing since is not an issue and there is a simple way to solve this functionality

[2019-01-29 16:55] #221 closed

[2019-01-31 19:21] Al-un commented on #76
Unfortunately, as I stopped Java for a while, I do not maintain this code anymore. For what it's worth, you can find it here: https://github.com/Al-un/playground/tree/master/javaee/playground-ejb/src/main/java/com/playground/organisation. It's a bit messy though... 😭

Moreover, I am not sure if I am able to answer your question: what do you mean by reference? Entities are indeed used by JAX-RS but

[2019-02-01 06:41] bravehorsie commented on #76
"By reference" I mean what holds a jsonb instance.
When you want to use jsonb you do some of ```Jsonb jsonb = JsonBuilder.create();```, than you  should store somewhere this instance to be accessed later. For example Jersey should hold jsonb instance for each deployed application, to reuse it for processing REST requests.

It may worth a try to inspect the lifecycle of jsonb instance in Jersey on

[2019-02-01 10:46] bravehorsie commented on #217
@realmarbro Thanks for pointing that out, making final as many as possible is always a good practice.

Looking into code, `ProcessingContext` has a "Thread bound" mention in its javadoc. So only one thread can ever access particular instance. Anything inside is effectively thread safe. If you search for usages of the constructor of `ProcessingContext` you will see that it is created everytime `Jso

[2019-02-04 09:57] bravehorsie opened #226 "Dead code in org.eclipse.yasson.internal.Unmarshaller"
`org.eclipse.yasson.internal.Unmarshaller` holds an `Unmarshaller#current` field which is not used anymore.

[2019-02-04 10:14] bravehorsie commented on #226
Found during #225

[2019-02-05 10:21] #217 closed

[2019-02-06 09:36] tosix1988 opened #228 "@JsonbPropertyOrder seems to ignore inherited properties"
When a type that inherits properties from its supertype is annotated by @JsonbPropertyOrder, the inherited properties are ignored even if specified in the @JsonbPropertyOrder.

To reproduce, suppose we have the following types:
SampleEntitySuper:
[code]
SampleEntitySub:
[code]
Now, I would assume the following test to succeed, but it fails instead:
[code]
The failure is:
[code]
i.e. SampleEntitySu

[2019-02-06 09:42] bravehorsie commented on #204
Snapshot version for Yasson has been published.
https://oss.sonatype.org/content/repositories/snapshots/org/eclipse/yasson/1.0.3-SNAPSHOT/

[2019-02-06 09:44] bravehorsie commented on #204
The build is configured to poll SCM changes and republish new version when available.

[2019-02-06 09:44] #204 closed

[2019-02-06 14:41] bravehorsie commented on #206
New space for Yasson jobs is now at https://jenkins.eclipse.org/yasson/.

[2019-02-06 14:41] #206 closed

[2019-02-06 15:08] notarmara opened #229 "Custom Deserializer with Generics"
Hi all,
I ‘m using wildfly 14 with jersey 2.27 and java 11.

Previously I used Jackson and now I’m trying to substitute it with yasson.
I’m using the yasson version provided by wildfly:

<dependency>
                    <groupId>org.eclipse</groupId>
                    <artifactId>yasson</artifactId>
                    <version>1.0.1</version>
                    <scope>provided</scope>
</depend

[2019-02-07 07:30] tosix1988 opened #230 "Collections are not correctly unmarshalled when @JsonbCreator is used"
When using @JsonbCreator to annotate a factory method to create an instance of the type, collection properties of the type are not properly unmarshalled.

To demonstrate this issue, let's assume we have:

Some enum type:
[code]
Then we have two types, each having a collection of EnumType as a property.
EnumCollection (no @JsonbCreator annotation):
[code]
EnumCollectionCreator (using @JsonbCreator)

[2019-02-07 15:19] tosix1988 opened #231 "@JsonbTypeAdapter is not applied for unmarshalling when @JsonbCreator is used"
Suppose we have a following enum type
[code]
Then, let's define a custom JsonbAdapter for a list of EnumTypes:
[code]
Then for the type defined as:
[code]
the following test passes:
[code]
However, when we define the type with @JsonbCreator, such as:
[code]
then the following test fails:
[code]
The reason is that the EnumTypeListAdapter was used only when marshalling (and the CollectionAdapterCrea

[2019-02-07 15:35] bravehorsie commented on #231
@tosix1988 Thanks for reporting! Looks to be a creator with adapter / serializer issue.

[2019-02-07 15:39] bravehorsie commented on #230
Thanks for reporting @tosix1988 !

[2019-02-07 16:16] bravehorsie commented on #228
Thanks for reporting @tosix1988 ,

Currently processing for `@JsonbPropertyOrder` applies only to class level properties, it does not include properties from superclass(es) or children. If it does and `@JsonbPropertyOrder` is declared on both: child and parent classes including properties from both classes on both declarations, there will be a conflict forcing a need to throw an exception in that

[2019-02-09 11:06] TheZopo opened #232 "Deserializing a java.sql.Timestamp returns a java.util.Date"
Hello !
I'm using Yasson 1.0.3 on Java 11 and deserializing a java.sql.Timestamp returns a java.util.Date instead of a Timestamp.

For instance, this test :
[code]

Will throw the following exception :
[code]

It's even more problematic when you have a java.sql.Timestamp argument encapsulated in an object, as the full object can't be deserialized. It throws a `java.lang.IllegalArgumentException: a

[2019-02-10 21:51] aguibert commented on #232
hi @TheZopo, thanks for reporting this. Right now Yasson does not provide a built-in adapters for `java.sql.Timestamp`.  According to JSON-B 1.0 spec, only the following date/time classes are required:
- java.util.Date
- java.util.Calendar
- java.util.GregorianCalendar
- java.util.TimeZone
- java.util.SimpleTimeZone
- java.time.*

However, Yasson also provides other adapters beyond the spec like `

[2019-02-11 12:51] reinhapa opened #233 "Configuration propertsy "withNullValues" ignored when serializing Collections/Maps"
When serializing collections and maps containing `null` values the `JsonbConfig` property `withNullValues` is ignored. See test provided methods:

[code]

[2019-02-12 08:08] TheZopo commented on #232
Didn't realize that `java.sql.Timestamp` wasn't in JSON-B specs, thank to pointing that out.
Howewer, as you said it could be a good improvement to add support for it, as for `java.sql.Date`.

[2019-02-13 06:40] #232 closed

[2019-02-13 07:16] bravehorsie commented on #233
Thanks for PR @reinhapa, but I think ignoring nullValues:FALSE (which is default) for collections is intentional.

[The specification document](https://download.oracle.com/otndocs/jcp/json_b-1-final-eval-spec/index.html) is not clear about collections, however Yasson treats them similar to Arrays, see section 3.14.2 in the spec.

The issue with ignoring null values for collections/arrays is that a

[2019-02-13 10:02] reinhapa commented on #233
@bravehorsie I see your point in serializing collections though, for the Map serialization on the other hand the `null` handling does not respect the setting and also does the current implementation not behave symmetric in regards of `null` keys though. (the latter corner case is also not clearly specified, a `null` key value is silently converted to `"null"`)

[2019-02-13 11:48] bravehorsie commented on #233
@reinhapa Key is converted to null because json doesn't allow anything else than string for key values. Correct in that cornercase Yasson is not symmetric, but it tries its best and is symmetric in other cases.

[2019-02-13 18:47] reinhapa commented on #233
@bravehorsie should it not lead to an error if a such a case is found, so that the implementer will be aware of this fact in favour of having "wrong" data?

Also after a giving other thought to the Collections:
Would it be feasible to have an special implementation handling null values within `java.util.Set` then ignoring `null` values, excluding the `java.util.List`?

[2019-02-13 21:12] emattheis opened #237 "Deserializing JSON with missing field fails using @JsonbCreator"
When I attempt to deserialize a JSON document with missing fields as a Java type using `@JsonbCreator` I get the following exception:
[code]
Looking into the source, I found [this](https://github.com/eclipse-ee4j/yasson/blob/1.0.3/src/main/java/org/eclipse/yasson/internal/serializer/ObjectDeserializer.java#L117-L120) which indicates that the error condition is mandated by the spec. However, I can'

[2019-02-14 04:06] rady66 commented on #187
It is reproducible on 1.0.2 but not on 1.0.3
`Recursive reference has been found in class class java.util.Date.

<init>:62, JsonbException (javax.json.bind)
serialize:65, AdaptedObjectSerializer (org.eclipse.yasson.internal.serializer)
serializerCaptor:95, AbstractContainerSerializer (org.eclipse.yasson.internal.serializer)
marshallProperty:92, ObjectSerializer (org.eclipse.yasson.internal.seriali

[2019-02-14 06:14] bravehorsie commented on #233
@reinhapa Good suggestion, throwing exception for java.util.Map null keys is much better option than to write them as strings.

Not sure what did you mean. Extending / wrapping Set implementations not allowing null values to pass in? I think Yasson could provide a setting for omitting null values on serialization for Maps/Collections/Arrays, but it should be configurable separately from null value

[2019-02-14 07:11] reinhapa commented on #233
@bravehorsie I'm happy to help in [eclipse-ee4j/jsonb-api#118](https://github.com/eclipse-ee4j/jsonb-api/issues/118)
Also I will then remove ignore part from the Collections though..

[2019-02-14 08:01] bravehorsie commented on #237
Its section 4.5

The complicated thing with this example is that Yasson will never know the field is missing intentionally or not.
When parsing "{\"test\":null}", JsonParser encounters a test field for a constructor or setter and Yasson propagates the null value.
However parsing "{}" there is no callback into Yasson for property to be set. In case of `@JsonbCreator` Yasson can be "smart" and use n

[2019-02-14 15:25] emattheis commented on #237
I followed the link from the [JSON-B website](http://json-b.net/download.html) which leads [here](https://jcp.org/aboutJava/communityprocess/pr/jsr367/index.html). Now I realize that is the public review draft. 🙄 Anyway, I found the [final spec](https://jcp.org/aboutJava/communityprocess/final/jsr367/index.html) and I see the reference.

This is disappointing since it basically means you cannot de

[2019-02-18 10:58] #172 closed

[2019-02-18 12:26] cpoels opened #240 "Custom JsonbSerializer not used"
Hello everyone,
We are currently migrating our JavaEE applications to the latest JBoss EAP 7.2 release. Unfortunately we have some trouble with serializing (Hinbernate) entities.
I know from a previous discussion that Yasson should not provide any vendor-specific de-/serialization mechanism and I totally agree. I only want to ask a question about one specific implementation part of Yasson.

Our ma

[2019-02-18 12:29] tosix1988 commented on #230
Hi @bravehorsie, I have checked this issue again on master, and it seems that it has already been fixed in the meanwhile (most likely by 6ae0add15), so I believe this issue can be closed.

[2019-02-19 12:15] bravehorsie opened #241 "Unnecessary reflective call for getting default constructor"
During deserialization, Yasson calls `Class#getDeclaredConstructor` in runtime during each user type instance creation. This call should be cached in order to avoid performance problems.

[2019-02-20 09:46] bravehorsie commented on #240
Hi @cpoels, thanks for reporting!

Currently Yasson looks into property type signature (as is declared on field/getter) for resolving serializers / adapters without considering an instance. That looks like a bug at first glance. I will look further into it.

[2019-02-20 09:47] #226 closed

[2019-02-20 20:03] cpoels commented on #240
Hello @bravehorsie, thanks for the quick response!

I haven't read the specification so far, so I'm not sure if it's really a bug or if the specification is written this way.
No matter how, it would be a pretty cool feature if an instances' type is considered, because this would open up much more configuration possibilities in my opinion.

Maybe not only checking `serializers' type == instances' t

[2019-02-25 17:39] emattheis opened #243 "serialization of generic root type with custom serializer fails to use the custom serializer"
Consider the following type:
[code]
And the corresponding custom serializer/deserializer:
[code]
[code]
This works:
[code]
But this doesn't:
[code]
Looks like an issue with type erasure at runtime. PR incoming...

[2019-02-27 19:21] jjspiegel opened #245 "Way to map directly to/from JsonGenerator and JsonParser"
Some data binding frameworks provide a way to do mappings to/from parsers and generator.

JAXB:

   https://docs.oracle.com/javase/8/docs/api/javax/xml/bind/JAXB.html#unmarshal-javax.xml.transform.Source-java.lang.Class-
   https://docs.oracle.com/javase/8/docs/api/javax/xml/bind/JAXB.html#marshal-java.lang.Object-javax.xml.transform.Result-

(see StAXResult and StAXSource)

Jackson:

   https://f

[2019-03-01 14:56] bravehorsie commented on #240
@cpoels Looks I have been mistaken about instance type not considered. This was already fixed in #164. I've tried to create test simulating your use case (subtypes of generic collections), but my serializer is used by the runtime. Can you take if there is anything missed in the test scenario?

https://github.com/bravehorsie/yasson/tree/serializers-instance-type

https://github.com/bravehorsie/yass

[2019-03-01 15:03] #233 closed

[2019-03-05 11:00] cpoels commented on #240
@bravehorsie Thanks a lot for your help!
Unfortunately we cannot test your suggested version in our environment, becuase Yasson 1.0.3 is build with the new jakarta packages.
We are bounded to our RedHat support, so we cannot patch the Yasson module without replacing all javax.json dependencies with the jakarta.json ones. If we would do this, we would loose the support.

But your tests looks like e

[2019-03-05 11:15] bravehorsie commented on #240
@cpoels Losing a RedHat support because updating to JakartaEE? But that is what all JavaEE went into. There will be no further updates of Yasson or other JavaEE components in the old (https://github.com/javaee/) space. Sounds like you are now stuck without any update at all, which is quite bizzare.

[2019-03-06 11:22] frito opened #247 "ClassCastException when marshalling char[]"
The test` org.eclipse.yasson.defaultmapping.collections.CollectionsTest#testMarshallArray` claims support for several arrays, including `char[]`.

Not all supported arrays are tested.

When adding a testcase using a `char[]`, the test fails with a `ClassCastException: [C cannot be cast to [Ljava.lang.Object;`

[code]

Observed with yasson 1.0.1 and reproduced in MASTER.

[2019-03-07 08:29] frito commented on #247
Adding missing `char[]` support as mentioned in #250 .

[2019-03-07 09:04] cpoels commented on #240
Maybe my explanation was not that clear as I thought.
RedHat will update their Jboss EAP versions to the new JakartaEE. So for the future we won't have a problem at all.
But their latest release EAP 7.2 wont get the patches. Of course it would be somehow possible to patch Yasson 1.0.3 by ourselves, but we are then loosing the support.

Okay then, I know everything I need to know. I think we try to

[2019-03-07 09:11] MytnikAA commented on #201
Same problem but with List<Thing>

[2019-03-08 01:42] aguibert commented on #240
It's important to note that even though the _maven dependencies_ are changing from `javax.json` to `jakarta.json`, the package names and binary .class files will all remain the same. So you should be able to run the latest Yasson 1.0.3 even if you are compiling/running against the old `javax.json` maven dependencies

[2019-03-10 20:25] #245 closed

[2019-03-10 20:31] aguibert commented on #240
Closing this issue as a dup of https://github.com/eclipse-ee4j/yasson/issues/164

[2019-03-10 20:31] #240 closed

[2019-03-11 14:28] #247 closed

[2019-03-12 13:40] #243 closed

[2019-03-14 20:05] nickarls commented on #110
I would like to +1 this for re-opening. It's a bit counter-intuitive  to use the toString since the object being serialized is probably a domain object that might have needs for a descriptive toString implementation. It's also a bit surprising if someone changes the toString implementation and something seemingly unrelated breaks.

[2019-03-15 08:25] nickarls opened #253 "Map deserialization doesn't use Adapter and generates runtime exception on access"
Given a simple POJO "Person" with a String attribute "name" and a test like

`	public static void main(String[] args) {
		String json = "{\"foo\" : \"bar\"}";
		Map<Person, String> map = JsonbBuilder.create().fromJson(json, new HashMap<Person, String>() {}.getClass().getGenericSuperclass());
		map.keySet().forEach(Person::getName);
	}
`

I end up with
`Exception in thread "main" java.lang.ClassCas

[2019-03-15 10:43] bravehorsie commented on #110
What is the suggestion to avoid toString key calls?

[2019-03-15 11:05] nickarls commented on #110
Is this something specific for Map keys or is the behaviour the same for key values or e.g. stuff in collections? If type erasure would be a problem then nothing would work anywhere(?). If the type information is there, couldn't you just check with the proper context resolver if it can do the job?

[2019-03-15 11:10] bravehorsie commented on #253
Looks like a reopen of #110.
In runtime the <Person> signature is not present, so any value fits. However Yasson should avoid class cast failing earlier and also tell something more specific in this case.

A bit of a background on current implementation and why your adapter is not used:
JSON doesn't allow anything else than string to be used as a key in a json object structure.
Serializing Maps wi

[2019-03-15 11:13] bravehorsie commented on #110
Lets continue the discussion in the referenced issue.

[2019-03-17 21:12] nickarls commented on #253
Does Gson or Jackson etc have any workaround for this case?

[2019-03-22 13:24] #241 closed

[2019-03-27 09:02] cpoels opened #255 "CollectionSerializer only processes first entry"
Hello together,
I am currently struggling with deserializing a List using a custom deserializer for the generic type of the list. I think that I am missing something obvious but I can't get it to work and I didn't find any issue related to mine.
My simplified implementation:
[code]
In my test I am executing a GET as followed:
[code]
But I only get a List with one entry. My deserializer is not call

[2019-03-28 10:28] siaspa opened #256 "Error marshalling a Groovy object"
This example tries to marshal a simple Groovy object, but it raises the following exception

Caused by: java.lang.IllegalAccessException: Class org.eclipse.yasson.internal.model.GetFromGetter can not access a member of class sun.reflect.annotation.AnnotatedTypeFactory$AnnotatedTypeBaseImpl with modifiers "public final"
	at sun.reflect.Reflection.ensureMemberAccess(Reflection.java:102)

Maybe it's

[2019-03-28 11:41] siaspa opened #257 "Invalid property value while unmarshalling: which property?"
If a string is passed to an Integer value, an exception in raised but it's too generic.

javax.json.bind.JsonbException: Error deserialize JSON value into type: class java.lang.Integer.

I can't compile the project with Java 8, but I think that in the ObjectDeserializer method a try catch could wrap the deserializer.deserialize() call

[code]

[2019-04-07 16:24] jesperdj opened #258 "Order of kv-pairs wrong when using custom naming and @JsonbPropertyOrder"
When you use a custom naming strategy, Yasson 1.0.3 does not handle @JsonbPropertyOrder correctly. According to the Javadoc of @JsonbPropertyOrder:

But when I try this, it does not work: the order of the key-value pairs in JSON is different than what I specify with @JsonbPropertyOrder. To make it work, I must use the translated names instead of the original Java property names, which is against w

[2019-04-07 16:29] jesperdj commented on #258
Note: In the example I'm using my own implementation of interface PropertyNamingStrategy, not one of the pre-defined ones as in issue 23.

[2019-04-10 12:42] mdzaebel opened #259 "Convert JsonObject to class object efficiently"
A JsonObject can be transformed into it's corresponding class instance via:
`Dog dog=JsonbBuilder.create().fromJson(jsonObject.toString(), Dog.class)`

However, it seems to be inefficient to use _jsonObject_.**toString**() as a String is an other intermediate representation, that contains the same information. I need to transform the _jsonObject_ before the object binding. So is there a more effic

[2019-04-10 13:17] mdzaebel commented on #208
This is definately an important feature. In my view, the more important one is to have a binding from a JsonObject, as for JsonArray the order of fields would be relevant. See (#259)

[2019-04-12 10:51] mkouba opened #260 "Turn JsonbComponentInstanceCreator into a service provider interface"
So that an integrator could provide a custom implementation of this interface. `JsonbComponentInstanceCreatorFactory` currently contains some reflection magic to detect the presence of a CDI container. In fact, the presence of the CDI API is enough.

I believe it would be reasonable to define this SPI. [Quarkus](https://github.com/quarkusio/quarkus) integration would definitely make use of it beca

[2019-04-12 13:03] pdudits commented on #162
While I accept the argument on `java.util.Date` being a timestamp format, the JSON-B section 3.5.1 specification says:

Therefore there should be no exception when deserializing `"2018-03-05"` into `java.util.Date` at least when no date format annotation is present. But this appears not to be the case.

[2019-04-14 16:44] aguibert commented on #259
Marc asked the same question on StackOverflow, where I've provided the current answer which is basically "no": https://stackoverflow.com/questions/55677292/convert-jsonobject-to-pojo-efficiently-with-json-b-1-0-e-g-yasson-java-ee-8

I think the best thing we can do to handle this use case is address it at the spec-level in https://github.com/eclipse-ee4j/jsonb-api/issues/111

[2019-04-15 06:15] bravehorsie commented on #259
Good point. The problem with including JSONP objects, is that Jsonb interfaces and Yasson internal classes are built on top of `JsonGenerator/JsonParser` (for example [JsonbSerializer](https://github.com/eclipse-ee4j/jsonb-api/blob/master/api/src/main/java/javax/json/bind/serializer/JsonbSerializer.java)). What comes to my mind is to implement JsonParser / JsonGenerator in Yasson, which input / ou

[2019-04-16 23:17] mdzaebel commented on #259
Sounds quite reasonable.

[2019-04-26 18:39] gsmet commented on #260
Any thought on this? This is rather blocking for the Yasson Quarkus integration and we have quite a few users asking for it.

[2019-04-26 22:48] aguibert commented on #260
Can you elaborate on what needs to happen in order to turn this into an SPI? Are you asking that we make a `META-INF/service/` entry for this?  Or perhaps just moving it out of the Yasson `.internal` package so it is exported by our JPMS module?

[2019-04-29 09:32] mkouba commented on #260
Just use the `ServiceLoader` to obtain the `JsonbComponentInstanceCreator` instance so that an integrator could provide its own implementation. The logic from `JsonbComponentInstanceCreatorFactory` should be extracted to a default impl (e.g. `DefaultJsonbComponentInstanceCreator`) and either moved to a separate artifact with `META-INF/service` config, or alternatively `JsonbComponentInstanceCreato

[2019-04-29 20:59] aguibert commented on #260
Sounds like a reasonable change -- do you have cycles to propose a PR?

[2019-04-30 06:52] mkouba commented on #260
Yes, I'll try to prepare something.

[2019-05-01 21:20] geoand commented on #260
I can work on this next week when I am back if you haven't had time to do
it until the @mkouba

On Tue, Apr 30, 2019, 08:52 Martin Kouba <notifications@github.com> wrote:

[2019-05-02 13:34] #260 closed

[2019-05-06 20:46] pdudits opened #263 "Optional.empty() as root object cannot be serialized or deserialized"
Following two testcases (added to `OptionalTest`) fail:

[code]
[code]

I see that spec avoids describing mapping of empty optionals except for object properties, but this creates quite uncomfortable asymetry when non-emty ones serialize without issues.

I will provide a PR for these cases.

[2019-05-09 10:45] notarmara commented on #162
Are there any news about this issue? I have the same problem reported by @pdudits

[2019-05-09 11:53] pdudits opened #265 "null is not deserialized"
Passing `"null"` as input to `Jsonb.fromJson(String, T)` throws
[code]
Reproducible via:
[code]

This is (unfortunately) only case where spec defines what to do with null input, in section 3.6:

I'd provide a PR with more generic solution to handle `null` for any specified type (except for optional types handled in my previous PR).

[2019-05-09 16:19] diegosilval commented on #162
I use LocalDate class  instead. I no longer have problems, and it works
very well

El jue., 9 may. 2019 a las 5:45, notarmara (<notifications@github.com>)
escribió:

--
*Ing. Diego E. Silva Límaco*

[2019-05-10 08:25] notarmara commented on #162
yes but in this way it's needed to change code implementation. I develop a framework and I wouldn't that developers who use it must change all their java.util.Date into LocaleDate. I can perform a workaround of course, but I agree with @pdudits when he says that it should be no exception when deserializing "2018-03-05" into java.util.Date, at least when no date format annotation is present.

[2019-05-13 12:08] gsmet commented on #260
@bravehorsie @aguibert is the next release already scheduled? Asking that so that we don't miss it and do the appropriate work in Quarkus as soon as it is released.

Thanks!

[2019-05-14 06:07] fhm84 opened #266 "Using LinkedHashMap to preserve attribute order"
When using a generic approach in our Java model (-> maps), we'd like to preserve the attribute order "as is". So it would be great to configure whether to not order attributes or preserve the given order (perhaps only when using collections/maps).
What do you think about using LikedHashMap as default implementation when PropertyOrderStrategy is set to ANY?

[2019-05-14 09:51] bravehorsie commented on #260
@gsmet @aguibert Lets review current PRs and do the release.

[2019-05-14 12:47] masini commented on #260
Thank you for fixing this issue, is a blocking one for our porting to JSONB.

[2019-05-20 10:55] notarmara commented on #255
I have the same problem, have you solved it?

[2019-05-20 14:25] bravehorsie commented on #255
What is the JSON input for this part:
`final JsonObject value = ctx.deserialize(JsonObject.class, parser);` ?

[2019-05-20 16:15] notarmara commented on #255
I can only talk about my case, that is a little bit different from the one that @cpoels reported.
I think that to the custom deserializer is arriving the entire json, that is to say the entire array, not only the contained objects one a time. For this reason the deserializer is called just once. Probably we are wrong in configuring the jsonb object.
this is my example, I have the following deseria

[2019-05-21 08:03] notarmara commented on #255
I just want to add that without a custom deserializer, I have no problems with arrays.

[2019-05-21 08:46] bravehorsie commented on #255
@notarmara In your custom deserializer you are handling jsonp yourself, so it looks to be either: a bug on jsonp, or an incorrect json parsing. Without a sample JSON text (the input for JsonParser) it is hard to tell. Looking at `@Path("/jsonArray")` it looks that JSON text contains an array instead of an object as its root, shouldn't your deserializer call `JsonParser#getArray()` instead of `Json

[2019-05-21 09:10] notarmara commented on #255
yes can be a bug of jsonp, I'm trying to understand where is the problem for this reason I involved you.
However the rest call I have reported is a sample, the deserializer is also called with a rest service that receive a single object, for this reason I cannot simply change from ```` JsonParser#getObject() ```` to ```` JsonParser#getArray()```` .
Moreover the code of the ```` AbstractMessageRead

[2019-05-21 09:40] bravehorsie commented on #255
It would be best to narrow down the problem to Yasson outside of Jersey context. Do you have a HTTP request log? Can you save the JSON feeded from parser and log it?

[2019-05-21 10:17] notarmara commented on #255
yes let's will try to go down in deep.
this is the rest call I'm doing

![image](https://user-images.githubusercontent.com/12168345/58086155-64673980-7bbe-11e9-95e8-095d58218b06.png)

this is the operations' sequence performed:
we receiving the START_ARRAY event into JsonbDeserializer#build():

![image](https://user-images.githubusercontent.com/12168345/58086813-a3e25580-7bbf-11e9-8379-de8447f3ab9

[2019-05-21 10:43] bravehorsie commented on #255
I don't see any problem in provided screens, you have an JSON with an json array as root and one json object inside this array. You get it deserialized once as expected. What is missing?

Am I correct to say it would be the same as calling:
`jsonb.fromJson("[{...}]", History[].class);` ?

In your case
```public class HistoryDeserializer implements JsonbDeserializer<History>```
is defined for Histo

[2019-05-21 11:02] bravehorsie commented on #255
Just tried following code on master branch and it works as expected:
[code]

[2019-05-21 13:03] notarmara commented on #255
I have tried your test and the deserializer is called 2 times, so I have rewritten your test using my deserializer and my pojo. the result of the test is the same, an array of 3 object and deserializer called just once.
I finally figure out the problem. the problem is related to the following instruction:
```` JsonObject node = parser.getObject(); ````
infact if you rewrite your deserializer in th

[2019-05-21 15:04] notarmara commented on #255
After debugging, I think that the problem is related to jersey implementation of the JsonParser, so it isn't a yasson issue. Probably the @cpoels original issue is different from this, I have misunderstood becouse the effect was the same.

[2019-05-21 15:17] bravehorsie commented on #255
This https://github.com/eclipse-ee4j/jsonp is glassfish JsonParser impl (the only one). I will take a look at your example later.

[2019-05-21 15:31] notarmara commented on #255
yeah, what I want to say is that I think the problem is not inside the yasson but in jakarta.json lib as you suggest me previously. Ok, I will waiting for your feedback. Thank you

[2019-05-21 15:56] notarmara commented on #255
as you probably already know, the problem reported by @cpoels should be the same because the ```` JsonObjectDeserializer```` calls ```` parser.getObject()````

[2019-05-22 15:22] bravehorsie commented on #255
Thank you @notarmara, I now see the problem. Its not because of a bug in jsonp. `JsonParser#getObject` advances parser to the `JsonParser.Event.END_OBJECT`, which Yasson doesn't expect. I will try to fix this in Yasson.

You can also do:
[code]

[2019-05-24 13:47] AlexanderHofmeister commented on #187
Is there any workaround?

I am trying to hide my entity references behind IDs e.g.

[code]

should lead to something like this:

[code]

where as "5" and "2" are the referenced IDs

I implemented something like the code above:

[code]
I get

Am I missing something?

[2019-05-27 09:53] bravehorsie commented on #187
Are you serializing a root object? If sou you can't call `generator.writeStartObject("a");`, because object properties must be enclosed inside json object curly bracers.

[2019-05-27 09:53] #187 closed

[2019-05-29 11:36] #265 closed

[2019-05-31 11:44] gsmet commented on #260
@bravehorsie @aguibert any news on the release front?

Thanks!

[2019-06-01 01:39] aguibert commented on #260
@bravehorsie I added a code review to #262 (your big JSON-P interop PR) and I think we should merge it and then we should be good to cut a new release.

[2019-06-01 08:56] oliviercailloux commented on #204
Shouldn’t the current SNAPSHOT be named `1.0.4`? `1.0.3` is [out](https://search.maven.org/search?q=g:org.eclipse%20AND%20a:yasson&core=gav) already.

[2019-06-01 18:52] aguibert commented on #204
yes it should. Looks like we just forgot to bump the version after cutting 1.0.3. I've created+merged https://github.com/eclipse-ee4j/yasson/pull/268 which bumps up to 104-snapshot

[2019-06-02 20:15] oliviercailloux commented on #201
Answering myself, I suppose it’s normal, as the release [notes](https://projects.eclipse.org/projects/ee4j.yasson/releases/1.0.3/bugs) do not list any issues solved.

[2019-06-03 02:06] aguibert commented on #201
The issue is listed in the Github release notes here: https://github.com/eclipse-ee4j/yasson/releases/tag/1.0.3-RELEASE

So the attempted fix was included in 1.0.3. We'll have to take another crack at fixing the problem.

[2019-06-06 08:33] #257 closed

[2019-06-06 10:10] AlexanderHofmeister commented on #187
Even without `generator.writeStartObject("a");` I get the same error. :/

[2019-06-06 14:16] bravehorsie opened #269 "Remove number stringification."
There is a feauture in Yasson that check number values and tries to figure out if the values does "fit" IEEE754 double precision range or not. Based on the result the number is written either as JSON string or JSON integer. This proves to be a wrong approach causing to break any schema and making documentation of REST APIs tricky.

For now this feauture should be removed, after https://github.com/

[2019-06-10 09:57] bravehorsie commented on #260
Yasson 1.0.4 has been released to central, which includes the fix.

[2019-06-10 12:55] gsmet commented on #260
Thanks @bravehorsie !

[2019-06-10 13:17] #269 closed

[2019-06-11 11:42] #259 closed

[2019-06-19 09:03] StaffanHorke opened #272 "Deserialization of EnumSet fails with "No default constructor found""
Deserialization of an EnumSet property fails with the exception "Can't create instance of a class: class java.util.EnumSet, No default constructor found".

This test fails:
[code]

For illustration, testing for EnumSet and creating an empty EnumSet of collectionValueType in org.eclipse.yasson.internal.serializer.CollectionDeserializer#createInstance will make the test pass:

[code]

[2019-06-21 08:42] siaspa commented on #253
Maybe I should open a new issue, but my one is similar to this...

I have a Map<NOT_A_STRING, ?> and I would like to have a json like this:

[code]

I tried to build a MapAdapter, but was only able to get the content of "key" and "value" as a string, using jsonb.toJson(e.getValue()...)

Then I tried to use serializers. In this case the @JsonbTypeSerializer can't be used because in this Serializer

[2019-06-22 14:30] gjsbe opened #273 "generic bound not found for type M declared in class"
Hi,
for many time I correctly developed a java ee ear that runs on wildfly 13, that use yasson-1.0.1.
Inside I use jackson for serializing my java beans to JSON.
These java beans uses generics type, on wildfly 13 everything works perfectly.

[code]

Now I am making tests to migrate to wildfly 17, it use yasson-1.0.3.
The same code doesn't work more, on the log i see these message:

WARNING [org.ec

[2019-06-22 16:50] aguibert commented on #273
hi @gjsbe, in order for this issue to be investigated, can you please update with more detailed information such as:
 - the `JsonResult` class that `JsonModelResult<M>` is extending
 - The full stack trace of the error you are seeing
 - Is this error happening on serialization (Java Object -> JSON) or on deserialization (JSON -> Java Object)?

Also, if you are able to extract out the code to repro

[2019-06-22 17:55] gjsbe commented on #273
Hi,
wildfly doesn't show any error, In log I see only the warning:
"generic bound not found for type M declared in class JsonModelResult"
Here's JsonResult class:

[code]
And this is JsonModelResult:

[code]
I paste also a portion of the code of the method that gives that warning:

[code]

And finally

[code]

I made many tests today on wildfly 17, for many hours I searched for the bug inside jack

[2019-06-22 17:59] gjsbe commented on #273
I have another possible scenario, if the new version of yasson is more strict, I made some error inside CDI and with the new version the error comes out.

[2019-06-24 15:13] misl opened #275 "Inheriting from class with package level modifier leads to IllegalAccessException"
The following simple example:
[code]
Leads to the following error:

[code]
Making the `Parent` class public makes this simple example work. However in some cases you might not be able or might not want to make inherited classes visible (public) from the outside.

Should yasson also work for invisible parent classes?

[2019-06-24 17:05] misl opened #276 "Can not use Optional<> arguments in @JsonbCreator method/constructor"
Just like in  #237, I also like to stick to immutable pojos. However I tried a different approach using `Optional<>` fields. In comparisons [like this on](https://developer.ibm.com/articles/j-javaee8-json-binding-4/) with other Json serialization frameworks (Jackson and/or Gson) it is stated that JSON-B has improved handling of `Optional<>` fields.

However the examples mostly show only serializat

[2019-06-25 09:29] gjsbe commented on #273
Hi,
today I'm trying again to find a workaround or a solution to the problem.
The problem is inside ReflectionUtils.java:

[code]
The strange thing is that it returns Object.class and should go on, but the method (jackson related) serialize inside JsonModelSerializer is never called and yasson serialize the entire object without my customization.
Based on the fact that If I load inside wildfly 17

[2019-06-25 09:56] misl commented on #237
Wouldn't it still be compliant with JSON-B specification if only `Optional<>` JsonbCreator arguments were allowed to be missing? In this case missing none `Optional<>` arguments would still throw the `MessageKeys.JSONB_CREATOR_MISSING_PROPERTY` error.

I did something similar in #276. I only noticed how similar both solutions were after I was done.

[2019-06-26 20:23] m0mus commented on #237
@aguibert @Verdent Can you folks review it. I am also interested in is TCK will pass with this PR merged.

[2019-06-27 14:23] aguibert commented on #237
@m0mus before we merge this PR or the similar PR that @misl proposed, we need to address this at the JSON-B spec level over at https://github.com/eclipse-ee4j/jsonb-api/issues/121
Lets focus our efforts on that JSON-B spec issue and then we can do the appropriate impl in Yasson.

[2019-06-28 09:56] m0mus commented on #237
We discussed it with @Verdent today. We both agree that the issue exists and it makes sense to fix it. The problem is that it goes against the spec which explicitly restricts this behavior. Thanks @aguibert for creating a task in JSONB spec issues tracker. We will address it when we will start working on a new version of the spec.
It doesn't mean that it cannot be fixed in Yasson *now*. We can add

[2019-06-28 14:13] emattheis commented on #237
Personally, my interest in Yasson is limited to it's role as the JSON-B reference implementation, so I am happy to wait until this becomes specified behavior. If I can't write portable code, then I'm going to use a more mature JSON framework anyway.

I don't necessarily object to making this a configurable behavior of Yasson, and I imagine it won't be difficult to add, but I think it dilutes the v

[2019-06-28 16:43] aguibert commented on #237
@m0mus I hesitate to add a yasson-specific switch to enable non-spec compliant behavior for the reasons that @emattheis outlined and also because it creates more long-term code maintenance for Yasson. Especially if JSON-B decides to solve this in a completely different way, then we would have to support both ways in Yasson and hope they don't conflict.

We can't fast-track a change to the JSON-B s

[2019-06-29 08:55] m0mus commented on #237
@emattheis in this case we should close this issue. Andy already added a task to JSONB issues tracker. There is no need to keep it open.

@aguibert Sure, we can start working on JSONB 1.1 now in master branch. It's fine to define a scope and feature set and start working on updating APIs. We cannot release a final version without going through the spec approval process (but we can release non-fina

[2019-06-29 18:52] gjsbe commented on #273
Is not a bug, today I understood the problem.
Sorry.

[2019-06-29 18:52] #273 closed

[2019-07-01 08:09] mdzaebel opened #279 "[De]Serialize polymorphic objects"
[Dmitry](https://stackoverflow.com/questions/46050845/how-to-deserialize-an-interface-with-json-b) once explained, how to [de]serialize objects into their runtime classes. However, his solution is not valid, as Yasson signals a recursive reference, which is intended/correct behavior. So the question remains, how to realize this usecase, that might occur many times in real applications. Jackson has

[2019-07-01 12:51] mdzaebel commented on #133
Added https://github.com/eclipse-ee4j/jsonb-api/issues/147

[2019-07-01 13:14] mdzaebel commented on #279
There is a similar question in https://github.com/eclipse-ee4j/yasson/issues/133.

[2019-07-02 13:14] m0mus commented on #279
Yes, I've seen on Stack Overflow that it doesn't work anymore. It used to work at the time I posted this sample. I guess I used older Yasson version and in the newest something's changed and it stopped working. We will investigate what's happened. Thanks for reporting!

[2019-07-03 06:55] mdzaebel commented on #279
Good news! [Romain Manni-Bucau](https://github.com/eclipse-ee4j/jsonb-api/issues/147) already pointed me to [Polymorphic.java](https://github.com/apache/johnzon/blob/master/johnzon-json-extras/src/main/java/org/apache/johnzon/jsonb/extras/polymorphism/Polymorphic.java) which answers a lot (but I have to analyse it further).

[2019-07-03 09:05] mdzaebel commented on #279
Romains code is like yours. E.g.
[code]
This unfortuately also leads to "_Recursive reference has been found in class_ ...", but isn't this correct?

[2019-07-05 07:02] funcbro commented on #187
The origin of the error seems to be the management of the objects in JsonbContext.

[code]

Depending on the Hashcode of the processed objects this results in collisions, causing a recursive reference exception in AdaptedObjectSerializer:

[code]

As a workaround you can try to adapt your hashcode generation for all of your entities.
A solution within Yasson should at least also distinguish the ty

[2019-07-06 09:14] oliviercailloux commented on #201
Switching to [1.0.4](https://search.maven.org/search?q=g:org.eclipse%20AND%20a:yasson&core=gav) (out 7th of Jan) solves the problem.

Please consider fixing the release notes…

[2019-07-07 09:06] masini commented on #187
I have the the same problem with a  JsonbSerializer<List<MyPojo>>, when the object is inside an ArrayList or a wrapper returned by the ORM these are detected as "RECURSIVE_REFERENCE".

Are polymorhpics collections planned in the Jsonb specs ?

[2019-07-09 15:27] akovac35 opened #281 "How to exclude Weld metadata from JSON object serialization by Yasson"
Details posted here:

https://stackoverflow.com/questions/56951279/how-to-exclude-weld-metadata-from-json-object-serialization-by-yasson

Here is approximate call stack:
	at org.eclipse.yasson.internal.model.GetValueCommand.getValue(GetValueCommand.java:36)
	at org.eclipse.yasson.internal.model.ReflectionPropagation.getValue(ReflectionPropagation.java:73)
	at org.eclipse.yasson.internal.model.Prop

[2019-07-12 07:32] bravehorsie commented on #279
@mdzaebel What happens here is that after calling:
[code]
Yasson founds another instance of "Dog" inside "Wrapper" and calls your serializer to serialize it, which in turn will call again the above statement so you will end up with StackOverflowException if the _"Recursive reference has been found in class ..."_ is not thrown by Yasson.

There are few solutions to get around it:
 - Update Yasson t

[2019-07-15 09:02] manish2aug commented on #162
The issue still persists with 1.0.4 but works fine with LocalDate

[2019-07-15 20:30] mdzaebel commented on #279
Roman, thanks for all options! I used the third one, which works great!
Does such an easy method also exist for adding a type attribute directly, without the wrapper? I was able to achieve this by overwriting Yassons Object[De]Serializer but would need a portable solution. However, due to your explanation, anyone who needs polymorphic support with Yasson, can now achieve it easily. As there's not

[2019-07-16 17:04] oliviercailloux commented on #201
Mh, the problem appears again (or a close variant of it) in another part of the code. Not sure it’s the exact same bug but the symptoms look very similar.

Please specify whether this bug fix has finally made it into 1.0.4 or not. Relatedly, whether I should just wait for a release or whether what I am observing now is a genuine new bug.

[2019-07-16 17:10] oliviercailloux commented on #201
Oops, sorry, I was using 1.0.3 by mistake.

[2019-07-20 17:29] bravehorsie commented on #279
Not sure what do you mean, you can pass any type to the runtime.

[2019-07-21 09:05] mdzaebel commented on #279
Just in order to reduce JSON depth for network traffic and readability, instead of wrapper serialization
[code]
I'd like
[code]
E.g. in [Jackson](https://github.com/FasterXML/jackson-docs/wiki/JacksonPolymorphicDeserialization) this would be achieved by:
[code]

[2019-07-22 17:57] bravehorsie commented on #279
There is no out of the box support in Yasson for it. You may of course do it manually in your serializer iterating inner properties and passing them to the runtime serialization.

[2019-07-23 13:22] Verdent commented on #279
I have made a summary in [#147](https://github.com/eclipse-ee4j/jsonb-api/issues/147) about this topic. I do believe that we could create this feature in yasson as yasson specific feature for the time being.

[2019-07-24 18:12] Degubi opened #282 "How to get rid of extra quotes around string values when serializing JsonArray"
Hi! I got a question, not an issue.
How can I get rid of the extra quotes that I get when I serialize an array of strings to string format.? Example:

[code]

What I'd expect:
["Fortnite",
 "Half-Life",
 "Generation Zero",
 "Layers of Fear 2"
  ]

What I get:
["\\"Fortnite\\"",
 "\\"Half-Life\\"",
 "\\"Generation Zero\\"",
 "\\"Layers of Fear 2\\""
]

[2019-07-24 19:36] aguibert commented on #282
What is the input being used as `channelQueryHistory.data`?

If I try this locally, I get expected results:
[code]
prints:
`["first","second"]`

[2019-07-24 19:37] aguibert commented on #282
My guess is that your input data has an extra set of escaped quotes like this:
[code]

[2019-07-24 20:08] Degubi commented on #282
Nice catch! It's because the JsonValue::toString method adds them when I read back my settings.json file. (I'm working on switching from gson)

[code]
Is there an alternative method to convert a JsonValue to a string without it adding the extra quotes?

[2019-07-24 22:19] ivangreene opened #283 "Deserializing Map with enum keys results in runtime string keys"
Attempting to deserialize json into a Map with enum keys will result in the instance having String keys at runtime. Using an enum as the value side of a Map works as expected. We should support Map keys with natural string representations in JSON (immediately, enums and UUIDs come to mind, although I'm sure some other types would benefit from this). This is somewhat related to #110, #177 and #253,

[2019-07-25 02:33] derekm commented on #283
The JAX-RS spec calls for supporting these stringly-typed types:

https://github.com/eclipse-ee4j/jersey/blob/eafb9bdcb82dfa3fd76dd957d307b99d4a22c87f/docs/src/main/docbook/jaxrs-resources.xml#L363

[2019-07-25 14:10] aguibert commented on #282
If you are reading JSON from a file, my recommendation would be to skip over the intermediate conversion to JSON-P objects (e.g. `JsonArray`) and just go straight to a POJO using JSON-B.

Have a look at `Jsonb.fromJson(InputStream, Class<?>)`. If you need to customize the reading further (I see you are doing `limit(historySize)` that's fine.

If you need to stick with the JSON-P APIs, then it's im

[2019-07-25 14:24] ivangreene opened #284 "Deserializing with generic types has different behavior using @JsonbCreator"
Deserializing a POJO with generic collection types (Set, Map) has different behavior when using `@JsonbCreator` annotated constructor. When the values of these types are specified as an Enum, they work as expected when Jsonb populates them as fields. However, when using a `@JsonbCreator` annotated constructor or static factory, the values of these members will be String at runtime.

In this exampl

[2019-07-25 15:38] derekm opened #285 "@JsonbCreator should allow properties to be optional"
When using `@JsonbCreator` with `@JsonbProperty`, the creator factory/constructor cannot overcome situations where the property being called for is null-squashed by the remote service.

`@JsonbCreator`-instantiated objects should allow properties to be optional or null-squashed, even when `@JsonbProperty` is used.

[2019-07-25 15:39] ivangreene commented on #285
Demo test case. Uncomment `@JsonbCreator` to see the exception: `javax.json.bind.JsonbException: JsonbCreator parameter bar is missing in json document.`
[code]

[2019-07-26 08:58] m0mus commented on #285
Duplicate of #237

[2019-07-26 09:00] m0mus commented on #285
We are working on #237 now. Summary is, it's against the current spec, but we are thinking of adding it to Yasson as an experimental feature.

[2019-07-26 09:00] #285 closed

[2019-07-26 14:20] ivangreene commented on #285
@m0mus thanks for a quick response. Interesting to note is Johnzon's approach: https://github.com/apache/johnzon/commit/6c610cf03164236c39214873001bc46f513c5eda
They added a config property to disable this behavior, so by default they are spec compliant in this regard but users can opt out

[2019-07-26 19:04] Degubi commented on #282
Thank you for the explanation! I solved it with using a JsonString.

[2019-07-26 19:04] #282 closed

[2019-07-28 08:21] mdzaebel commented on #279
@bravehorsie Iterating inner properties is not supported by JSON-B, but Yasson has helpers. Might also be a candidate for JSONB-API.

[2019-07-29 16:15] aguibert commented on #285
IMO optional constructor properties are one of the top 3 most needed features for JSON-B, and I will be pushing hard for this feature to be standardized at the spec level, which is currently being discussed here:
https://github.com/eclipse-ee4j/jsonb-api/issues/121

For the sake of not needing to have two different implementations of optional ctor properties in Yasson, my preference is to wait unt

[2019-07-31 03:06] #272 closed

[2019-07-31 03:11] #258 closed

[2019-07-31 03:12] aguibert commented on #258
thanks for reporting this one @jesperdj. @Verdent has proposed a fix which is now merged so this should be included in the next version of Yasson

[2019-08-01 18:29] nimo23 opened #289 "json string prints new line between property and value"
When printing any json string to the logger (e.g. slf4j, log4j), then the output in the console is:

[code]

instead of

[code]

_tested with org.eclipse.yasson 1.0.4_

[2019-08-01 18:31] nimo23 opened #290 "runtime-configuration must have precedence over annotation"
Annotating a class with

[code]

and printing the json string with

[code]

actually prints the NULL-Values. However, it should **NOT** print the null values, because any runtime-configuration should have precedence over their corresponding annotations.

**(Tested with org.eclipse.yasson v1.0.4)**

[2019-08-02 09:14] nimo23 opened #291 ""fromJson" with EnumSet"
Would be nice to be able to (de)serialize EnumSets.

`
SEVERE [org.eclipse.yasson.internal.Unmarshaller] Can't create instance of a class: class java.util.EnumSet, No default constructor found.`

Something like this does not work with:

[code]

[2019-08-02 13:02] leadpony opened #293 "Deserialization from null to JsonValue"
First of all, thanks everyone for developing such a nice software.

I have a class to be instantiated from JSON.
[code]
And the input JSON for `Jsonb#fromJson() `is here:
[code]
I expected the value of `Stuff#b` should be `JsonValue.NULL` because the target type is `JsonValue`. However I got just a `null` of Java as the value of the member instead.
Is this intended behavior?

[2019-08-02 16:51] aguibert commented on #266
hi @fhm84 thanks for raising this issue. When you say "preserve attribute order" I assume you mean preserving the order that fields/methods were defined in the source file?

If that is what you mean, it's not currently possible to guarantee such an ordering, because the JDK does not provide an API to obtain fields/methods in a way that matches the source ordering.

I don't think this would be righ

[2019-08-02 17:17] fhm84 commented on #266
Hi @aguibert thanks for the response.
When I say "preserve attribute order" I mean when e.g. reading a json file and mapping it to its corresponding java model the file should look the same if I write this data back to a file again. Currently we use json files for configuring our system where sometimes the ordering of some properties matters. But here we cannot implement a custom naming strategy f

[2019-08-04 10:21] nimo23 opened #294 "EnumMap (de)serializing issues"
When using an EnumMap:

[code]

I get this error:

` javax.json.bind.JsonbException: Can't create instance of a class: class java.util.EnumMap, No default constructor found.`

[2019-08-05 02:03] aguibert commented on #266
If property order matters, then perhaps your data model should reflect this? For example, an array could be used instead of a set which does preserver ordering.

So essentially if you go `JSON --> POJO --> JSON` you want the input JSON to be equal to the resulting JSON? This should be the case already because the [default PropertyOrderStrategy defined by the spec](http://json-b.net/docs/user-guide

[2019-08-05 14:00] #275 closed

[2019-08-05 14:35] aguibert commented on #289
hi @nimo23, can you provide more details on your configuration?

- What is your log4j.properties or logging config?
- What is your JSON-B config? It looks like you have `withFormatting(true)` set?
- What is the raw string value of the JSON you are attempting to output?

I attempted to reproduce this locally and everything behaved as expected for me.

log4j.properties:
[code]

main java class:
[cod

[2019-08-05 14:47] aguibert commented on #290
hi @nimo23, where do you see that runtime-configuration should have precedence over annotations?  The runtime configuration with `JsonbConfig` is the "global configuration" and is the broadest scope of configuration. If configuration exists as a smaller scope (e.g. annotation on a class, field, or method) then the smaller scope takes precedence.

From section 4.3 of the spec:
[code]

[2019-08-05 14:47] #290 closed

[2019-08-05 14:54] aguibert commented on #291
hi @nimo23, you are right that the currently released version of Yasson does not support EnumSet.

Support for EnumSet was very recently added under PR #287, and will be included in the next release of Yasson (1.0.5).

Closing this issue as a duplicate of #272.

[2019-08-05 14:54] #291 closed

[2019-08-05 15:02] nimo23 commented on #289
1. the jsonb-config:

[code]

2. the logger config (used within wildfly version 17):

[code]

[2019-08-05 15:41] aguibert commented on #283
related to #294

[2019-08-05 15:54] nimo23 commented on #290
Please look at:
`
Global means shared accross attributes/classes, local is the opposite so annotations are clearly local and jsonbconfig global IMHO. In all cases, config must override what is hardcoded for flexibility reasons.`

Issue should be reopened.

[2019-08-05 21:51] aguibert commented on #283
thanks for raising this issue @ivangreene and for including a test case to reproduce the issue!

I've created a PR that pulls in this test case and gets the Enum key scenario working

[2019-08-05 21:54] aguibert commented on #294
hi @nimo23 thanks for raising this issue. EnumMap isn't required by the JSON-B spec but since it's part of the JDK I think we can add a default adapter for it.

I've raised a PR (#295) which adds support for EnumMap. However, it doesn't allow the original code example you posted to work as-is. In order to deserialize a generic collection, you will need to call `getGenericSuperClass()` at the end l

[2019-08-06 01:03] aguibert commented on #290
I'm not sure if Romain was agreeing with you or disagreeing with you over on eclipse-ee4j/jsonb-api#169 =)

We can discuss more over on that issue though, and if we determine the spec/TCK says otherwise then we can change Yasson

[2019-08-06 06:43] bravehorsie commented on #290
Which configuration has precedence is defined by the specification. Generally smaller scope have precedence over larger one.

[2019-08-06 06:49] nimo23 commented on #290
This is what the spec implicitly says.

[2019-08-07 09:07] flinthart commented on #273
Hi gjsbe - can you let me know what you found?  I'm having a similar issue...
Thank you

[2019-08-07 10:32] gjsbe commented on #273
Hi,
the answer is not yasson related, I use yasson in wildfly environment as module.
The problem was after migrate an ear from wildfly 13 to wildfly 17.
The answer is that wildfly 13 use jackson, wildfly 17 comes with java ee 8 and use json-b embedded module.
This was my error, it was a mine error, not yasson related.
Bye

[2019-08-08 14:52] aguibert commented on #273
hi @flinthart, feel free to open a separate issue and we can look at it there

[2019-08-08 18:53] etay2000 opened #296 "PropertyNamingStrategy translates property names of properties that should not be visible"
Currently the PropertyNamingStrategy#translateName method is called on all class fields and methods, regardless of the PropertyVisibilityStrategy assigned. I would assume that those 'invisible' properties would not have any reason to have their property name translated.

This led to another somewhat edge case where using a lowercase PropertyNamingStrategy leads to a property being ignored:

[code]

[2019-08-09 07:31] mkarg commented on #279
As **even the JSON-B user manual** contains a polymorphic example, I tend to say that this is just a bug in Yasson and not a missing feature of the spec: https://javaee.github.io/jsonb-spec/docs/user-guide.html#serializers-deserializers. Hence it should get fixed ASAP.

[2019-08-09 11:17] nimo23 opened #297 "Include property name that failed to serialize in error messages"
**I get this error:**

`SEVERE [org.eclipse.yasson.internal.Marshaller] double value cannot be Infinite or NaN`

Please include the **"property name"** in this error message which makes the trouble. It's a mess to search for that property manually.

[2019-08-09 12:10] nimo23 opened #298 "Caused by: java.lang.OutOfMemoryError: Java heap space"
I get this error while trying to convert an entity to json string and the **stacktrace does not show me which property makes trouble**. So I search like a needle in a haystack. Please add at least the property which makes trouble.

By the way, using exactly the same bean hierarchy and converting to json string with Jackson does not throw any `java.lang.OutOfMemoryError` and json output is sucessfu

[2019-08-09 12:49] nimo23 opened #299 "Caused by: java.lang.StackOverflowError while converting toJson"
Another `java.lang.StackOverflowError` from a bean hierarchy (works in jackson, fails in yasson). Yasson does not show which property makes the trouble. I cannot find the error at the moment. The stacktrace shows nothing but this:

[code]

[2019-08-09 15:21] aguibert commented on #296
hi @etay2000 thanks for raising this issue along with a testcase! It does indeed seem like odd behavior. I'll try to look into this issue soon.

[2019-08-09 15:23] aguibert commented on #289
does the same issue occur when you run the code outside of Wildfly? I'm thinking this has to be some sort of interaction caused by using Yasson with Wildfly's loggers.

[2019-08-09 15:30] aguibert commented on #293
hi @leadpony, thanks for raising this question.

Here is the relevant portion of the JSON-B spec:

So according to the spec the value should indeed be `null`, and the only types that get special consideration are the various forms of `Optional`.

That being said, it does seem reasonable to include `JsonValue` in the list of types that get special handling, and have their value set to `JsonValue.NU

[2019-08-09 15:30] #293 closed

[2019-08-09 15:31] aguibert commented on #297
hi @nimo23, what version of Yasson are you using here? I thought in Yasson 1.0.4 I did add logging to include the property name that failed.

Also, in PR #295 we're going a step farther and also including the value in addition to the property name.

[2019-08-09 15:38] leadpony commented on #293
@aguibert
Great!, thank you. I will raise an issue at the API.

[2019-08-09 15:41] aguibert commented on #297
ah, I see the problem. We only include the property name that failed for the deserialization process, but not the serialization process. This should be fixed

[2019-08-09 16:23] nimo23 commented on #297
ok thanks! I am actually using **yasson v1.0.4**.

[2019-08-09 16:27] nimo23 commented on #289
No. Outside of wildfly the json string prints normally without line breaks.

Strange. I dont know why? Could you give me a solution to work within wildfly? Why does this happen?

Should I adapt this pattern somehow?

`<pattern-formatter pattern="%K{level}%d{HH:mm:ss,SSS} %-5p [%c] (%t) %s%e%n"/>`

[2019-08-09 18:24] aguibert commented on #299
hi @nimo23, can you please include the Java models for the classes you are using?

[2019-08-09 18:59] aguibert commented on #298
hi @nimo23, I'm going to close this issue as a duplicate of #299. It looks like the root problem for both issues is the same -- there is an infinite recursive loop happening somewhere. It just happens to manifest itself as a StackOverflow in some cases and a OutOfMemory in other cases.

[2019-08-09 18:59] #298 closed

[2019-08-09 18:59] aguibert commented on #298
also, we can use #297 for the general case of including property name whenever there is an unknown serialization failure

[2019-08-09 19:16] aguibert commented on #281
It looks like [Weld CDI beans](https://github.com/weld/api/blob/master/weld/src/main/java/org/jboss/weld/proxy/WeldClientProxy.java#L34) have a few public methods inserted onto them that match the default criteria for a JSON-B property:
[code]

Which explains why you are getting the extra `metatdata` property on your JSON
[code]

The easiest solution would be to have WELD put `@JsonbIgnore` on the

[2019-08-09 19:32] aguibert commented on #289
I am not familiar with Wildfly logging, so perhaps it would be better to discuss with that community.

A good experiment would be to do:
`System.out.println("first \n second")`
in wildfly and see if there is an extra line break added or not.

In any case, the "pretty printing" details are not controlled by Yasson or JSON-B -- we simply set `javax.json.stream.JsonGenerator.PRETTY_PRINTING=true` on

[2019-08-09 20:37] aguibert commented on #296
@etay2000 I was able to reproduce the issue you described using Yasson 1.0.4, but when I swapped to Yasson 1.0.5-SNAPSHOT it works fine. I'll add a test for this anyway and we can aim to put out a Yasson 1.0.5 release in the next week or so.

[2019-08-09 21:15] etay2000 commented on #296
@aguibert That's good to hear, and thanks for the quick response! Just to clarify when you say it works fine, do you mean that PropertyNamingStrategy is no longer called for invisible properties or just that there no longer appears to be a conflict with the properties colliding?

[2019-08-10 00:53] aguibert commented on #256
Hi @siaspa, thanks for raising this issue.

I tried to use your provided code to reproduce the issue, and I had to change `Square` so it was a public static inner class of the main class like this:
[code]

From here Yasson actually attempted to serialize the object, but ran into an infinite loop that resulted in either a StackOverflowException or an OOM.

After inspecting the resulting Groovy clas

[2019-08-10 10:00] nimo23 commented on #289
Yes, Wildfly prints the line break with `System.out.println("first \n second")`. Wildfly uses `javax.json-1.1.2.jar`. However, you can close this issue as this is not caused by Yasson.

[2019-08-10 10:14] nimo23 commented on #289
I have used json-p directly within wildfly and it prints as it should - without line breaks between property and value. So I am wondering why this works but with yasson not?

v```
ar json = Json.createObjectBuilder()
				.add("name", "Name 1")
				.add("task", "Task 1")
				.add("isNull", "null")
				.add("born", 1)
				.build();
		var config = Map.of(JsonGenerator.PRETTY_PRINTING, true);
		var jw

[2019-08-10 11:45] nimo23 opened #303 "don't let unresolved proxies cancel json-processing"
I get this error when  converting object to json-string with json-b:

` javax.json.bind.JsonbException: Internal error: failed to lazily initialize a collection of role: test.Task.logs, could not initialize proxy - no Session`

`Task` is a JPA Entity having `logs` as a `lazy` defined relationship, thus it`s a **proxy**. I dont bother to include logs within json string. Json-B should treat unresolv

[2019-08-10 14:24] aguibert commented on #289
Perhaps you could try doing a runtime comparison of both strings?
For example:
[code]
you could see if they `.equal()` each other, or if their lengths are the same, and if not you could step through the strings char by char and see if any hidden chars (maybe `\n\r`) are getting added in anywhere

[2019-08-10 14:35] nimo23 opened #304 "annotations within class should have higher precedence than class annotations"
I have this:

[code]

Now, even I explicitly assign `@JsonbProperty` on a getter,  the value is **not** (de)serialized because of `@JsonbVisibility(value = PrivateVisibilityStrategy.class)`. Is this okay? If I choose to select a getter to (de)serialize as an exception, then json-b should take the inner annotation with higher priority than the class level annotation.

**So the precedence should be

[2019-08-10 16:10] nimo23 commented on #289
I use this class to test json-b and json-p output:

[code]

and the output is the following within wildfly:

[code]

So there must be something with Json-B string..as json-P output is right.