[2019-08-10 19:58] aguibert commented on #296
yes, when I say it works fine now I mean that:
[code]
now prints: `{"url":"getter#www.google.com"}` as expected

The PropertyNamingStrategy was never inspecting values of the hidden (private) properties, it was just incorrectly noticing that they were there and letting those properties overwrite public properties

[2019-08-10 20:02] aguibert commented on #304
This issue on the JSON-B spec repo looks similar to what you are suggesting:
https://github.com/eclipse-ee4j/jsonb-api/issues/61

If you agree, we can close this issue as a duplicate of it

[2019-08-10 20:04] aguibert commented on #303
hi @nimo23, can you include the full stack trace of the error, and also include an example of the JPA entity class being used here?

[2019-08-10 22:44] etay2000 commented on #296
So with the 1.0.5 SNAPSHOT, in the following example, is PropertyNamingStrategy#translateName still called on on both properties?

[code]

[2019-08-11 00:53] nimo23 commented on #303
hi, this is the full stacktrace - **only one line** of error message and no string output.

The code which produces the error:

[code]

If I use EAGER, Json-B works but with LAZY Json-B fails. So it has problems with unnresolvable proxies - it should return null for such props instead of breaking and rethrowing..

[2019-08-11 00:58] nimo23 commented on #304
yes, close this issue, if you think it s the same.

[2019-08-11 01:05] nimo23 commented on #299
I found the error: It s because of circular dependencies between classes. In my case it was a **indirect** ciruclar dependeny.

A direct circular dependency example:

public class User{
    private Task task;
    ...
}

public class Task {
    private User user;
    ...
}

// creates java.lang.StackOverflowError, as it s going from user->task->user->..
jsonb.toJson(user)

// creates java.lang.Stac

[2019-08-11 03:19] aguibert commented on #299
I am curious, when you say this "works in Jackson", what does Jackson produce? Does it stop serializing data once a cycle is reached?

I think we should add circular dependency checking to Yasson, there are a few ways we could do this:
1. Throw a JsonbException if a cycle is detected (better than let it StackOverflow or OOM)
2. Stop processing the JSON if a cycle is detected
3. Use JSON Pointers (

[2019-08-11 03:34] aguibert commented on #296
yes, with 1.0.5.SNAPSHOT translateName is still called on both properties

[2019-08-11 03:39] aguibert commented on #303
we might be able to add a special-case in Yasson where we automatically ignore certain JPA entity proxy methods.

Could you please upload a a dump of all of the:
 - methods on your entity class at runtime by using `theEntity.getClass().getMethods()`
 - fields on your entity class at runtime by using `theEntity.getClass().getFields()`

[2019-08-11 03:40] #304 closed

[2019-08-11 07:58] nimo23 commented on #299
There were a @JsonIgnore on the other side..

yes, would be the best

[2019-08-11 14:07] etay2000 commented on #296
Is the fact that the NamingStrategy is still translating property names on properties that are never serialized a bug? Even if the translated property name is ignored because the property is not visible it still seems inefficient to do the translation in the first place.

[2019-08-11 16:57] aguibert commented on #299
The JSON-B equivalent to Jackson's `@JsonIgnore` is the `@JsonbTransient` annotation. So if you put `@JsonbTransient` on the other side, it should work the same as Jackson did.

For example, this code works for me:
[code]

[2019-08-11 17:20] nimo23 commented on #299
hi. yes I know. However, I did not find the trouble made prop immediatly..

Would be nice to solve circulare deps with JSON Pointers because putting @JsonbTransient at the other side prevents json processing for this property in all cases even if I select the the other side as the root for json processing.

[code]

[code]

[code]

With JSON Pointers I am not forced to put `@JsonbTransient` on the

[2019-08-11 17:33] aguibert commented on #296
I wouldn't say it's a bug, but it is a bit inefficient yes. Keep in mind that class parsing only happens on the first time a given `Jsonb` instance serializes/deserializes a particular class. After that, the property model is cached for reuse.

So the most important thing for JSON-B performance is that `Jsonb` instances are reused as much as possible (ideally saved off in a `private static final`

[2019-08-11 18:31] etay2000 commented on #296
Fair enough, perhaps not a bug but maybe an enhancement then? Without digging into the code it seems like it would be as simple as checking property visibility and only conditionally using the naming strategy on visible properties?  Either way, thanks for your help.

[2019-08-11 21:27] nimo23 opened #305 "Serializing org.slf4j.Logger results in StackOverflowError"
With jackson I get the following json-string as a result of an empty bean with the setting `mapper.disable(SerializationFeature.FAIL_ON_EMPTY_BEANS)`

`{ }`

With yasson I get this stacktrace:

[code]

I guess, the stacktrace is thrown because there are no accessors for that bean. In my opinion, if no accessors are found `{ }` should be returned for that bean instead of `StackOverflowError`

[2019-08-12 03:26] aguibert commented on #296
Yes it could be a minor enhancement. However, we will be working on the next version of JSON-B soon here, and one of the features being considered[1] is to make JSON-B annotations get processed by default regardless of visibility, which would require Yasson to be looking at private fields once again.

[1]: https://github.com/eclipse-ee4j/jsonb-api/issues/61

[2019-08-12 03:31] aguibert commented on #305
hi @nimo23, are you sure there is not a circular dependency reference somewhere in your bean object? Can you share the contents of your java class?

If I try the following code, it works as expected:
[code]

[2019-08-12 08:35] nimo23 commented on #305
I found the error, it's the `log` property. Use this class to reproduce:

[code]

I get this stacktrace which differs a little from the above:

[code]

**If I delete the `log` property all works.**

If I use  `mapper.disable(SerializationFeature.FAIL_ON_EMPTY_BEANS)`, jackson will see the `log`-property as an empty bean and will not try to (de)serialize it, so I guess, jacksons definition of **wha

[2019-08-12 11:17] nimo23 opened #306 "(de)serialize Double <-> String"
I get this error when trying to (de)serialize the primitive type `double`:

[code]

When I change `double` to `Double` all works.
Am I forced to change all the primitive "`double`" properties to "`Double`" only to work with yasson?

_Btw, the error log does not show **which** property makes trouble..but it's a property with the type "double"_

[2019-08-12 13:46] aguibert commented on #305
normally `Logger`s are defined as `static`, and static fields will not be included as a bean property

[2019-08-12 13:49] aguibert commented on #306
hi @nimo23, this issue seems to be an exact duplicate of this other issue you raised earlier:
https://github.com/eclipse-ee4j/yasson/issues/297

[2019-08-12 13:50] aguibert commented on #306
No, either one is acceptable. The issue is (as the error message indicates) you can't serialize/deserialize infinite/NaN values into double/Double

[2019-08-12 13:53] nimo23 commented on #305
Imagine defining  a logger within  a abstract class and each extended class has a logger instance with its class name (getClass()), this is common. Also, in 3rd party libs, a  Logger can be defined  without using static and we cannot use `@JsonBTransient` on 3rd party libs. Jackson does generally  not  include the logger instance  variable within  json (de)serializing which makes sense.

**Should

[2019-08-12 14:17] nimo23 commented on #306
No duplicate, the other was about "show the property  which makes trouble"..
this issue is about "double/Double conversion"..

**You say:**

Is this okay? Why not (de)serializing a NaN value to NaN?

`Double test = Double.NaN;`

NaN should be converted to what it is: a `NaN`:
[code]

[2019-08-12 14:27] nimo23 commented on #306
I actually looked at what Jackson do with such values. Jackson does what it should!
[code]

Please re-open this issue.

[2019-08-12 15:07] etay2000 commented on #296
Ok cool, sounds good to me.

[2019-08-13 13:03] manovotn commented on #281
Hmm, I am not all that familiar with Yasson, why does it even try to serialize a proxy?
Is it the method signature that matches something Yasson inspects via reflection?

We're definitely not adding that. Weld is used in environments where there doesn't need to be JSON-B API present.

Yeah, that sounds plausible. If Yasson people are OK with that of course.

[2019-08-13 14:13] akovac35 commented on #281
I would caution against Weld dependency in Yasson code, and reflection will cause slowdowns. Perhaps a clear design pattern would be a better solution. I have suggested one in stackoverflow, perhaps it I should document it in this projects *.md document?

[2019-08-13 14:25] akovac35 commented on #281
Ok, so I checked update #302 and it seems it will not introduce additional overhead, so it seems as a good solution.

[2019-08-13 16:37] aguibert commented on #281
@manovotn In case you are not familiar, Yasson is the Ref Impl for JSON-B. If an application wants to convert any POJO -> JSON can do that by inspecting the class with reflection by looking for getter and setter methods (or public fields).

If I create a simple CDI bean like this:
[code]

And then inspect the methods of this bean, here is the output:
[code]

So it looks like most of the methods au

[2019-08-13 20:38] aguibert commented on #305
I tried this out locally and got the same StackOverflowError. While I still think non-static Loggers is bad practice, Yasson should tolerate this scenario better than it currently does.

[2019-08-13 20:47] aguibert commented on #299
Closing this item as a duplicate of #297 (Include property name when a property fails to serialize)

If we eliminate the fact that the property name is not included when serialization fails, the behavior here is the same as Jackson, because with either library the user must add an annotation to ignore the property that leads to the circular reference. Earlier in the issue we also discussed the pos

[2019-08-13 20:47] #299 closed

[2019-08-13 20:50] nimo23 commented on #305
Yes, that would be good.

_Btw, could you please look at https://github.com/eclipse-ee4j/yasson/issues/306 again and think about to re-open. Would be great._

[2019-08-13 22:29] aguibert commented on #306
Jackson produces values for infinity and Nan, but these are represented as Strings, not numbers, which would likely break clients that are expecting a number value here.

The JSON-B spec builds on top of the JSON-P spec, and currently the JSON-P spec mandates that these values throw an exception:
[code]

There is also a more general problem for double values that are outside of the range outside o

[2019-08-14 07:02] nimo23 commented on #306
Could Json-B provides a workaround as long as Json-P does not handle Double values  correctly?

**Could you build a build-in `Converter` to provide `NaN` and `Infinty` for the Wrapper `Double` within Json-B? Json-B could use that Converter behind the (de)serializing process when detecting the wrapper type `Double`.** This would make sense, dont you think so?

Actually, I cannot use Yasson **becaus

[2019-08-14 08:18] manovotn commented on #281
Yeah, that's intentional. Those prefixed are internal-only, whereas the `getMetadata` is part of Weld API to unwrap a proxy (although rarely used, it can be handy).

Don't do that. While the suffix hasn't changed in eons, you would be relying on internal bits. Also note that it is slightly different for beans that use decorators/interceptors - a subclass is generated and then a proxy on top of tha

[2019-08-14 11:04] bravehorsie commented on #281
I would suggest to raise an improvement on jsonb-api to add configuration support to skip any properties by their string name on a particular class. Similar is currently possible with implementing custom `javax.json.bind.config.PropertyVisibilityStrategy`, but it does operate globally and is a bit cumbersome to use.

[2019-08-14 11:23] manovotn commented on #281
That's interesting idea but it would get a bit verbose basing it on a class - in this case all proxied beans will have the `getMetadata`.
You could maybe achieve the same by adding a property that would ignore certain method based on name and return type. Then again, user would need to care, whereas current solution works with no additional effort (but hardwires it, that's true).

[2019-08-14 12:30] bravehorsie commented on #281
Most annotations from Jsonb class level could be put also at package level which will save some copypasting in your case. Weld is not the only framework creating proxies, similar does Hibernate for example. Do we want to exclude all of them hardcoding property parsing adaptations?

[2019-08-14 13:28] manovotn commented on #281
Then we could have an annotation that users can put into their class that will say what methods are to be ignored (since `@JsonbTransient` cannot be used on classes). This will obviously require user to know what he/she wants to exclude but at least gives them some control if they really need to have proxied objects exposed as POJOs via JSON.

[2019-08-14 14:43] aguibert commented on #281
As long as the number of special cases remains relatively low I think this is OK. For example, we just need 1 hardcoded check for OOTB integration with CDI beans, 1 check for integration with Groovy, and if we have to add 1-2 checks for OOTB integration with JPA I think that is also worth it.

The general solution to applying JSON-B customizations to existing classes at runtime is being discussed

[2019-08-15 10:21] akovac35 commented on #281
It would certainly make sense to have the ability to define ignore lists for certain package, class and method name patterns in advance. Be aware that Yasson is used in enterprise enviroments where code is autogenerated and where there is havy use of proxies and aspectj. Having to manually define ignore lists by setting annotations to classes or methods is virtually impossible in practice - modify

[2019-08-19 14:02] sean-scott-lr opened #307 "Marshaling Generic Type results in WARNINGS each execution"
yasson-1.0.4.jar

When marshalling a class that utilizes a generic type ( See example below ), a WARNING message is produced each time.  However, the correct json is produced.

I am experiencing this issue when using Quarkus and the WARNING produced occurs on every request to my endpoint.

Example:

[code]

Output

[code]

[2019-08-19 14:09] sean-scott-lr commented on #307
Related to:
https://github.com/quarkusio/quarkus/issues/3538

[2019-08-21 16:20] aguibert opened #309 "Custom adapters of type T do not also apply to Optional<T>"
If I register a JsonbAdapter for a type T, it will not be correctly applied to properties of type Optional<T> upon serialization. For example:

### Adapter class:
[code]

### Property class:
[code]

If we attempt to serialize an object of type `ValueClass` like this:
[code]

### Stack trace:
[code]

[2019-08-21 17:47] aguibert commented on #289
Can you confirm what versions of Glassfish JSON (JSON-P impl) and Yasson are being used?

I just noticed that with older versions there are newlines between some of the properties. For example with:
[code]
I get:
[code]

But with newer versions:
[code]

I get:
[code]

[2019-08-22 06:12] #256 closed

[2019-08-22 06:12] #281 closed

[2019-08-22 06:15] #296 closed

[2019-08-22 13:20] aguibert commented on #309
After investigating this more I realized that it has to do with a little more than just the getter methods on the JSON model class. This occurs when there is a field of the same name as a getter, but with different types, for example:
[code]

[2019-08-22 15:19] nimo23 commented on #289
I am using (I also looked at the modules-folder of wildfly and updated yasson):

- yasson-1.0.4.jar
- javax.json-1.1.2.jar

But problem still exits..

[2019-08-22 20:25] bmhm commented on #309
Good finding! Actually, in my real application, I was using Immutables (https://github.com/immutables/immutables), i.e. a generated class. It indeed uses `@Nullable Throwable exception` internally, because Optional should of course never be used in a field.

That's omnited in the example from https://github.com/eclipse-ee4j/yasson/issues/309#issue-483521080, but does it still produce the same erro

[2019-08-23 12:42] mdzaebel commented on #279
@bravehorsie While serialisation with your third option works, deserialisation must also be switched to Jsonb without deserialisation. However, possible methods do not work. Best would be to add a JUnit-Testcase with all necessary Wrappers/Serializers/Deserialisers. Best would be, if this would works in all JSON-B implementations, but currently, the third option is Yasson specific. I would argree

[2019-08-23 17:02] mdzaebel commented on #307
Got same warning in a different case and would really like to get rid of it.

[2019-08-26 02:14] #297 closed

[2019-08-26 02:18] aguibert commented on #309
hi @bmhm, yes I was able to reproduce the issue with the generated class, and after attaching a debugger I realized that the root issue was the property field and corresponding getter method having different Java types.

I expect to have a PR soon which you could use to confirm the fix.

[2019-08-26 14:13] m0mus commented on #306
I don't agree that it should be solved at JSONP level. I think we should consider it as an enhancement for the new JSONB spec or as a Yasson specific feature.

[2019-08-27 07:03] mdzaebel commented on #279
@aguibert The new serializer example is about accessing different setters rather than transfering polymorphic objects. So the important example is just deleted but we **need** a polymorphic example, that uses JSON-B 1.0. That's what I asked for in my previous comment. The options from @bravehorsie unfortunately doesn't work (may be I did it wrong?). The first option is a change to Yasson itself. T

[2019-08-27 10:50] m0mus commented on #279
@mdzaebel Yasson doesn't support polymorphic objects serialization since version 1.0.2 (or 1.0.3). It was supported in the first version of Yasson but was removed as a result of fixing important bugs. This functionality must be a part of JSONB spec. It's been already proposed by you https://github.com/eclipse-ee4j/jsonb-api/issues/147 and there is some discussion. To speed up the process we may pr

[2019-08-27 12:08] mdzaebel commented on #279
This would be phantastic!

[2019-08-28 11:11] mdzaebel commented on #279
Some polymorphic problems to be considered:
- Built-in classes like Throwable
  - Different field names
  - No Setter
  - No default constructor in built-in classes
  - Configuration adaption without annotations
- Map/Array/List type serialisation

Any ideas of completion dates?

[2019-08-28 11:22] m0mus commented on #279
@mdzaebel I'll ask @Verdent to take a look as he's started this work already. Cannot provide any concrete ETA yet. We'll try to do it in September.

[2019-08-28 11:40] bravehorsie commented on #279
@mdzaebel @aguibert @Verdent  Here is an example of how polymorphic deserialization be done currently using only JSONB-API.

https://github.com/bravehorsie/yasson-client/blob/master/src/test/java/info/grigoriadi/ReadJsonStructureToStringTest.java

[2019-08-28 20:45] Simulant87 opened #316 "Improve Exception message when default constructor is missing"
Caused by this issue https://github.com/quarkusio/quarkus/issues/3179

[code]

I would like to improve the Message of the Exception when a default constructor is missing.
I would put an additional null check into ObjectDeserializer#getInstance and throw an Exception when the constructor is not present containing the name of the class so a user knows the affected class and how to fix the issue.

As

[2019-08-28 21:33] mdzaebel commented on #279
Great, I'll test it tomorrow.

[2019-08-29 07:21] mdzaebel commented on #279
@bravehorsie Thanks for your interesting example, which runs. It's really a valuable example in order to understand how to implement Deserializers and what options exist. Thanks at lot!

However, it has some drawbacks:
- During Deserialisation, the inner animal object is serialized into a string which is then used on the old parser object to deserialize the correct subclass. This could be more eff

[2019-08-29 07:44] bravehorsie commented on #279
@mdzaebel It is a prototype example on how to not get an error calling yourself recursively with `ctx.deserialize(...)`. You can modify it to whatever you want in your deserializer, avoiding introducing a wrapper container for example. As of performance I doubt appending some data to String would cause considerable slow down of overall process in modern JVM (just make sure to cache JsonProvider).

[2019-08-29 09:17] mdzaebel commented on #279
Actually, we plan to transform the complete internal service communication infrastructure of a big insurance company to JSON and I'm evaluating possible implementations. The reason is, that JSON is much more resilient. One requirement is polymorphic deserialization which means, that we need to transport arbitray object graphs (including built-in Throwable's or rarely third party objects, which can

[2019-08-29 09:17] bravehorsie commented on #279
@mdzaebel I suppose it doesn't matter what was the intention for the example, the point is, serializer / deserializer API is abstract enough sou you can do whatever you like inside. How particular (de)serializer works depends on the domain model. Polymorphic (de)serialization is not a problem itself, the problem is that a lazy user is very likely to call `ctx#(de)serialize(...)` with the same type

[2019-08-29 09:25] bravehorsie commented on #279
@mdzaebel Must be both clicked comment button in the same instant :) Jackson as a mature JSON framework is indeed a great example to Yasson and its API. Such a shame they haven't participated on a design of JSONB API.

[2019-08-29 09:45] bravehorsie commented on #279
@mdzaebel Thinking forhter about Throwable cause recursive reference to another Throwable, this is actually the cause when you want your (De)Serializer for "Throwable" type be called recursively after calling `ctx.(de)serialize(cause)`. After you reach the root cause next cause will be null and wrapped instances of (De)Serializer will start to return. The check for "infinite loop check" should not

[2019-08-29 10:20] mdzaebel commented on #279
I did not know, that Jackson did not participate at JSON-B, that's really a shame.

Yes, the Throwable cause hierarchy should be deserializable (problem is more missing setters, and different field for message (detailMessage).

[2019-08-29 12:19] mdzaebel commented on #279
Note, there are 3 cases, where decisions of serialisation have to be made:
- Java Arrays: Jackson: [1,2]  (no change)
- Collections: Jackson: ["java.util.HashSet", [1, 2]]
- Subclasses: Jackson: {"@class": "java.lang.NullPointerException", "cause": null, "stackTrace": [{...}]}

In our case, we would need to switch off polymorphic serialisation for Collections.

[2019-08-29 19:34] Simulant87 opened #319 "Bug: BigDecimal serialized with comma as decimal divider"
when I execute the Test `org.eclipse.yasson.documented.DocumentationExampleTest#testDateNumberFormats1` on my local system, it fails because the BigDecimal gets serialized to `123,46` instead of `123.46` containing a comma instead of a dot as decimal divider.

This might be caused by the default localization settings (german) of my local system, but I would the test expect still not to fail depend

[2019-08-30 03:18] aguibert commented on #319
thanks for raising this issue @Simulant87, I've also raised https://github.com/eclipse-ee4j/jsonb-api/issues/188 on the JSON-B spec so we can clarify this at the spec level in the future

[2019-08-30 06:43] Simulant87 commented on #319
Thank you for taking this onto the spec level, after I saw existing tests failing, I already had the feeling that this should be clarified on a higher level.

[2019-08-31 09:40] Simulant87 commented on #319
@aguibert I had again a look at the tests and now I am even thinking about rejecting my own merge request. As the input **and** the output of the BigDecimal is stored as a String in JSON the localized formatting is totally valid also in JSON as it is not a Number (only allowing `.`) but a String, that on the other side might be parsed with the same localized settings and could fail if this is not

[2019-08-31 10:09] Simulant87 opened #322 "Tests should fail on change to YassonProperties Strings"
In some Tests the fields defined in `YassonProperties` are use to configure the test setup.
When I change the values of the Strings, simulating a typo that got commited, the tests should fail, but because they use the String from the same field all tests stay green.

The test setup should use raw duplicated Strings, so the tests fail, if the String defined in the fields changes.

[2019-09-02 17:57] #322 closed

[2019-09-03 06:57] #316 closed

[2019-09-03 06:58] Simulant87 commented on #316
I closed the ticket, as the merge request containing the enhancement is merged.

[2019-09-04 20:08] JohT opened #326 "@JsonbCreator-annotated inaccessible constructors shouldn't overrule no-arg constructor"
As mentioned in [yasson/pull/280](https://github.com/eclipse-ee4j/yasson/pull/280)
and shown by the currently ignored unit test method
"AnnotationIntrospectorTest.testNoArgConstructorShouldBePreferredOverUnusableJsonbAnnotatedProtectedConstructor",
inaccessible constructors lead to an error, even if there is also an valid standard no-arg constructor.

This is a cause of using "creators" (e.g. cons

[2019-09-05 09:41] m0mus commented on #326
Yes, I agree that the spec is bit loose in this area. We are currently collecting suggestions for JSONB.next in JSONB API [issues tracker](https://github.com/eclipse-ee4j/jsonb-api/issues). Feel free to make your suggestions there.

[2019-09-05 09:52] Celludriel opened #328 "ZonedDateTime uses ObjectDeserializer"
Hey,

Consider following code:

java version "1.8.0_211"
Java(TM) SE Runtime Environment (build 1.8.0_211-b12)
Java HotSpot(TM) 64-Bit Server VM (build 25.211-b12, mixed mode)

[code]

[code]

You would expect that after you serialize and deserialize both results would be the same.  However the result is:

`
org.junit.ComparisonFailure:
Expected :be.delijn.test.TestJson@3003697[zonedDateTime=2016-

[2019-09-06 22:51] #255 closed

[2019-09-06 22:52] aguibert commented on #255
Closing this issue since @bravehorsie delivered the fix in #271

[2019-09-09 15:39] nimo23 opened #331 "Unexpected char"
I get this error and I dont know why. The whole stacktrace only shows this:

[code]

[2019-09-09 20:55] aguibert commented on #331
hi @nimo23, to proceed we will need to get more info. Is the `my.Utils` class burying the exception?  We will need to print the full stack trace somehow.

When an internal error occurs on deserialization, we wrap it in a `JsonbException` but still keep the original exception as a causedBy:
[code]

[2019-09-09 21:01] nimo23 commented on #331
Hi,

this is the full stacktrace. No more info is provided by yasson. The my.Utils calls the following method (which works for different entities):

[code]

[2019-09-13 12:22] Verdent commented on #328
Hi @Celludriel,

I have to say, that I am a bit confused about your example here. For example JsonMapper is not in this project at all. But anyway I have done some rework to your example and found out that you need to add VV at the end of your formatting String. It adds the exact Zone name. It should look like this after the change `@JsonbDateFormat("yyyy-MM-dd'T'HH:mm:ssZVV")`

Let me know if it

[2019-09-13 14:00] aguibert commented on #230
closing out this issue since @tosix1988 indicated it has been fixed

[2019-09-13 14:00] #230 closed

[2019-09-13 18:05] aguibert commented on #331
hi @nimo23, I"m not sure what logging framework you are using, but it is fairly common for loggers to only log the exception message and not the full stack trace. Try adding a `e.printStackTrace()` or something.

Also, I see you are calling `JsonbBuilder.create()` on each invocation of this method. This will cause very poor performance, since `Jsonb` instances are supposed to be cached. I suggest

[2019-09-13 18:15] aguibert opened #333 "Improve performance with internal cache of Jsonb instances"
The #1 performance issue I see when people use JSON-B is that they create a new `Jsonb` instance on each request. This is understandable because for users that are coming from Jackson, they are used to creating a `new ObjectMapper()` instance on every request.

However, Yasson performs all of its class introspection and annotation scanning scoped per `Jsonb` instance. So if a user does not cache t

[2019-09-13 18:20] nimo23 commented on #331
I use jboss logging provided by wildfly container..

`e.printStackTrace ` instead of log.error(e) ? Really? I think, `e` also logs the full stacktrace. I did not use `e.getMessage()` but `e` which should also print the full stacktrace like `e.printStacktrace`. And using e.printStacktrace instead of log.error() is not good practice.
https://stackoverflow.com/questions/10477607/avoid-printstacktrace

[2019-09-13 18:59] Celludriel commented on #328
Hey @Verdent

Apologies, I didn't notice JsonMapper is my helper class to do some of the basic work.  It totally slipped my sight.

I'm home from work now , I'll try it first thing on monday and give you an answer

[2019-09-17 13:44] Tomas-Kraus opened #335 "POC: Improve deserialization performance"
I implemented small POC to check whether there is some space for performance enhancement of deserialization algorithms.
New deserializer is available in org.eclipse.yasson.nternal.unmarshalling package. It's implemented as deterministic pushdown (stack) automaton parsing LL(1) grammar.
Only JSON Object to HashMap deserialization is implemented now.

I made 2 commits in my fork: https://github.com/

[2019-09-17 13:53] Tomas-Kraus commented on #335
@aguibert @Verdent @m0mus What do you guys think about this? :)

[2019-09-17 14:49] m0mus commented on #335
PR to check:
https://github.com/Tomas-Kraus/yasson/pull/1

[2019-09-17 17:29] mkarg commented on #335
@Tomas-Kraus I always apprciate 20-80% performance gain. As I am not a contributor to Yasson, I leave the technical evaluation to those who are. :-)

[2019-09-18 21:30] aguibert commented on #335
great news @Tomas-Kraus, looking forward to evaluating it.  It is kind of hard to view what the proposed changes are because the PR https://github.com/Tomas-Kraus/yasson/pull/1/files includes many commits that we have already merged into master and are unrelated to the POC.

Can you please rebase what you have on the current yasson/master branch and make a "draft PR" (newish github feature) on the

[2019-09-19 07:06] nimo23 commented on #266
I also need somthing like that:

**I want to sort the properties (or getters) as they are defined within the class:**

[code]

Actually, I must use `@JsonbPropertyOrder` to have the order which is already declared in within the class.

**Would be reasonable, if no ordering is explicit given, property (or getter) ordering is the same as the property (or getter) ordering within the class.**

But why

[2019-09-19 20:56] tsfullman commented on #306
I am having this issue too and would love for the de-serialization of Infinity to work correctly similar to Jackson

[2019-09-23 13:56] Tomas-Kraus commented on #335
Looks like git was a bit confused. I did rebase/forcepush so code changes are visible now.
Also, this is far from being finished, it's just another concept of deserializers implementation and I want to know whether you like it or not. :)

[2019-09-23 21:54] aguibert commented on #335
thanks, now I can review the changes much more easily. I've added a comment on the PR on your personal repo, but I would suggest creating a "Draft PR" on the main Yasson repo so we can potentially have wider participation

[2019-09-23 21:55] aguibert commented on #335
If it improves performance and simplifies the codebase, I'm all for it. Main question will be backwards compatibility but I think we can rely on our unit tests and TCK tests here.

[2019-09-30 15:08] nimo23 opened #339 "assign "0" for primitive types instead of throwing an error"
I get this error:

`javax.json.bind.JsonbException: Internal error: Can not set int field Task.score to null value`

because score is of type `int` instead of `Integer`.

Why does yasson cannot solve this issue by assigning `0` to this `int` field instead of throwing an error which says it cannot set it to `null`? If yasson knows this that this is an `int` which is not assignable to `null`, then i

[2019-09-30 19:11] nimo23 commented on #339
it was my fault..the value is coming from a json file which was set to null for a primitive type.

[2019-09-30 19:11] #339 closed

[2019-10-01 12:05] Verdent commented on #328
Not a bug.

[2019-10-01 12:05] #328 closed

[2019-10-01 13:23] Verdent opened #341 "Checkstyle plugin"
I was thinking about adding maven-checkstyle-plugin to yasson and I was wondering about our requirements here. Basically which checks we want to be included.

I was thinking about following:
-  Charset -> UTF-8
- Line separator -> lf
- Javadoc on methods
- Naming conventions for methods, fields, classes etc.
- Avoid star imports
- Unused/redundant imports
- Illegal imports (such as sun.*)
- Left c

[2019-10-01 14:15] garrettahines1 opened #342 "Custom De-Serialization Bug"
Yasson Version: 1.0.4
Java Version: 11.0.2
OS: Windows 10

When using a custom deserializer for a parameter of an object, any object that comes after that custom deserialized object in the json string is not deserialized and is set to its default value (null, 0, etc.).

Example:

[code]

[code]

[code]

[code]

Output:
Serialized Result: {"a":2.0,"b":[{"bString":"test"}],"c":"test1"}
Deserialized

[2019-10-01 15:44] aguibert commented on #341
TBH I haven't had much issue with code formatting in the Yasson codebase (most of which I did not write). If you want, we can enable some checkstyle rules, but I'd like to keep out any pedantic checks such as:
- Javadoc on methods --> shouldn't have to javadoc internal/private methods
- Naming conventions for methods, fields, classes etc. --> this can be caught at code review time
- Max line lengt

[2019-10-01 16:02] Tomas-Kraus commented on #335
Yes, it must pass all jUnits and TCK. :)

[2019-10-02 08:22] Verdent commented on #328
No worries :-) I am glad I could help.

[2019-10-02 08:38] Verdent commented on #341
Well the reason behind this for me is more or less just as a prevention. It sometimes finds some incorrectly formatted or forgotten lines of code and it helps to keep codebase format in track. I wouldn't say that it is bad thing to have.

- Javadoc on methods -> yes definitely only on public. I would even consider it to enforce it anywhere else.
- Naming  conventions -> I just wanted something aut

[2019-10-07 19:09] alewis001 opened #343 "StackOverflowError when property is Exception and method visibility is false"
If a bean to be serialized has a property that is an Exception type, and a PropertyVisibilityStrategy is used that sets Field visibility to true and Method visibility false, the tojson method results in a StackOverflowException.

E.g.
A bean...
[code]
Simple app to serialize the bean...
[code]

Results in the following exception...
[code]

The last 4 line/elements in the stack are repeated:
[code]

[2019-10-10 09:14] srius opened #345 "Serializing enums as property or as Map key has different behavior in case of toString overriding"
Hi all,

I noticed a different behavior in enums serialization depending on its usage as a standalone json property or as a key in a map, when enum's `toString()` method is overrided. Here is a simple test to reproduce:

[code]

For `enumMapJson` and `enumJson` output values are:

[code]

In case of enum usage as a map key, it seems that `toString()` is called during serialization. It should have

[2019-10-10 09:57] deBFM opened #346 "Custom JsonbAdapter/JsonbSerializer not working on "known root types""
yasson:1.0.4 doesn't respect custom JsonbAdapter/JsonbSerializer on "known root types" anymore.

The outcome of the testcode below differs between yasson:1.0.2 and yasson:1.0.4

With yasson:1.0.2 all test pass
With yasson:1.0.4 the "adaptKnownRootType" test fails.

 I assume the problem came from the Marshaller change in PR 215 https://github.com/eclipse-ee4j/yasson/pull/215/files#diff-44d72b50610

[2019-10-15 11:52] Verdent opened #351 "Copyright plugin"
I will add copyright plugin to yasson which will ensure correct and updated copyright at each file. From what I have seen so far it is not the case in many of our files in repository.

[2019-10-15 12:43] Verdent commented on #263
Hi @pdudits , could you please update NullSerializer and NullDeserializer and replace GPL license header with EPL license header? Otherwise we will be forced to revert this PR due to copyright incompatibility.

[2019-10-15 14:06] pdudits commented on #263
Sure, there you go.

[2019-10-15 14:38] #263 closed

[2019-10-16 08:51] nimo23 opened #353 "JsonBindingProvider not a subtype"
I get the following runtime error sporadically and I dont know the reason. Many times it works, sometimes this error is shown (this is the **whole** stacktrace):

`
java.lang.RuntimeException:java.util.ServiceConfigurationError:javax.json.bind.spi.JsonbProvider:org.eclipse.yasson.JsonBindingProvider not a subtype`

[2019-10-17 05:22] aguibert commented on #353
hi @nimo23, usually I've seen errors like this when there is a classloader conflict of some sort. For example, 2 copies of JSON-B API being loaded from 2 different classloaders. Double check your maven dependencies and ensure that you aren't pulling in 2 copies of `javax.json.bind` anywhere, or if you're running in an app server check to see if the app server is providing 1 copy and you also have

[2019-10-17 05:28] aguibert commented on #346
hi @deBFM, thanks for opening this issue with a test case to reproduce the issue. It does look like an incorrect behavior change happened in 1.0.4, and the line of code you pointed out seems like a likely suspect.

[2019-10-17 06:38] albers commented on #346
I also came across this issue when migrating a webapp from Wildfly 17.0.1.Final to 18.0.0.Final.
Thanks for tracking down the issue to this particular code change, @deBFM.

[2019-10-17 08:32] nimo23 commented on #353
Thanks. Error is gone after rebuild.

[2019-10-17 08:32] #353 closed

[2019-10-22 22:23] tsfullman opened #355 "@JsonbProperty on setter is broken 1.0.5"
After updating from 1.0.4 to 1.0.5, my unit test breaks which now deserializes my 2d array to null every time. It previously deserialized correctly with 1.0.4 and passed the test.  It only doesn't work when there is a custom deserializer associated with the class.

I am deserializing to an interface which my class implements. The interface has the custom deserializer annotated on it for multiple t

[2019-10-23 07:36] aguibert commented on #355
hi @tsfullman, thanks for reporting this issue. Are you able to provide a test case to reproduce the issue?

[2019-10-23 08:06] aguibert commented on #355
Looking through the changes I believe this PR may have been related: https://github.com/eclipse-ee4j/yasson/pull/271 to the behavior change

[2019-10-23 08:53] #341 closed

[2019-10-29 07:29] Degubi commented on #355
The bug started happening after #288, if I revert 'propertyModel.getPropertyName()' to 'propertyModel.getReadName()' the test passes again.

[2019-10-29 07:33] Degubi commented on #355
Printing out the names it looks like the annotation is getting ignored somewhere:
PROPNAME: test
READNAME: apple

[2019-10-30 12:30] garrettahines1 commented on #342
Checking in to see any update on this issue.

[2019-11-04 17:49] aguibert commented on #355
thanks for the investigation @Degubi, it looks like you are on the right track. Are you going to continue investigating this one? Just want to make sure we don't duplicate work

[2019-11-04 19:28] Degubi commented on #355
Yes I do @aguibert, I was just waiting for some feedback before continuing.

[2019-11-04 21:24] Degubi commented on #355
Actually I don't think I have the right idea to fix this @aguibert. I was poking around in ClassParser::toPropertyMethod, I found that this is the method that creates the names used in Property.java. I thought that the problem was that the check was missing for the JsonbProperty annotation (in ClassParser::toPropertyMethod), but then other tests broke when I put in the annotation handling code...

[2019-11-05 00:47] aguibert commented on #355
I think you were sort of on the right track @Degubi, the main issue is that we had 2 separate PropertyModel instances for the class when we should only have had one. In PR #357 I added some extra code to process the PropertyModel list for a class and merge duplicate PropertyModels as needed. I'm considering two PropertyModels duplicate if their readName and writeName attributes are equal.

[2019-11-05 11:52] jbescos commented on #305
Shouldn't be transient the logger instance?:
protected final **transient** Logger log = LoggerFactory.getLogger(getClass());

Then you can reuse the logger in subclasses, and the json parser should skip the log from serialization.

[2019-11-05 12:33] jbescos commented on #343
My comment doesn't address the issue but explains why do you get the StackOverflowError.

There is a default circular reference in every class that extends Throwable:
`private Throwable cause = this;`

You should not get that error if the exception is instanced in this way:
`new Exception("an example exception", null);`

[2019-11-06 13:48] #355 closed

[2019-11-06 15:10] redmitry commented on #342
I have a similar issue with 1.0.5.

The bug is in **JsonbRiParser**:
Some methods (getValue(), getArrayStream(), ...) don't level.pop();

use parser.getArray() directly and be happy :-).

Cheers,

D.

[2019-11-06 15:28] garrettahines1 commented on #342
In my example, I switched the A object to not have a list of B objects but just one. Switch the deserializer return statement to be `return new B(arr.toString());` and same issues occurs.

[2019-11-06 15:50] aguibert commented on #342
hi @garrettahines1, thanks for raising this issue along with testcases!

Can you try @redmitry's suggestion of doing `final JsonValue arr = parser.getArray();` instead of `final JsonValue arr = parser.getValue();` in your custom deserializer and see if that works?

Also, did this ever work as intended prior to Yasson 1.0.4?

[2019-11-06 15:54] garrettahines1 commented on #342
Confirmed that doing parser.getArray() or parser.getObject() does work correctly in 1.0.5. 1.0.4 was the first version I used.

[2019-11-06 16:09] Degubi commented on #81
I think this got fixed too in #357 because the tests now pass @aguibert

[2019-11-06 16:45] redmitry commented on #342
That's not about the List<> but about the JsonbRiParser wrapper.
As I understand the problem, a custom deserializer calls parser.getValue() and _consume_ events.
Meanwhile,  JsonbRiParser doesn't realize this and think we are still in the point of reading object.
The effects could be different, but should lead to the consequent serialization fails.
Note that the custom value is serialized correctl

[2019-11-06 17:53] aguibert commented on #81
thanks for checking @Degubi, would you like to add the test case in another PR and we can use that PR to close this issue?

[2019-11-06 18:06] Degubi commented on #81
Sure @aguibert: #360

[2019-11-06 18:54] aguibert commented on #81
Resolved by #357 and a specific test added in #360 by @Degubi.

Closing this issue

[2019-11-06 18:54] #81 closed

[2019-11-07 13:36] Verdent commented on #343
In fact this is not a bug. Your configuration is incorrect @alewis001 . You are overriding field visibility here with method isVisible(Field field) and setting all fields explicitly to true. When serialization happens, your field serialized even when if isVisible(Method method) is set to false.
[code]

[2019-11-07 13:43] jbescos commented on #331
@nimo23 could you copy-paste the JSON you are parsing?. Is it possible that the JSON doesn't have double quotes in a key?. Next example would fail with the same error you have:
`{test:"any"}`
The correct format would be:
`{"test":"any"}`

`Caused by: javax.json.stream.JsonParsingException: Unexpected char 101 at (line no=2, column no=2, offset=3), expecting 'r'
	at org.glassfish.json.JsonTokenizer

[2019-11-07 14:02] nimo23 commented on #331
@jbescos  i cannot trace the error anymore because I did forget the origin json data causing that error...the problem with this is also that the stacktrace produced by yasson did and does not provide more information than needed to trace the error..

[2019-11-07 14:14] alewis001 commented on #343
@Verdent Thanks for the clarification. I wondered whether that was the situation but thought I'd raise just in case.

[2019-11-07 17:44] nimo23 commented on #331
thanks. good to know..I assumed that
 `log.error(e);` prints same stacktrace as `log.error("Unexpected error", e);`

[2019-11-07 21:52] aguibert commented on #331
Good catch @jbescos, calling `log.error(e)` where `e` is an Exception will invoke `org.jboss.logging.Logger.error(Object o)`
which logs the `toString()` of the passed in object which for Exceptions is just the caused by.

[2019-11-11 18:48] Degubi commented on #201
Checked out this proplem with 1.0.5. It's working as intended. Also @oliviercailloux-s comment says that he was using 1.0.3 by accident that didn't have the fix. I think this can be closed @aguibert

[2019-11-18 21:51] garrettahines1 opened #361 "Premature EOF"
**Describe the bug**
Sometimes when de-serializing a large amount of data, a permature EOF IOException is thrown. The same data can pass and fail.

**To Reproduce**
Using Yasson to deserialize things over a REST endpoint. Return large amount of data and try a couple times until error is thrown.

**Expected behavior**
Json data is succesfully de-serialized every time.

**System information:**
 - OS

[2019-11-20 21:25] aguibert commented on #361
hi @garrettahines1, thanks for raising this issue. Approximately what size are the payloads your application is reading, and what is the max heap size of your JVM?

[2019-11-20 21:29] aguibert commented on #361
also, are there any interesting characteristics about the payload? For example:
 - large number of small properties
 - deeply nested object structure
 - very large properties (i.e. a 10000 char string)
 - what data types are being unmarshalled into (e.g. String, arrays, collections, byte arrays, etc)

[2019-11-20 21:31] #351 closed

[2019-11-20 21:33] #201 closed

[2019-11-20 22:05] garrettahines1 commented on #361
Using the default java heap size for java 11 and the data structure is mostly a large array of doubles and each double is relatively small, usually no more than 20 digits.

[2019-11-21 10:22] dylanBehetre commented on #102
No, it isn't, if we put an other JsonParser (which is legit and created in standard way) in parameter of the DeserializationContext.deserialize(Class<T> clazz, JsonParser parser) method, it throw an Exception `Internal error: org.glassfish.json.JsonParserImpl cannot be cast to org.eclipse.yasson.internal.JsonbParser` because your implementation of the deserialize method cast the parser parameter a

[2019-11-21 10:37] dylanBehetre commented on #102
We can wrapped the JsonParser in a JsonbParser by using `JsonbRiParser `or `UserDeserializerParser`. But which is more adapted ?

[2019-11-22 10:22] jbescos commented on #289
@nimo23 I tested it with your code and the version 1.0.4 works fine. I'm having the same issue if I run it with 1.0.3.

Lets make one additional check because I don't have experience with Wildfly, but I have seen in other application servers problems with the priority in the class loaders. It could happen that 2 different versions of Yasson are accessible and it is loading the older version.

Coul

[2019-11-22 13:02] jbescos commented on #361
@garrettahines1 from your stack trace, I imagine that you are connecting to that REST server with an HTTP client (resty) and you are having that exception in the client. Did you check the server logs?, maybe there is some relevant information there.

Just to discard there is nothing wrong in server side, could you try with a different HTTP client?, for example with curl. If you are able to do this

[2019-11-24 20:19] aguibert commented on #305
this issue should now be resolved by PR #359

[2019-11-24 20:19] #305 closed

[2019-11-24 20:34] aguibert commented on #343
Now that PR #359 is merged you should no longer get a stack overflow, and will instead get a more useful error message like this:

[code]

Closing this issue because we've addressed the immediate issue (invalid config) and the underlying confusion (poor error messages for recursive references)

[2019-11-24 20:34] #343 closed

[2019-11-24 21:51] aguibert commented on #345
Closing this issue since it has been resolved by PR #347

[2019-11-24 21:51] #345 closed

[2019-11-25 08:18] bravehorsie commented on #333
Just a note that in contrast to Jackson, Yasson can be loaded by a shared classloader in and old-style application servers such is Glassfish or Weblogic. This may cause sharing the cache between different apps or their versions.

[2019-11-25 10:10] nimo23 commented on #289
@jbescos I get this output:

01:39:41,649 INFO  [stdout] Manifest-Version: 1.0
01:39:41,649 INFO  [stdout] Created-By: Apache Maven Bundle Plugin
01:39:41,650 INFO  [stdout] Built-By: default
01:39:41,651 INFO  [stdout] Build-Jdk: 11.0.2
01:39:41,651 INFO  [stdout] Bnd-LastModified: 1567805700364
01:39:41,651 INFO  [stdout] Bundle-Description: Eclipse Yasson. Reference implementation of JSR-367
01

[2019-11-25 11:22] jbescos commented on #289
@nimo23 I don't see the dependency 'jakarta.json:jakarta.json-api:jar:1.1.5:compile'. That actually contains the class JsonPrettyGeneratorImpl. I hope that is the problem, otherwise I'm running out of ideas because I cannot reproduce it.

You can find that dependency here:
https://mvnrepository.com/artifact/jakarta.json/jakarta.json-api/1.1.5

[2019-11-25 11:39] nimo23 commented on #289
@jbescos thanks, but I dont see the sense in importing another dependency **by myself** only to have a pretty print enabled by yasson to print my json. I use wildfly and yasson is already included and I am expecting that yasson includes all its needed deps by itself.

[2019-11-25 15:45] aguibert opened #366 "Add SPI for eagerly parsing class models"
**Is your feature request related to a problem? Please describe.**
Since GraalVM's native image is becoming popular, the industry is making a push to move more AOT style applications where frameworks figure out as much as they can ahead of time and cache the results for runtime.

In Yasson, we lazily parse class models, which is a very expensive operation. This only needs to be done once, but it c

[2019-11-25 16:28] aguibert commented on #289
I think this issue should be moved to Wildfly, since we have already established that this issue does not occur when running Yasson by itself outside of Yasson.

My suspicion is that the version of Wildfly you are using has an old version of JSON-P (e.g. 1.1.2). The versions of JSONP and JSONB that do not have this issue are 1.1.5 and 1.0.4 respectively.

[2019-11-25 17:43] nimo23 commented on #289
yes, the version wildfly actually uses is javax.json-1.1.2.

[2019-11-25 17:43] #289 closed

[2019-11-26 14:44] #307 closed

[2019-11-26 14:44] aguibert commented on #307
The fix for this issue has been delivered and will be included in the next release of Yasson (1.0.6)

[2019-12-05 16:29] aguibert opened #371 "When PropertyNamingStrategy is specified, properties may not be printed."
@Empressia commented on [Thu Dec 05 2019](https://github.com/eclipse-ee4j/jsonb-api/issues/212)

Payara Micro 5.194（JDK11）でJAX-RSを使用しているときに、
Json-BのPropertyNamingStrategyを指定したら、
オブジェクトのプロパティがシリアライズされませんでした。

テストコードを書きました。
https://github.com/Empressia/JsonBTest01
https://github.com/Empressia/JsonBTest01/blob/master/src/test/java/jp/empressia/test/jsonb/JsonBTest01.java

シリアライズしたクラス：
[code]
↓
テスト結果：

[2019-12-06 15:20] #366 closed

[2019-12-13 14:19] nimo23 commented on #266
Does this mean that `PropertyOrderStrategy.ANY`, the ordering for each (de)serializing of the same object is arbitrarily?

[2019-12-20 16:26] Degubi commented on #371
Tested with current version, was unable to reproduce.
Tested with 1.0.5, unable to reproduce.
Tested with 1.0.4 (same version as the error reporter had) and the error happens there.
Not sure what change fixed this, but it got fixed between 1.0.4 and 1.0.5

Test code:
[code]

[2019-12-20 16:47] Degubi commented on #284
Tested with current version, was unable to reproduce.
Tested with 1.0.5, 1.0.4: unable to reproduce.
Tested with 1.0.3 and was able to reproduce what the user described.

[2019-12-21 00:11] aguibert commented on #284
Thanks for testing @Degubi, looks like it may have been resolved by this PR: https://github.com/eclipse-ee4j/yasson/pull/202

Closing this issue since it is no longer occurring

[2019-12-21 00:11] #284 closed

[2019-12-21 00:17] aguibert commented on #371
Thanks for testing this one out @Degubi. It looks like this bug report is a duplicate of #296 which has been fixed in 1.0.5 as you indicated

[2019-12-21 00:17] #371 closed

[2019-12-22 14:47] nimo23 commented on #220
Please also look at https://github.com/fabienrenaud/java-json-benchmark where it was verified that yasson is far behind jackson performance.

[2019-12-22 14:49] nimo23 commented on #335
According to https://github.com/fabienrenaud/java-json-benchmark, performance of yasson in compare to jackson is not really good.

[2019-12-22 23:41] aguibert commented on #335
I don't see anywhere on the java-json-benchmark where it actually mentions Yasson. The only related thing it only compares the reference implementation of JSON-P.

[2019-12-22 23:43] aguibert commented on #220
@nimo23 as mentioned in the other issue, that benchmark makes no mention of Yasson. Not sure where you are getting that information from.

In any case, JMH tests were added under #238 so I"m going to close this issue

[2019-12-22 23:43] #220 closed

[2019-12-23 08:46] nimo23 commented on #335
I don't see anywhere on the java-json-benchmark where it actually mentions Yasson.

@aguibert yasson is there: look at the chart on the X axis (for example, the first chart on the 3rd position from the left).

[2019-12-23 08:50] nimo23 commented on #220
@aguibert yasson is there: look at the chart on the X axis (for example, the first chart on the 3rd position from the left).

[2019-12-23 14:39] nimo23 commented on #335
@aguibert yasson is evaluated in this benchmark: look at the chart on the X axis (for example, the first chart ("Deserialization performance") on the 3rd position from the left).

Also look at the benchmarked providers here: https://github.com/fabienrenaud/java-json-benchmark/blob/master/src/main/java/com/github/fabienrenaud/jjb/support/BenchSupport.java on line 18.

Why does `jackson` or `jsonDsl

[2019-12-23 16:21] aguibert commented on #335
Ah, I see Yasson is mentioned on the graph but it doesn't say what version they used. Never heard of dsljson (or anyone using it), but Jackson has been around for many years longer than JSON-B/Yasson and therefore has had more time to optimize performance. Our primary focus has been on adding functionality, rather than performance.

Yasson is still in the 1.0 version, and it doesn't surprise me th

[2019-12-23 16:51] nimo23 commented on #335
According to https://github.com/fabienrenaud/java-json-benchmark/blob/master/build.gradle it uses v 1.0.1.

Definitly. Well, performance and memory consumption is still important. If I were a maintainer, I would look especially to Jackson or dsljson what techniques they use to have them so significantly increased performance. But I must admit I have never performance issues with yasson..

I mentio

[2020-01-15 22:22] chrisgleissner commented on #335
In case anyone is interested in an up-to-date view on this topic, comparing the performance of the latest versions of Jackson and Yasson on an up-to-date JDK, I've updated the aforementioned java-json-benchmark via a fork. This uses the latest released versions of both frameworks as of today, all evaluated on Amazon Coretto JDK 11.0.5. You can find the results in the README at https://github.com/c

[2020-01-16 10:48] Tomas-Kraus commented on #335
@chrisgleissner can you run it with original yasson. I would like to see numbers of original and this yasson.

[2020-01-16 15:33] aguibert commented on #335
thanks for creating that comparison @chrisgleissner

@Tomas-Kraus you can run it on your own with the following steps:
[code]
To change the version of Yasson used you can edit the build.gradle file in the root of the repository

[2020-01-22 15:45] pedroosorio opened #376 "Error serializing HibernateProxy properties (member variables)"
Hi !

I'm trying to serialize an object that has hibernate proxies in it. Some of those proxies also contain other members that are proxies.

I can confirm that the LazyInitializer.getImplementation() returns a valid unproxied object in all instances.

Once i try to serialize the object, i get the following exception:

[code]
It seems that is trying to serialize the hibernate implementation of the

[2020-01-22 16:57] aguibert commented on #376
hi @pedroosorio thanks for reporting this issue. Can you please include an example of the Java model class you are using in this case, along with indicating which fields are hibernate proxy objects?

[2020-01-22 18:24] pedroosorio commented on #376
Hey @aguibert !

[code]
When calling `Jsonb.toJson(account.getPricePlanCurrent())` the root object is of class **PricePlan$HibernateProxy$something** and the serializer is engaged, because this goes through `serializeRoot()`. The object **tenant** inside of the **pricePlanCurrent** is not serialized using my serializer, it goes through ObjectSerializer's `marshallProperty()`. The same goes if i do

[2020-01-27 17:37] pedroosorio commented on #376
@aguibert I forgot to state that the properties with FetchType.LAZY are the ones that become proxies.

I also found another issue. When serializing a PricePlan object that is a proxy (hence the class is **PricePlan$HibernateProxy$Something**) the annotations present in the class methods, _@JsonbTransient_ for instance, are not carried to the proxy methods. This makes the serializer output properti

[2020-01-28 10:32] m0mus opened #377 "Adopt new jakarta.* based JSONB API"
We need to start working on adopting a new Jakarta native JSONB API. By Jakarta native I mean that it has all packages moved from java.* to jakarta.*. There is a RC1 version released. See [here](https://search.maven.org/search?q=g:jakarta.json.bind).

I am suggesting using `master` branch for this work. If there were some changes merged to `master` we should branch it out to `1.x` branch. We will

[2020-01-28 17:26] aguibert commented on #377
I have no objections to this plan, but I think we should wait for as long as possible to do this just to save ourselves the dual-maintenance effort between the `1.x` and `master` branches in the short term.

When do we think implementations will be needed for EE 9?

[2020-01-28 17:43] m0mus commented on #377
I think as soon as we can. We need to finish everything (including TCK testing) in April to submit things for the ballot in May. If we want to continue support of `javaz.*` version of Yasson we will need to backport changes to `1.x` branch anyway. Another solution would be to support both `javax` and `jakarta` APIs. I think it's possible. We need a PoC to prooe it. But in my opinion it's a tempora

[2020-01-28 18:31] aguibert commented on #377
I work on a product that will need to support `1.x` indefinitely, so I will certainly have to backport changes in the long run.

I'm fine with making the hard switch to `jakarta.*` APIs. I would like to get the JSON-B TCKs split out so the are part of the `jsonb-api` repo, but this is something we can track at the spec level instead.

[2020-01-30 18:32] nimo23 commented on #376
Maybe it is related to https://github.com/eclipse-ee4j/yasson/issues/303

[2020-01-30 18:50] nimo23 opened #380 "Generating incomplete JSON: too less information"
**Describe the bug**
I get a not informative SEVERE message from yasson:

`19:42:23,183 SEVERE [org.eclipse.yasson.internal.Marshaller] Generating incomplete JSON`

Not more information is given in the log by yasson. I call that json processing with:

[code]

The Exception-block is NOT called, because yasson logs it as SEVERE and does not throw an exception.

**Expected behavior**
More information

[2020-01-30 19:08] nimo23 commented on #380
I checked to parse exactly the same instance by jackson with

[code]

and it returns without problems, I did even not included any jackson annotations on that intance - it works. But yasson is not able to create the json with the same instance, the only hint I get is this sentence:

`19:42:23,183 SEVERE [org.eclipse.yasson.internal.Marshaller] Generating incomplete JSON`

[2020-01-30 19:48] aguibert commented on #380
hi, can you include an example of the Object you are attempting to convert to JSON so we can reproduce the issue?

Also, the error `Generating incomplete JSON` must be coming from this line:
https://github.com/eclipse-ee4j/yasson/blob/1.0.5/src/main/java/org/eclipse/yasson/internal/Marshaller.java#L89

[2020-01-30 19:57] nimo23 commented on #380
I try to find the error and let you know.

In the meantime, would it be better to throw the error instead of hiding it from the user?

[code]

Yasson not only produces an _incomplete_ json but nothing, so throwing an error would be better in this case, because yasson did not produce anything.

[2020-01-30 20:05] aguibert commented on #380
yea, I agree that throwing an exception seems preferable here. But I'd need to reproduce the issue for myself and do more investigation to be certain

[2020-01-30 20:57] nimo23 commented on #380
I found the property which leads to this error. It was not easy because I overlooked the property within an **abstract** class. All its subclasses inherited the `log`-method which cannot and should never be (de)serialized:

[code]
I annotated the property with `@JsonbTransient` and now it works.
Please make sure that yasson always bypass the logging classes. It makes no sense to try to (de)seriali

[2020-01-30 21:02] nimo23 commented on #380
It is also a little related to this:
https://github.com/eclipse-ee4j/yasson/issues/305

But in this case, the stacktrace shown in the other issue is not shown in this issue.

[2020-01-30 21:26] aguibert commented on #380
The fix for issue #305 was included in Yasson 1.0.6, and you are on 1.0.5. Does upgrading to 1.0.6 fix the problem?

[2020-01-30 22:08] nimo23 commented on #380
@aguibert yes, I upgraded to 1.0.6 and it now shows a better message:

`Caused by: javax.json.bind.JsonbException: Unable to serialize property 'log' from ...`

So I will close this issue. Thanks.

[2020-01-30 22:08] #380 closed

[2020-02-04 08:57] pedroosorio commented on #376
@nimo23 well, yes and no. If i have the serializer works for all objects that are proxies, which is not the case, i can handle the uninitialized case there easily, i don't yasson to do that for me. @aguibert any news on this ?

[2020-02-04 20:27] nimo23 opened #382 "PrivateFieldsStrategy uses reflection?"
I have a question:

If I use this:
[code]

and add it to a class:

[code]

will yasson use reflection to access the private fields? If so, then does this mean that the default (method level access with getter) is faster for (de)serializing. Should I avoid `PrivateFieldsStrategy` in terms of performance?

[2020-02-04 20:31] nimo23 commented on #335
@aguibert does yasson uses `java.lang.reflect` under the hood? If so, then please consider to use `java.lang.invoke.LambdaMetafactory`. It's way faster.

[2020-02-06 17:42] #377 closed

[2020-02-18 18:12] johnrodey commented on #187
I too have experienced this problem.  Previously (running 2.27) this code would print the root document, however oddly it would only work once if I reused the Jsonb object.  Recreating those objects each time is expensive so I updated to the latest (2.30) and now the same code results in this 'Recursive reference has been found' issue.  So is this supposed to work?  Or if there is another means to

[2020-02-19 14:38] johnrodey opened #383 "Recursive reference on serializing root object"
This is in relation to a previous bug: https://github.com/eclipse-ee4j/yasson/issues/187

I too have experienced this problem. Previously (running 2.27) this code would print the root document, however oddly it would only work once if I reused the Jsonb object. Recreating those objects each time is expensive so I updated to the latest (2.30) hoping to fix that and now the same code results in this

[2020-02-25 21:46] roysjosh opened #384 "I-JSON date formatter is incorrect"
**Describe the bug**
Yasson does not properly implement the date/time format from RFC 7493 (and thus 3339).  Specifically, RFC 3339 section 5.6 states that:

1. partial-time contains an optional time-secfrac (a period followed by 1 or more digits)
2. time-offset is either a literal Z or a time-numoffset but not both; the behavior to match seems to be the DateTimeFormatter pattern "XXX"

**To Repro

[2020-02-27 14:25] MartijnDwars opened #385 "toJson with Type is ignored"
**Describe the bug**
The JSON-B API specifies a `Jsonb #toJson(Object, Type)` method, but the purpose of this `Type` parameter is not clear to me. I was trying to reverse-engineer the purpose of this parameter by trying some examples with Yasson, but none of the examples show the effect of the `Type` parameter. This may indicate that there's a bug in the implementation.

**To Reproduce**
Below are

[2020-03-01 23:40] nimo23 opened #386 "@JsonbTransient on field and lombok getters with property access"
How should I use the standard **property** (de)serializing (instead of field (de)serializing) with **Lombok**?

For example, I set a field with `@JsonbTransient` and all my getters are created by Lombok so I cannot set the `@JsonbTransient `to the getters. Yasson ignores my field annotation when using the standard property access. But with that I am forced to put those getters by myself instead of

[2020-03-05 15:41] Tomas-Kraus commented on #335
Well, looks like I found a dead end for JsonValue processing. :D
[code]
So using Json.createArrayBuilder() and build value is **200** times slower than old code using parser.getArray().

Looks like this part of old deserializer was quite good and I won't improve it much.

Current progress:
**[ERROR] Tests run: 440, Failures: 27, Errors: 58, Skipped: 1**

[2020-03-07 15:13] chrisgleissner commented on #335
Please note the the maintainer of the Json benchmark project that I cloned for my benchmark runs has now updated his results using Yasson 1.0.6. He also upgraded other frameworks. The benchmark uses JMH and you can find it at https://github.com/fabienrenaud/java-json-benchmark

[2020-03-12 12:28] martijndwars opened #387 "ZoneId serialization not normalized"
**Describe the bug**
According to the JSON-B specification a `java.time.ZoneId` instance needs to be serialized as follows (emphasis mine):

The _normalized_ part makes a difference when you have a `ZoneId.of("UTC")`, for example. The zone ID is "UTC", but the normalized zone ID is "Z", as shown by this jshell session:

[code]

**To Reproduce**
[code]

**Expected behavior**
Expected to serialize `

[2020-03-12 12:53] MartijnDwars opened #388 "Deserialize ISO_DATE to java.util.Date not supported"
**Describe the bug**
From the JSON-B specification:

java.util.Date, Calendar and GregorianCalendar instances.

The JavaDoc on the `java.time.format.DateTimeFormatter.ISO_DATE` format contains the following comment, indicating that '2011-12-03' is a valid ISO_DATE formatted date.

But when I run the following with Yasson:

[code]

I get an error:

**To Reproduce**
[code]

**Expected behavior**
A `

[2020-03-16 14:24] amihaiemil opened #389 "Yasson on SpringBoot: IOException Stream Closed"
Hi guys,

In Spring Boot 2.2.5, one can choose their own json provider.

1. Exclude the default Jackson
2. Add the Yasson dependency in pom.xml (which also brings the JSON-B API + JSON-P)

[code]
3. Specify in ``application.properties`` the following:
``spring.http.converters.preferred-json-mapper=jsonb``

This setup seems to work like a charm, except the logs contain an error at each request:

[c

[2020-03-16 14:54] aguibert commented on #389
hi @amihaiemil , can you please include the full stack trace? That will give us an idea of the exception flow. What's currently shown has no yasson classes in the stack so I have no idea what close flow we are in

[2020-03-16 15:05] amihaiemil commented on #389
@aguibert I updated the description with the full stacktrace. Thank you!

[2020-03-16 15:10] aguibert commented on #389
After the Spring message converter is done calling out do JSON-B to write to a `java.io.Writer` it then calls flush(), but Yasson is closing the Writer after writing the JSON object.

I see two options here:
A) Spring boot could call `writer.close()` instead of `writer.flush()`. Close will first do a flush, but it will safely no-op if the writer is already closed
B) Yasson could not implicitly clo

[2020-03-16 15:14] amihaiemil commented on #389
@aguibert well, I think if Yasson doesn't close the Writer, that could be treated as a Memory Leak of sorts, or? I think Writers should be closed when whoever writes has finished writing.

[2020-03-16 15:18] amihaiemil commented on #389
@aguibert Well, someone from Spring Boot answered. They are apparently convinced it's a bug in Yasson.

[2020-03-16 15:19] aguibert commented on #389
I think it could go either way. Since the user is passing in the writer, they still hold a reference to the Writer and could close it on their own -- but this way is more error prone.

I ran a quick test and confirmed that yasson can _not_ change behavior here. We have some basic scenarios that would break if we stopped closing the writer, for example:
[code]
Current behavior is that `writerValue`

[2020-03-16 15:20] wilkinsona commented on #389
FWIW, the user would get the expected string if Yasson called `flush()` rather than `close()` with the added benefit that they can then continue to use the writer if they wish to do so.

[2020-03-16 15:22] amihaiemil commented on #389
@wilkinsona @aguibert Both Issues are closed now, yet this is clearly a bug. Andrew says Yasson cannot change behaviour. @wilkinsona maybe we can do something on Spring Boot's side,?

[2020-03-16 15:22] aguibert commented on #389
that's a good compromise @wilkinsona, I'll re-open this issue

[2020-03-16 15:23] MartijnDwars opened #390 "Deserialize primitive boolean array"
**Describe the bug**
From the specification:

and:

**To Reproduce**
[code]

**Expected behavior**
Deserializing `[true]` to a primitive boolean array `boolean[]` should work just like deserializing `[true]` to a reference Boolean array `Boolean[]`.

**System information:**
 - OS: macOS 10.14.6
 - Java Version: 1.8.0 u241 & 11.0.5
 - Yasson Version: 1.0.6

[2020-03-16 17:13] Degubi commented on #390
Created a pr for this issue, #392
All other primitive types were working, "boolean" was missing

[2020-03-16 17:32] Degubi commented on #382
I don't think your PrivateFieldsStrategy should cause any problems performance wise.

PropertyValuePropagation.java line 123 checks if the field is made accessible by a PropertyVisibilityStrategy.
If yes, it calls setAccessible(true) on the field if it is private. Same goes for methods. (happens only once per field/method)
If the field/method was public it simply invokes it.

[2020-03-16 18:33] nimo23 commented on #382
but in compare to property access, the field access is made by _reflection_ . Or?

[2020-03-23 17:19] MartijnDwars opened #393 "Deserialize class with bounded type parameter"
**Describe the bug**
Section 3.17 of the JSON-B specification describes Generics and in particular how to deal with bounds on type parameters. If a type parameter has multiple bounds, then every bound should be resolved separately. The subsequent part of the specification is not very precise:

Judging from Yasson's source code, the goal is to resolve the most specific subtype. The following exampl

[2020-03-24 19:08] amihaiemil commented on #389
@aguibert Can you please let me know as soon as this fix is released and with what version? Many thanks 💯

[2020-03-26 16:15] agbaroni commented on #162
Your requirement is correct but it's related to default mapping. The JsonbDateFormat makes the context non default. May be there is an ambiguity in the Java EE 8 specifications?

[2020-03-28 15:44] aguibert commented on #389
@amihaiemil sure, I'll post back when we cut the next release -- it will be Yasson 1.0.7. I'm going to take a look through our existing bug backlog and see if we can clear out more items before I cut that release though.

Closing this issue though since fixes are delivered now.

[2020-03-28 15:44] #389 closed

[2020-03-28 16:05] aguibert commented on #361
Closing this issue since there hasn't been any activity for a while. Based on the stack trace it seems that the issue is in the HTTP layer where the input stream is getting cut short and Yasson is simply surfacing that error.

[2020-03-28 16:05] #361 closed

[2020-03-28 16:10] aguibert commented on #382
All property access in any JSON library (Yasson, Jackson, etc) is made via reflection because the JSON libraries must programatically discover the properties of the class and invoke them. As @Degubi pointed out earlier there is an extra step with private field access where fields must be set accessible first, but this only happens once so the performance cost is negligible.

[2020-03-28 16:10] #382 closed

[2020-03-28 16:12] aguibert commented on #331
Closing this issue because there hasn't been any activity for a while and it seems the confusion was caused by calling the incorrect logging method on the user end.

[2020-03-28 16:12] #331 closed

[2020-03-28 16:22] aguibert commented on #326
Dmitry is right that this should be considered at the spec level. I've adjusted this spec-level issue to also include what is being asked for here:
https://github.com/eclipse-ee4j/jsonb-api/issues/61

[2020-03-28 16:22] #326 closed

[2020-03-28 18:40] aguibert commented on #383
hi @johnrodey, we are planning to address this feature in the next version of the JSON-B spec in two ways:

1. Allow for polymorphic [de]serialization: https://github.com/eclipse-ee4j/jsonb-api/issues/147
2. Allow for programmatic customization of a class: https://github.com/eclipse-ee4j/jsonb-api/issues/88

Between these two issues what you are trying to do will be possible. But for now, with the

[2020-03-28 18:40] #383 closed

[2020-03-30 13:59] #346 closed

[2020-04-06 02:07] aguibert commented on #376
hi @pedroosorio, since Hibernate is commonly used with JSON-B/Yasson I'd like to come up with some sort of generic integration in Yasson. I like what you have proposed in your previous comment with the enhanced `isJsonbTransient(Method method)` code example that will defer to the superclass if the declaring class is an instance of HibernateProxy.
Perhaps we need to add a special case for Hibernate

[2020-04-07 19:43] aguibert commented on #389
hi @amihaiemil, Yasson 1.0.7 is now released and should contain the fix for this issue

[2020-04-07 21:15] MartijnDwars opened #397 "Big long numbers are not serialized as strings"
**Describe the bug**
From the JSON-B specification:

The value `Long.MAX_VALUE - 1` cannot be precisely represented by a IEEE 754 double precision number, as the following jshell session shows:

[code]

Therefore, this value should be serialized as the JSON string `"9223372036854775806"`. However, with Yasson we get the following:

[code]

Note that the value is serialized as a JSON number, not as

[2020-04-07 21:29] MartijnDwars commented on #390
I'll close this issue since a fix was merged to master and backported to 1.0.x. Thanks!

[2020-04-07 21:29] #390 closed

[2020-04-08 00:53] aguibert commented on #397
Hi @MartijnDwars, thanks for raising this issue. This is the result of a bug in the JSON-B 1.0 spec that needs to be revised in the next version. It has been debated at the spec level under https://github.com/eclipse-ee4j/jsonb-api/issues/82 and https://github.com/eclipse-ee4j/jsonb-api/issues/112, but ultimately Yasson 1.0.X is doing the correct thing for now and we will fix it in 2.0 when we can

[2020-04-08 00:53] #397 closed

[2020-04-08 06:15] amihaiemil commented on #389
@aguibert thanks a lot!

[2020-04-09 09:11] pedroosorio commented on #376
Hey @aguibert will try to get that done in a timely manner !

Thank you !

[2020-04-21 20:39] triceo opened #399 "Cryptic error on primitive null"
**Describe the bug**
When a primitive field (such as `boolean`) is null, Yasson gives a very cryptic message which gives no hints as to what or where is wrong.

**To Reproduce**

Consider the following simplified class definition:

    class SomeClass {

        @JsonbProperty(nillable = true)
        private Boolean someBoolean;

        void setSomeBoolean(boolean value) { // note that value is

[2020-04-29 16:37] deBFM commented on #346
Thanks a lot!

[2020-05-04 19:41] NottyCode opened #404 "Support for ConcurrentMap"
**Is your feature request related to a problem? Please describe.**
The OpenLiberty website was recently updated to use JSON-B over JSON-P to return data from a REST API. The JSON-B object in question has a field of type ConcurrentMap. This was correctly serialized. As a parallel activity I'm writing some integration tests and for the first time tried to deserialize the JSON-B object. This failed w

[2020-05-07 16:52] lusabo opened #406 "JSON-B / Yasson is ignoring the new JsonbConfig :: withDeserializers"
I am migrating a project from Jackson to Json-B (Yasson v. 1.0.7), and the code below is to ilustrate a scenario that is ocurring with me.

I have a json file like this:

    {
      "response": {
        "accessories": {
          "accessory": [
            {
              "finance": "mandatory",
              "type": "INDIVIDUAL"
            },
            {
              "finance": "optional",

[2020-05-07 18:09] aguibert commented on #406
hi @lusabo, can you please include your model objects such as `Response` and `Accessories`?

[2020-05-08 07:44] lusabo commented on #406
Hi @aguibert ,

I discovered my problem, I don't know how Yasson can help at this point. It was missing a set method of an attribute which is of type List in one of the entities. The problem is that these entities are generated by JAXB and it seems that JAXB does not generate setters for List type properties.

[2020-05-08 13:46] aguibert commented on #406
have you tried using a custom `JsonbAdapter` implementation? The adapter may be used to perform "manual" conversion logic for situations like this where you can't control the model class (e.g. JAX-B model) and they don't match the getter/setter pattern.

See: http://json-b.net/docs/user-guide.html#adapters

[2020-05-08 14:10] lusabo commented on #406
Yes, I tried with Adapter too, now I solving configuring the XJC (JAXB2) plugin to generate my stubs with the setters.

[2020-05-08 14:29] lusabo commented on #406
Hi @aguibert ,

I managed to get the plugin to generate the stubs with the setters for attributes of List type .

For historical record only, the problem was solved by adding the following arguments:
[code]

I don't know if this problem will be solved by Yasson, if so, I don't know how to proceed with the issue, otherwise, you can close it.

[2020-05-08 15:06] aguibert commented on #406
can you clarify what the problem is at this point? I've lost track. Is it still the same problem as the OP or has it changed? If it's the same problem as the OP, you'll need to upload the additional info I asked for.

[2020-05-08 15:21] lusabo commented on #406
We are migrating a project that uses Jackson to use Json-b / Yasson. A part of this project uses JAXB to generate some classes (stubs). Another part of the project uses these classes, and when serializing/deserializing with my serializers / deserializers (I also tested adapters) I was having problems with one of them that has one of its List <Enum> attributes. When deserializing a json file (as sh

[2020-05-08 15:33] aguibert commented on #406
For the default mapping, yes getters/setters (or public field) are required.

If it is not possible to have these, then "custom mapping" may be used, which is when you implement custom Serializer/Deserializer/Adapter classes.

[2020-05-08 17:47] maald opened #407 "Clarification needed"
Assume you have a class with 2 properties

[code]
Serialize an instance to JSON

[code]
as expected you get something like this
[code]
Now, if you de-serialize the following JSON payload
[code]
Json-b will simply de-serialize a JSON number value (12345) to a Java String ("12345")!
In that payload, "stringProp" clearly has a JSON number value/not a JSON string value.

The confusing part here is tha

[2020-05-08 18:29] #407 closed

[2020-05-08 18:29] aguibert commented on #407
Issue moved to [eclipse-ee4j/jsonb-api #239](https://github.com/eclipse-ee4j/jsonb-api/issues/239) via [**ZenHub**](https://www.zenhub.com/)

[2020-05-20 16:32] #404 closed

[2020-05-24 09:32] gunnarmorling opened #412 "Illegal access warnings with OpenJDK 15"
**Describe the bug**
I'm getting these warnings with Yasson 1.0.7:

[code]

While functionality of the application isn't impacted, the warning creates noise, and the default option in a future JDK will be to disallow these reflective access.

**To Reproduce**
Serialize/deserialize e.g. a collection class.

**Expected behavior**
No warning should be printed, reflection should not be unconditionally

[2020-05-29 12:01] smillidge opened #413 "GlassFish needs a M2 release"
Eclipse GlassFish needs a M2 release incorporating https://github.com/eclipse-ee4j/yasson/pull/411 for the June milestone release.

[2020-06-02 08:36] Degubi commented on #388
While looking after this I noticed that in 'DateTypeDeserializer::parseWithOrWithoutZone' the 'jsonValue' parameter is '2020' (Where did the rest go?)
Followed this one back to JsonbRiParser, where I printed the return value of 'getString()', still printed only '2020'. That one calls JsonParserImpl::getString()

[2020-06-02 08:50] Degubi commented on #412
Was unable to reproduce this error using this code:

[code]

[2020-06-02 08:58] gunnarmorling commented on #412
Could you try with a bean that has a list/map as a member?

[2020-06-02 09:13] Degubi commented on #412
Tried with this @gunnarmorling :
[code]

This printed the following without errors:
[code]

Also tried going back a few commits (I thought maybe something fixed this), but still got no warnings. :/

[2020-06-02 09:59] gunnarmorling commented on #412
So I went back to see what I did and reate a reproducer, but turns out your first example exposes the issue for me already. Here's exactly what I'm doing:

[code]

Which Java version are you on?

[2020-06-15 16:45] Degubi commented on #412
I managed to reproduce it with 1.0.7. It was a mistake on my end...
I was unable to reproduce it with 2.0.0-M2.
Can you guys try with that version? @gunnarmorling @edufolly

[2020-06-15 16:57] Degubi commented on #399
Using this code
[code]

I got this as output without errors: 'Some: null'.
Did I do something differently? I might have misunderstood something @triceo

[2020-06-15 16:58] Degubi commented on #387
Created a fix for this in #418

[2020-06-15 17:14] aguibert commented on #387
Fixed by #418

[2020-06-15 17:40] aguibert commented on #412
This issue has been fixed in 2.X stream as @Degubi noted by this PR: https://github.com/eclipse-ee4j/yasson/pull/403

And the fix has already been backported to 1.X here: https://github.com/eclipse-ee4j/yasson/pull/401

So the fix will be included in the next release of Yasson 1.X (1.0.8). Closing this one ad a dup of https://github.com/eclipse-ee4j/yasson/pull/401

[2020-06-15 17:40] #412 closed

[2020-06-16 09:03] rdehuyss opened #419 "Cannot serialize objects with java.nio.file.Path"
**Describe the bug**
[code]

**To Reproduce**
See failing unit test:
[code]

**Expected behavior**
To have the path serialized in the json

**System information:**
 - OS: Ubuntu 19.10
 - Java Version: 11
 - Yasson Version: 1.0.7

**Additional context**
Add any other context about the problem here.

[2020-06-16 13:51] aguibert commented on #419
Thanks for opening this issue @rdehuyss, I'm going to swap it from [bug] to [enhancement] since the JSON-B spec does not mandate support for `java.nio.file.Path` (I still think it will be good to support though).

[2020-06-16 16:51] jefrog1844 opened #420 "Illegal reflective access"
**Describe the bug**
OpenJDK 64-Bit Server VM warning: forcing TieredStopAtLevel to full optimization because JVMCI is enabled

2020-06-16 11:29:09,961 INFO  [io.agr.pool] (Quarkus Main Thread) Datasource '<default>': Initial size smaller than min. Connections will be created when necessary
2020-06-16 11:29:16,316 INFO  [io.quarkus] (Quarkus Main Thread) podfx 1.0.0-SNAPSHOT on JVM (powered by Qua

[2020-06-17 19:36] Degubi commented on #420
This is a duplicate of #412, which was already resolved & closed

[2020-06-18 02:27] aguibert commented on #420
What @Degubi said 🙂

[2020-06-18 02:27] #420 closed

[2020-06-23 02:38] rwperrott opened #422 "UserDeserializer deserializeInternal() breaks JsonbDeserializer for named object VALUE_NULL"
**Describe the bug**
An org.eclipse.yasson.internal.serializer.UserDeserializer instance's deserializeInternal method, called from a 1st level JsonbDeserializer, for a 2nd level JsonbDeserializer, fails to check for parser.level.lastEvent==VALUE_NULL (a null value named object field), so calls parser.next(), so that the 2nd level JsonbDeserializer sees KEY_NAME for the next named 1st level field,

[2020-06-24 17:30] oliviercailloux opened #423 "Json silently returns an empty list instead of failing"
**Describe the bug**
When providing a json object instead of a json array and asking Jsonb to produce a list, the library returns an empty list; whereas it should throw an exception to indicate to the caller that something is wrong.

**To Reproduce**

[code]

See [Person](https://github.com/Sarah-Elhelw/teach_spreadsheets/blob/master/src/test/java/io/github/oliviercailloux/teach_spreadsheets/json/

[2020-06-25 01:12] aguibert commented on #423
hi @oliviercailloux, thanks for raising this issue. My first thought here is that this falls under the ["must-ignore" policy](https://github.com/eclipse-ee4j/jsonb-api/blob/master/spec/src/main/asciidoc/jsonb.adoc#318-must-ignore-policy) defined in section 3.18 of the JSON-B spec:

I know this is is not always preferred behavior for users though, so I have raised an issue to have a way to globally

[2020-06-25 08:29] oliviercailloux commented on #423
I disagree this falls under must-ignore. Here, Json is given a JsonObject whereas a JsonArray is expected. The lack of failure is not a consequence of ignoring some keys: it is rather as if the whole object was ignored (including thus the opening and closing curly brackets), and, furthermore, that the lack of opening and closing square brackets was ignored as well.

[2020-06-27 00:38] rwperrott commented on #419
That's annoying, I'll have to implement a JsonbAdapter<Path,String> for my own project.

[2020-06-27 01:26] aguibert commented on #419
hi @rwperrott, I am having a new team member work on this one now actually. Should be available soon in Yasson

[2020-06-30 02:39] aguibert commented on #406
haven't seen any additional activity on this question so I'm going to close out. We can re-open if needed

[2020-06-30 02:39] #406 closed

[2020-07-02 20:13] #419 closed

[2020-07-14 17:51] #399 closed

[2020-07-14 22:49] aguibert commented on #387
FYI I had to revert PR #418 from @Degubi because it was causing a TCK test to fail. We didn't notice it failed a TCK test originally because CI was accidentally running Yasson unit tests a second time instead of running the TCK tests.

I think this is a change that we need to make, but we have to go through the proper process first of a TCK challenge and get this sorted out at the spec level befor

[2020-07-22 18:02] Katie-Richter commented on #388
In regards to where the rest of the jsonValue parameter went, double quotes are required around the date so it is not interpreted as just a number, but rather as a string. The error that is showing up after that fix is:

**To Reproduce**
[code]

[2020-07-25 04:58] onacit opened #441 "Support java.beans.Transient?"
I know this is not what an implementation should concern.

But someone please issue to any spec guy for supporting the `java.beans.Transient`.

I know `JsonbTransient` works for that.

[code]

[2020-07-26 01:13] aguibert commented on #441
Issue moved to [eclipse-ee4j/jsonb-api #253](https://github.com/eclipse-ee4j/jsonb-api/issues/253) via [**ZenHub**](https://www.zenhub.com/)

[2020-07-26 01:13] #441 closed

[2020-08-13 08:32] dusik66 opened #443 "Wrong serialized name and ignored field annotations when second letter is capital"
When the name of the field has second character capital, than serialized name of the field is ignored. Also annotations on the field are ignored.

**To Reproduce**
String aBc;

Output will be {“ABc”: “value”}

**Expected behavior**
Output should be {“aBc”: “value”}

Mistake is in the ClassParser.toPropertyMethod() and in ClassParser.lowerFirstLetter()

**System information:**
 - OS: [Windows]
 - J

[2020-08-25 18:32] aguibert opened #444 "JSON-B transient and property annotation collide unexpectedly"
Originally raised by @sdaschner in these issues:
OpenLiberty: https://github.com/OpenLiberty/open-liberty/issues/13640
Quarkus: https://github.com/quarkusio/quarkus/issues/11594

**Describe the bug**
When mapping a class via JSON-B, and annotating fields as follows, the result throws an error because of mismatching types:

[code]

this results in:

[code]

If both properties `order` and `orderLink

[2020-08-25 20:41] hbelmiro commented on #444
@aguibert I can try to fix this.

[2020-08-25 20:48] aguibert commented on #444
great, thanks @hbelmiro!

[2020-08-26 12:59] hbelmiro commented on #444
@aguibert the problem is not happening in current version. It may have already been fixed.

[2020-09-27 14:55] Degubi opened #448 "Missing artifact with 2.0.0"
Getting a 'Missing artifact org.eclipse:yasson:jar:2.0.0' error when trying to use the latest version released 23 days ago.

After looking at https://mvnrepository.com/artifact/org.eclipse/yasson there's no 2.0.0 version listed, only 2.0.0-M2
@m0mus

[2020-09-29 19:49] aguibert commented on #448
I checked with @m0mus on this and he said there is still some additional process to be passed before it is officially released. See here: https://bugs.eclipse.org/bugs/show_bug.cgi?id=567135

[2020-09-29 19:49] #448 closed

[2020-10-20 12:07] OrangeDog commented on #266
That's not what this is asking for, and is also not correct. The input will only equal the output if the input was in alphabetical order.

What this issue is asking for is when doing `JSON -> Map<String, Object> -> JSON`, that there should be an option for a `LinkedHashMap` to be used, and the ordering preserved.

[2020-10-26 10:09] rmanibus opened #454 "@JsonbTransient does not work on abstract classes"
**Describe the bug**

@JsonbTransient work on interfaces but not on abstract classes.

**To Reproduce**
reproducer:

https://github.com/rmanibus/quarkus_12926

**Expected behavior**
Fields annotated with @JsonbTransient are ignored.

**System information:**
 - OS: [e.g. Linux, Windows, Mac]
 - Java Version: [e.g. 8, 11]
 - Yasson Version: [e.g. 1.0.5]

**Additional context**
Add any other context

[2020-10-27 16:00] scholzi100 opened #455 "Convertion between JsonValue <-> POJO"
Im looking for a option to convert a POJO <-> JsonValue. I found a issue on this in the api repo eclipse-ee4j/jsonb-api#111.
But its about the API not the implemenation.

Currenty there are only `YassonJsonb#fromJsonStructure` and `YassonJsonb#toJsonStructure` other options for JsonValue are not available. I am not able to find any method doing converting between JsonValue an POJO or visa-vera.

A

[2020-10-28 19:28] nmatt opened #456 "Value access calls toString() on failure, potentially leading to infinite recursion"
**Describe the bug**
The implementation of `ReflectionPropagation.setValue()`/`getValue()` calls `toString()` on the target object upon failure, as part of constructing the exception message:
[code]
This is a problem if the `toString()` implementation of the object itself uses JSON serialization to produce the string value, leading to infinite recursion and stack overflow.

**To Reproduce**
Run `m

[2020-10-28 19:30] nmatt opened #457 "Typo in exception message in ReflectionPropagation.setValue()"
**Describe the bug**
Implementation of `ReflectionPropagation.setValue()`:
[code]

**Expected behavior**
This should be "setting value on" instead of "getting value on".

**System information:**
 - Yasson Version: 1.0.8

[2020-10-29 08:58] StephJan opened #459 "Deserialization of object from primitive type not working ?"
When an object is serialized as a unique primitive value (say a numeric primary key) using a dedicated Serializer, Yasson fails to natively deserialize it ("Error deserialize JSON value into type XXX").

For instance, Jackson dynamically checks if a constructor for target object exists with primitive value as a parameter, and invokes it to retrive object instance.

[2020-11-02 15:49] #457 closed

[2020-12-11 15:52] ivanjunckes commented on #376
Hey guys, we are having the same problem. Any updates on this @pedroosorio ?

[2020-12-20 21:26] joaomarcos-dev commented on #380
I'm getting the same error. Even though the deserialization occurs, the serialization generate this error.

dez. 20, 2020 6:15:39 PM org.eclipse.yasson.internal.Marshaller marshall
SEVERE: Unable to serialize property 'address' from com.negociodacidade.apirest.resource.pojo.CompanyPagePojo
dez. 20, 2020 6:15:39 PM org.eclipse.yasson.internal.Marshaller marshall
SEVERE: Generating incomplete JSON

[2020-12-23 21:56] NeerajSachdeva commented on #61
Thanks a lot for you suggestion, it helped me get rid of this log
[12/16/20 11:18:57:960 EST] 00000134 org.eclipse.yasson.internal.ReflectionUtils W Generic bound not found for type K declared in class com.MyBlahBlahClass
[12/16/20 11:18:57:960 EST] 00000134 org.eclipse.yasson.internal.ReflectionUtils W Generic bound not found for type T declared in class com.MyBlahBlahClass

I'm gonna try if I ca

[2020-12-23 22:01] NeerajSachdeva commented on #140
I'd my class structure like this MyBlahBlahClass<T, K> & was getting errors like below
[12/16/20 11:18:57:960 EST] 00000134 org.eclipse.yasson.internal.ReflectionUtils W Generic bound not found for type K declared in class com.MyBlahBlahClass
[12/16/20 11:18:57:960 EST] 00000134 org.eclipse.yasson.internal.ReflectionUtils W Generic bound not found for type T declared in class com.MyBlahBlahClass

[2020-12-28 14:12] Degubi commented on #459
@StephJan Can you please show an example to reproduce this?

[2020-12-28 18:32] Degubi commented on #443
Same, can't reproduce on 2.0.1. All annotations are working and the output is:
{"aBc":"value"}

[2021-01-06 22:39] Degubi opened #466 "Error caused by #438 when module-info.java is present"
Using this code:

Main.class:
[code]

Data.class:
[code]

module-info.java:
[code]
Exception:
[code]

The exception points to the unreflect calls in PropertyModel.java

I found 2 ways to fix this issue:
- Deleting the module-info.java file in my project fixes this
- I reverted back the MethodHandle changes & just used reflection in PropertyModel.java, that fixed this

Tbh, I don't fully understand

[2021-01-08 09:16] jbaker-dstl opened #467 "Serialization of inherited interfaces"
I have the following class setup

[code]

If I set up Jsonb using Yasson 2.0.1 as follows:

[code]

Then I would expect instances of both `Foo` and `Bar` to be serialized with my serializer, as both implement `MyInterfaceA`. However, that isn't the case and only `Foo` is correctly serialized using my serializer. `Bar` is serialized by the default serializer (as far as I can tell), not by `MySerial

[2021-01-08 10:24] jbaker-dstl commented on #467
The issue seems to be here, as this only considers the direct interface and not any super-interfaces.

https://github.com/eclipse-ee4j/yasson/blob/bac834c36829dcfe0b75f7a6847d10e055d1c1ea/src/main/java/org/eclipse/yasson/internal/ComponentMatcher.java#L209

[2021-01-15 21:53] nimo23 opened #470 "transient should not be a trigger for Yasson"
**Describe the bug**
Transient properties should NOT be bypassed by yasson.

**To Reproduce**
I have this:

[code]

and yasson does not generate json for property user. Only when removing `transient`-keyword, then yasson will generate the json.

**Expected behavior**
Yasson should ignore the java keyword transient for its (de)serializing stuff. Only `@JsonbTransient` should be a trigger for omitti

[2021-01-30 14:48] doriancransac opened #471 "java.lang.IllegalAccessException: access to public member failed [...] when using yasson through jersey's JsonBindingProvider"
**Describe the bug**
Calls to `PropertyModel.createReadHandle()` in a standard modular project using yasson 2.0.1 via jersey 3.0.0 & jetty 11 result in an IllegalAccessException and make deserialization of the jersey service input object fail. Here is the full stacktrace:

[code]

**To Reproduce**

Use the following dependencies:
[code]

Deploy a basic service on jetty:

[code]

Call basic service

[2021-02-02 13:09] jbescos commented on #471
It seems it is a modules visibility issue, the module module org.eclipse.yasson has no access to your class.

`java.lang.IllegalAccessException: access to public member failed: com.projectvisionaries.server.commons.model.Account.getPassword[Ljava.lang.Object;@55fe3190/invokeVirtual, from class org.eclipse.yasson.internal.model.PropertyModel (module org.eclipse.yasson)`

[2021-02-02 16:46] doriancransac commented on #471
@jbescos hi & thanks for your reply.

What exactly do you mean by "visible"? The module containing AccountServices already "requires" the module containing Account which "exports" the corresponding package, and I'm pretty sure I even tried "opening" the entire Account module which didn't help as far as I can recall.

I guess it's technically possible but I have no idea how nor why. I personally do

[2021-02-02 17:21] Degubi commented on #471
Try with yasson 2.0.0-M2, 2.0.1 has a bug, see #466

[2021-02-03 09:21] jbescos commented on #471
@Degubi I tried also with your example and it is working for me. I want to reproduce the issue first but I am not lucky so far. Here is your example:
[code]
This is the output:
[code]
I am trying with java 11.0.7 2020-04-14 LTS

[2021-02-03 12:58] Degubi commented on #471
Well I tried it using java 11, 13, 15 and they all gave the error, but only when running my project from Eclipse.
I tried it running from the command line and everything works...

[2021-02-03 13:09] Degubi commented on #466
Closing this issue, because it seems that this error message is not related to the changes made in #438

[2021-02-03 14:27] jbescos commented on #471
Check how is set the classpath in Eclipse, maybe there is something strange there.

I'm going to try it more with the example of @doriancransac

[2021-02-04 11:59] jbescos commented on #471
@Degubi I was trying it with Eclipse IDE to see the java process and it is doing it in this way (pull my repo again because I did some changes):
`java -p target/yassonbug-1.0.jar:target/libs -m es.tododev.yassonbug/es.tododev.yassonbug.Main`

If you execute it in that way you will get the error.

The issue is in `sun.invoke.util.VerifyAccess#isClassAccesible`

There is the next line that returns f

[2021-02-04 14:01] Degubi commented on #471
Wow! Nice job @jbescos
I think the publicLookup() solution would be the better one.

[2021-02-04 15:43] jbescos commented on #471
Unfortunately it is not that easy. The `MethodHandles.publicLookup() `is too restrictive with other class attributes and makes many tests to fail.

The LOOKUP instance has some bits to control what modifiers should be checked. By default MethodHandles.lookup() comes with Lookup#FULL_POWER_MODES. Basically I need to configure the LOOKUP to bypass this verification in `sun.invoke.util.VerifyAccess#i

[2021-02-08 10:08] dannyb2018 opened #475 "inconsistent generating incomplete JSON error"
I have a very simple servlet that turns a pojo into a json string.  It works on windows 10, it works on docker on windows 10 using WSL 2.  If i try to run the exact same image on docker on linux it prints out this rather unhelpful error with zero other information

**To Reproduce**
[code]

**Expected behavior**
A clear and concise description of what you expected to happen.
I would expect the outp

[2021-02-10 11:24] jbescos commented on #475
I have tried your example without the layer of jax-rs, with Yasson 1.0.8 and 2.0.1 and I get the expected JSON. I am running it in:
[code]
Could you try it in newer Yasson version?. For example 2.0.1.

In case docker is not printing the stederr properly, if you add this in your code do you see the stack trace?:
[code]

[2021-02-10 16:46] wiesnery opened #476 "@JsonbProperty("propertyName") is not respecting new JsonbConfig().withNullValues(true)"
Hi there,

I just ran into an issue wich took me some time to debug. As of my opinion, this is not the expected behavior:

### Steps to reproduce:

1. Create a Class with a property and annotate it with `@JsonbProperty("propertyName")`
2. Initialize an Instance of that class with a null value in that property
3. Initialize a JSON-B Mapper with a custom config: `new JsonbConfig().withNullValues(tru

[2021-02-12 08:23] amoscatelli opened #478 "Custom deserializer not picket up with ParameterizedType"
**Describe the bug**
When deserializing a ParameterizedType custom deserializer are not picket up
The same applies for TypeVariable (for example when deserializing a class extending an abstract class having a generic field)

**To Reproduce**
Try to deserialize a ParameterizedType (for example Collection < what you want >) and you'll see any registered custom deserialized that would normally be inv

[2021-02-15 13:15] dannyb2018 commented on #475
Hi,

Thanks for your prompt reply.

**The error was an inconsistent javaee-api version.  The version of yasson 1.0.4 and 1.0.8 both require javaee-api 8 and one part of the application had 7 and another 8.**

No idea why it was a problem in **docker** on linux but not on windows.  stderr was printing ok, looking at the code it looks like you are throwing an exception now but it didnt print.  Not s

[2021-02-15 13:15] #475 closed

[2021-02-18 12:03] Verdent commented on #471
Fixed

[2021-02-18 12:03] #471 closed

[2021-02-18 12:06] Degubi commented on #466
Fixed by #474

[2021-02-18 12:06] #466 closed

[2021-02-23 13:46] wiesnery commented on #476
@aguibert can you comment on that or can you name someone responsible for this project?

[2021-03-05 13:49] alessandro-tucci-visiontech commented on #102
I am not getting how a custom JSONP implementation can be actually provided to Yasson. From what I can see from here: https://github.com/eclipse-ee4j/yasson/blob/f8263f765368af3609e55da568f596a95483cbea/src/main/java/org/eclipse/yasson/internal/serializer/AbstractContainerDeserializer.java#L64
there is an explicit cast to **org.eclipse.yasson.internal.JsonbParser** of the provided JsonParser param

[2021-03-11 15:21] rmartinc commented on #342
I have faced the same issue with `getValue`. The [javadoc says that](https://javaee.github.io/javaee-spec/javadocs/javax/json/stream/JsonParser.html#getValue--):

So I think it is clear that the getValue should act as the getObject and getArray in the implementation. I'm going to send a PR to master with a little test that also tests an Object. I have tested with Dmitry's test and also works with

[2021-03-12 14:47] Verdent commented on #478
Fixed by #477

[2021-03-12 14:47] #478 closed

[2021-04-01 13:12] bekwam opened #485 "@JsonbProperty with At Sign In Field Name Doesn't Parse"
**Describe the bug**

Yasson won't parse a JSON field with a name that contains the at sign (@)

**To Reproduce**

1. Mark up a class with @JsonbProperty("@myfield") on a getter
2. Attempt to parse a JSON object with a field containing the name "@myfield"
3. Verify that the Java object returned is empty

This is my data class containing the JsonbProperty annotation.

[code]

This is my test class

[2021-04-01 14:26] bekwam commented on #485
This is working if I put the JsonbProperty on the field or the setter

[2021-04-01 14:26] #485 closed

[2021-04-12 00:32] thatsIch opened #486 "Support for YearMonth Serialization"
**Is your feature request related to a problem? Please describe.**
Yasson supports `java.time.*`-classes like `LocalDateTime` but is missing support for `YearMonth` (and `MonthDay` as a matter of fact)

**Describe the solution you'd like**
The yasson-package [org.eclipse.yasson.internal.serializer](https://github.com/eclipse-ee4j/yasson/tree/master/src/main/java/org/eclipse/yasson/internal/seriali

[2021-04-13 08:52] nimo23 commented on #470
I think, this is a json-b specification issue. So I will move this issue to https://github.com/eclipse-ee4j/jsonb-api/issues/269

[2021-04-13 08:52] #470 closed

[2021-04-26 17:40] j-be opened #487 "Not all ISO 8601 offset formats are accepted"
**Describe the bug**

Yasson fails on offsets formatted as `+hhmm` and `+hh`, even though they are considered valid ISO 8601 zone offsets (see https://en.wikipedia.org/wiki/ISO_8601#Time_zone_designators)

**To Reproduce**

[code]

**Expected behavior**

Above works.

**System information:**
 - OS: Linux Mint 20
 - Java Version:  AdoptOpenJDK (build 11.0.10+9)
 - Yasson Version: 2.0.2

**Additiona

[2021-05-18 11:53] tomsontom opened #490 "module-info.java does not require java.xml directly"
I've tried to use yasson in a project where I also use jlink to build a custom JRE. Looking the at the runtime dependencies of yasson it only requires:
* jakarta.json
* jakarta.json.bind
* java.logging

as the other requires are defined as static. Building an image and launch although leads to the following error
[code]
The problem is caused because `java.desktop` and `java.sql` transitively requi

[2021-05-25 07:52] Verdent commented on #487
Hi @j-be , Thank you for reaching out. Unfortunately this behavior is by the spec. It is described which formatter should be used for each type if there is no formatter specified. For Date it is `DateTimeFormatter.ISO_DATE_TIME` if there is any time information present.

[2021-05-25 09:56] Verdent commented on #486
Hi @thatsIch , thank you for this suggestion. I think it does make sense to add this support. :-) I will take a look at that.

[2021-05-25 12:47] j-be commented on #487
@Verdent Thanks for the feedback. I see. So following the spec the right thing to do would be to use `java.time.OffsetDateTime`, is that correct?

[2021-05-25 13:19] j-be commented on #487
After looking through it again - could it be that I (unknowingly) stumbled over in Java itself here?

`LocalDateTime.parse("2021-04-26T16:14:44.538+0000", DateTimeFormatter.ISO_ZONED_DATE_TIME);` doesn't work, even though all of the following:

* `LocalDateTime.parse("2021-04-26T16:14:44.538+00:00", DateTimeFormatter.ISO_ZONED_DATE_TIME);`
* `LocalDateTime.parse("2021-04-26T16:14:44.538+00", DateT

[2021-05-25 13:31] Verdent commented on #443
Hi @dusik66 , could you please provide reproducer if this issue is still valid for you?

[2021-05-25 16:05] hantsy opened #495 "Add built-in Record type support"
Currently, to make `Record` work with JSONB needs extra config.

https://github.com/hantsy/java-sandbox/blob/master/record/src/main/java/com/example/demo/JsonbExample.java

I think it should be supported,  although the latest Jakarta EE 10 APIs targets Java 11. But it should not reject the newest Java syntax.

[2021-05-26 07:59] #486 closed

[2021-05-26 09:22] Verdent commented on #459
@StephJan If I am getting this right, you are referring to the situation like this:
[code]
Custom serializer for Pojo class will create something like this, when Parent class is serialized:
[code]
And what you want Yasson to do, is to deserialize the json back to the Pojo class without creating custom deserializer. You want Pojo constructor to be automatically discovered, if it matches the type cu

[2021-06-03 09:12] tomas-langer opened #496 "Support for accessors without get/set"
Our framework is using accessors without verbs.

Example:
[code]

Would it be possible to add configuration of Yasson that would treat such methods as bean accessors?

[2021-06-03 15:14] CarlosMOGoncalves opened #497 "SerializationContext in custom JsonbSerializer won't call other custom serializers"
**Describe the bug**
Hello,

I was experimenting with some custom serializers in a Payara-based Jakarta EE application and found out that I am unable to call other registered custom serializers, at least in my particular case. I've mostly found out why, but I am not sure this is actually a bug or an intended behaviour.

In short, when one calls a **SerializationContext.serialize()** on an object t

[2021-06-04 15:19] Verdent commented on #497
Hi @CarlosMOGoncalves , thank you for reaching out and for detailed description. I have done some testing and this issue is fixed in the 1.0.7 and higher.

[2021-06-04 18:09] CarlosMOGoncalves commented on #497
Thanks for the quick response @Verdent .

The latest version of Payara is still on 1.0.6 and has been for a while, which is why I didn't have a newer one.
Great news that is fixed!
I will try asking them to update the version in one of the next releases.

I think you can close this then.

Cheers!

[2021-06-04 20:55] Verdent commented on #497
Resolved

[2021-06-04 20:55] #497 closed

[2021-06-08 21:28] Verdent commented on #490
Hi Tom,
I do agree that this should be optional similarly to java.sql. Thank you for proposed solution. :-) Could you please change it a bit to register deserializers and serializers of XMLGregorianCalendar similarly to as it is done for java.sql.Date?

[2021-06-08 21:30] tomsontom commented on #490
sure - I'll take a look tomorrow and update the PR

[2021-06-08 21:32] Verdent commented on #490
Great! Thank you for quick response and sorry for unexcusable delay from my side.

[2021-06-08 21:34] tomsontom commented on #490
As I maintain multiple OSS-Projects myself beside the company duties I'm assigned on you don't have to excuse for not directly following up.

[2021-06-09 10:16] tomsontom commented on #490
I applied the java.sql strategy and made the java.xml dependency static

[2021-06-09 12:40] dusik66 commented on #443
Hi, I have found that Lombok cause the problem:

[code]

output:
[code]

[2021-06-09 15:46] #490 closed

[2021-06-18 11:16] Verdent commented on #443
Alright so if I am getting this right, it is not an issue at our side? :-)

[2021-07-08 07:20] rmartinc opened #500 "Serialization of a Map fails if the key uses a custom Serializer"
**Describe the bug**
Define a custom Serializer for a Locale object like the following:

[code]

And use a Pojo class that contains a Map field with Locale as the key:

[code]

If you try to serialize it with current version 2.0.2 like the following:

[code]

The following exception is thrown:

[code]

**To Reproduce**

With the attached maven project just execute test on it:

[code]

**Expected b

[2021-07-08 08:25] rmartinc commented on #283
Hi!

We have issues reported about this. And #345 doesn't fix the problem completely. I'm going to attach a simple maven project reproducer at the end. To reproduce with current 2.0.2 version just execute `mvn test` with it:

[code]

The _MapToObjectSerializer_ is used if all the keys are strings, enums or numbers [here](https://github.com/eclipse-ee4j/yasson/blob/2.0.2/src/main/java/org/eclipse/y

[2021-07-12 16:13] don-spyker commented on #283
Hi,

I have a similar issue like @rmartinc faces, just with Integer as map key: `Map<Integer, Object>`.

The json structure is being deserialized, but when trying to iterate about the `keyset()` of the map a `ClassCastException `is being
thrown.

I would prefer a solution that converts the key back into the original type, which is actually defined. Using the same DTO on server and client side shou

[2021-07-13 06:36] ChrisSchoe opened #502 "fromJson fails if multiple Levels of generics are involved"
**Describe the bug**
I was directed here from reporting this as a Quarkus bug [here](https://github.com/quarkusio/quarkus/issues/18621).
Using classes implementing generics in a certain way can lead to `fromJson` not working properly and failing with the stacktrace posted below:

`java.lang.ClassCastException: class model.AbstractChild cannot be cast to class model.ConcreteChild (model.AbstractChi

[2021-07-19 15:16] Verdent commented on #502
Hi @ChrisSchoe ,
Thank you for reaching out. It really is a bug. I will make a fix for this.

[2021-07-23 10:06] rmartinc commented on #283
@Verdent Could you please take a look to this issue when you have time?

I have been doing some work here based on the idea of converting back to the original objects. This is my [WIP branch](https://github.com/rmartinc/yasson/tree/issue4) and the interesting part is in the [DeserializerMap](https://github.com/rmartinc/yasson/commit/11d44a037c2614cd659d3878a2300826404c4c53#diff-0925280ddd94bbdea11

[2021-07-23 10:29] Verdent commented on #283
@rmartinc @don-spyker Hi guys, I will take a look at it next week. When I read more about the issue, I will provide some feedback to it :-)

[2021-07-27 06:50] sfrank-mc opened #504 "JsonbConfig fails to register serializer"
**Describe the bug**
An issue with Yasson percolates to a bug in the Quarkus REST Client (escalated from https://github.com/quarkusio/quarkus/issues/15628):
When a serializer class doesn't explicitly implement `JsonbSerializer` but rather implicitly does so it will not be registered thus failing to serialize correctly.

**Expected behavior**
When a serializer is implicitly implementing `JsonbSeria

[2021-07-27 08:32] lpiet opened #505 "Generic Map in serializer not found in ADapter"
**Describe the bug**
We ran into a functional change when updating from 1.0.7 to 1.0.8 which we are not sure was entirely intended. It breaks our de serialization because a HashMap is no longer recognized as a Map. Specially in  [this](https://github.com/eclipse-ee4j/yasson/commit/f2b649370f5b4ccff54b02a0331260b9978a1e26) commit. Around [line](https://github.com/eclipse-ee4j/yasson/commit/f2b64937

[2021-07-29 13:42] Verdent commented on #283
@rmartinc I think this is something we should support. Since we do support transforming other Map key types to String, it should be possible to do it also the other way around. I might ask you to create PR, when this feature is ready and we can go through it there :-) Or if you have any questions about the issue, feel free to contact me or write directly here.

[2021-07-30 09:39] rmartinc commented on #283
Thanks @Verdent! I have submitted PR #509 with an initial and tentative fix. There are several options to fix this but we should start with something. Just comment me there if you prefer something different.

[2021-07-30 09:42] rmartinc commented on #342
I think this is fixed in the current versions of yasson. Could you please close this as resolved?

[2021-07-30 10:49] Verdent commented on #504
Hi @sfrank-mc ,
thank you for reporting this issue. It is indeed a bug and it will be fixed in the new version of 2.x and also 1.x

[2021-07-30 22:28] Sboddd commented on #283
I ran into this same issue, but with a map that had Integer keys - the deserialized Map had Strings for its keys.

[2021-08-05 12:41] Thihup commented on #495
Any updates?

[2021-08-05 12:43] Verdent commented on #495
Oh, I forgot to link the issue :-) I just need to update testing pipelines because of this PR a bit. and after that I will merge it

[2021-08-12 18:44] #504 closed

[2021-08-16 07:02] sfrank-mc commented on #504
Thanks @Verdent !

[2021-09-02 20:02] reinhapa commented on #283
We got the same problems here and had to implement a workaround. @rmartinc  anything we can help to get this forward?

[2021-09-03 07:33] rmartinc commented on #283
@reinhapa The status right now is that there is a PR and it's being reviewed. The first review detected three changes, two are clear to me but in the third point we are still deciding what to do.

@Verdent What do you think about my last proposal for the null key? The more I think about it the more sense it makes to me. I think that a map with a null key should not be serialized with a `MapToObjec

[2021-09-03 10:43] Verdent commented on #283
@rmartinc I will add comment to the PR to not split the conversation :-)

[2021-09-03 12:06] reinhapa commented on #283
@rmartinc  The concept of `null` keys in a Map is a bad practice anyway, as the consumer side can not tell the difference if there is an entry value where the key _and_ value was `null` or if there was _no_ entry with a `null` key.

[2021-09-03 12:33] rmartinc commented on #283
@reinhapa Yes, that's why I commented that it's not common (and more important broken right now). But we have reached an agreement, we do what I proposed but adding a yasson property to use the `MapToObjectSerializer` back in case of null keys (just in case someone is using null keys knowing that null is converted to the "null" string).

I expect to submit a new PR on Monday.

[2021-09-14 20:36] JohnSchneider opened #514 "ZonedDateTime and OffsetDateTime JsonbConfig withStrictIJSON(true)"
When configured to use StrictIJson, ZonedDateTime and OffsetDateTime are serialized with "Z" plus the time zone offset when the time is not UTC.  Conversely, de-serializing requires "Z" even for times not in UTC.

The way I interpret https://datatracker.ietf.org/doc/html/rfc3339#section-5.6 is that if the time is in UTC (e.g "2021-09-14T15:59:50Z", then "Z" should be specified, and if the time is

[2021-09-14 21:03] JohnSchneider commented on #514
org.eclipse.yasson.internal.serializer.JsonbDateFormatter.java constant IJSON_DATE_FORMATTER contains an unconditional method call to ".appendLiteral('Z')" which I think is incorrect.

[2021-09-15 23:23] JohnSchneider commented on #514
Pull request created. https://github.com/eclipse-ee4j/yasson/pull/515

[2021-09-16 20:35] JohnSchneider commented on #384
Please also see Issue #514 and Issue #515 (pull request for possible fix)

[2021-10-01 12:50] lostiniceland opened #516 "Support package-private classes/accessors"
**Is your feature request related to a problem? Please describe.**
Assuming all classes responsible communication with some external resource or a JAX-RS endpoint, there is no need to make the DTOs public. Once they are public, misuse can easily happen.

**Describe the solution you'd like**
The reflection api has the capabilities to make fields accessible which are not public. JSONB/Yasson should

[2021-10-11 09:11] bfedoronchuk commented on #231
Btw, it works fine when the enum class is annotated instead of the field. I have used Yasson 1.0.8

[2021-10-13 07:49] mkarg opened #517 "Fails to serialize generic class annotated with @JsonbTypeSerializer"
Yasson 1.0.9 and 2.0.2 both fail running the following code, but succeed once `@JsonbTypeSerializer` annotation is removed:

[code]

Stack trace:

[code]

[2021-10-19 14:32] #502 closed, assigned to Verdent

[2021-11-04 09:22] Verdent commented on #516
Hi @lostiniceland ,
would `PropertyVisibilityStrategy` be viable to you? You can force Yasson to use non public fields/accessors.

[2021-11-04 10:09] Verdent commented on #495
PR with this change merged

[2021-11-04 10:09] #495 closed

[2021-11-04 10:11] #443 closed

[2021-11-04 14:53] lostiniceland commented on #516
I did try this one but it failed because Records where not supported at the time.
Since this [PR](https://github.com/eclipse-ee4j/yasson/pull/499) is now merged, I can give it another try...once the new version is available in Quarkus. Or I test without a Record.

[2021-11-17 18:07] tsfullman commented on #285
looks like a merge request went in and closed that referenced json b feature at the spec level allowing optional json parameters. Any plans to update yasson to support that now?

[2021-11-25 08:39] rmartinc commented on #283
@Verdent PR also sent to the 1.x branch but without the property, just deserializing Numbers and Enums, it's #522.

[2021-11-25 08:40] rmartinc commented on #500
PR also sent to 1.x branch, it's #521.

[2021-11-29 10:43] dabbabi commented on #376
Hi
As wildfly 25 upgraded their librairies with this version, this is a regression.
Is there any fix for this issue, please?

[2021-12-03 19:59] ljnelson opened #527 "The link to the JSON B webpage leads to a hacked website"
There is a link in the `README` to supposedly the JSON-B website.  It leads to a hacked webpage.

[2022-01-06 14:00] Verdent opened #528 "Backport Record support to the 1.x"
Title says it all :-)

[2022-01-06 16:05] argenstijn opened #529 "IllegalAccessException when using io.vertx.mutiny.core.buffer.Buffer as Request body"
**Describe the bug**

@See https://github.com/quarkusio/quarkus/issues/22693

All information including how to reproduce is stated over there

[2022-01-13 07:04] lostiniceland commented on #528
@Verdent I started with this today, but after cloning I realised that both `master` and `1.x` have failing tests. Do I have to pass some arguments to `mvn package` wo make it work?
[code]

[2022-01-13 09:04] Verdent commented on #528
Hi @lostiniceland , thank you very much for volunteering to do that. Unfortunately the record handling needed some fixing and I am having PR opened for that and hopefully it will be merged and backported this week.

See #530

Now in terms of the failing tests. This happens usually when your local setup is running on different localization than EN. Is that also your issue? I need to fix those test

[2022-01-13 10:07] lostiniceland commented on #528
Yes, I am running German localisation, which seems to be the culprit here. I will try to do some digging and maybe I can fix those tests.

Regarding the backport: I just cherry-picked the one from 2.x and had to adjust some paths and static-methods. The record-tests seemed to work (but I didnt fully checked because I wanted the baseline-tests to run first)

[2022-01-13 10:13] Verdent commented on #528
Records handling is supported by the first version, but it is actually having problems in dealing with edited records such as multiple constructors, JsonbCreator included, extra methods added etc. :-) That had to be fixed and that's what my mentioned PR is fixing.

[2022-01-13 13:38] Verdent commented on #528
@lostiniceland I have fixed (or better to say... made it working:-D ) that CDI test. It was failing due to higher version of java. Complete backport with the cdi test fix is here #531

[2022-01-13 16:56] Verdent commented on #527
Fixed in #532
Thank you for reporting this

[2022-01-13 16:56] #527 closed

[2022-01-14 10:19] Verdent commented on #528
@lostiniceland Just letting you know that Yasson 1.0.11 and 2.0.4 are being released today to the maven central. :-)

[2022-01-19 16:37] Verdent commented on #529
Hi @argenstijn , I do not think this is a bug or even Yasson issue.
What are you trying to use JSONB (Yasson in this case) for in your usecase? I do not see the reason for JSONB usage in this usecase, because how would it work?

JSONB is used for some specific class creation, such as class Animal, it will parse the obtained JSON and will produce the instance of the desired class filled with the pa

[2022-01-31 08:32] argenstijn commented on #529
The Buffer contains a body which is a json (with jackson it works).

The issue was orginal posted in Quarkus Github but they said it's  a Yasson error. I could investigate it more to figure out what is going wrong exactly.

[2022-02-01 19:27] maxencelaurent opened #535 "Date in TIME_IN_MILLIS not serialized as number"
**Describe the bug**
According to  jsonb-api ([JsonbDateFormat#TIME_IN_MILLIS](https://github.com/eclipse-ee4j/jsonb-api/blob/703826016ebd5aa439d56d272c073e1961415ad4/api/src/main/java/jakarta/json/bind/annotation/JsonbDateFormat.java#L61)), a date formatted with the `TIME_IN_MILLIS` formatter shall be serialized as a number. This is not the case. Such dates are serialized as strings.

Explicit co

[2022-02-03 17:21] oliviercailloux commented on #237
The corresponding [issue](https://github.com/eclipse-ee4j/jsonb-api/issues/121) is marked as solved. I am sure that many developers are eager to use this feature. Is Yasson going to implement this soon?

@aguibert [wrote](https://github.com/eclipse-ee4j/yasson/issues/285#issuecomment-516058741), on 29 July 2019: “IMO optional constructor properties are one of the top 3 most needed features for JSO

[2022-02-03 17:26] Verdent commented on #237
@oliviercailloux sure thing. I am already having working implementation of this feature in my local branch. We will try to get this branch to the master soon. This feature will be released as soon as the new JSONB is released.

[2022-02-03 17:34] Verdent commented on #535
Hi @maxencelaurent , thank you for reaching out. This really seems like a bug. Thank you for reporting this. I will take a look at it.

[2022-02-04 16:58] abimarank commented on #535
Hi @Verdent, Are you working on this issue? If not, I planned to provide the fix.

[2022-02-04 17:32] Verdent commented on #535
Hi @abimarank , I did not yet started. Feel free to make it :-) Thank you

[2022-02-11 20:58] jsinclair-mckesson opened #536 "Records fail on optional fields"
**Describe the bug**
The recently added support for java records only works if every JSON object contains every possible field.  The vast majority of JSON in use contains optional fields that may not be present.  This causes an exception (e.g. "javax.json.bind.JsonbException: JsonbCreator parameter model is missing in json document.") when deserializing the document.

**To Reproduce**
Add the foll

[2022-02-15 08:02] don-spyker commented on #476
Observed the same issue and took me some time as well. I'd expect the same outcome. Unless there is no value set in the annotation, the global configuration should be taken into account.

see #290 as well

[2022-02-16 13:26] Verdent commented on #536
Hi @jsinclair-mckesson , currently records in Yasson are using the same approach as if the constructor is annotated with `@JsonbCreator`. In version 1.x and 2.x there was no mechanism for default values to be passed if property is missing. We will be releasing 3.0.0-RC1 version of the Yasson very soon. This version does not have this restriction anymore since this requirement for the properties to

[2022-02-18 18:29] jsinclair-mckesson commented on #536
Thank you for the update.  I noticed the approach, which is why I provided some unit test code to demonstrate the issue. We can't use the `@JsonbCreator` annotation anywhere for similar reasons; it breaks on optional fields.
The sooner we can have records supported fully as JSON proxies, without failing on optional fields, the better.
Right now we have to write, on average, several hundred lines o

[2022-02-28 16:07] jakobbraun opened #540 "Deserialization of Map key with backslash fails"
**Describe the bug**
When deserializing a Map with a key containing a `\` an exception is thrown.

**To Reproduce**

[code]

For me this code fails with:

[code]

**Expected behavior**

Deserialization works fine.

**System information:**
 - OS: Linux
 - Java Version: 11
 - Yasson Version: 2.0.4
 - jakarta.json.bind-api version: 2.0.0

[2022-03-16 13:35] lostiniceland commented on #516
Since, for other reasons, we still cannot use records I was trying to achieve something similar with some package-private DTOs and using the `PropertyVisibilityStrategy`.

The serialization worked fine, but Yasson cannot deserialize with the following message: `class org.eclipse.yasson.internal.ReflectionUtils cannot access a member of class some.MyDTO with modifiers ""
	at java.base/jdk.internal.

[2022-03-28 07:42] Verdent commented on #536
Will be included in the new 2.x and 1.x release

[2022-03-28 07:42] #536 closed

[2022-03-28 13:44] amoscatelli commented on #133
I believe this is delivered in jsonb 3.0
Thank you all

[2022-03-28 13:44] #133 closed

[2022-04-04 11:13] wiesnery commented on #476
@don-spyker we can still not adjust it, as it would break many projects I guess. Do you see any sense in improving the status quo or is a hint in the documentation all we can do for now?

[2022-04-06 16:40] njr-11 opened #544 "Polymorphic Deserialization loses type information when subtypes of subtypes are added"
**Describe the bug**
When trying out the new polymorphic deserialization feature that is new in JSON-B 3.0 on the Yasson 3.0.0-RC1 JSON-B provider, I noticed that it worked well in the basic scenario of a type with subtypes, but when more subtypes were added to a subtype, then the first-level subtype itself lost its `@type` property in the generated JSON, causing it to be unable to deserialize.  I

[2022-04-10 10:08] mfdewit opened #545 "Java module system: "access to public member failed" when using 'opens' x to 'y'"
**Describe the bug**
Allowing runtime-only access to a package by org.eclipse.yasson is not working.
I have a module-info file containing the following statement:

`opens nl.scuro.media.model to org.eclipse.yasson;`

This should allow Yasson to be able to read this package when (de)serializing. Unfortunately, I get an error:

[code]

I can work around this by exporting my package:
`exports nl.scur

[2022-04-11 12:29] don-spyker commented on #476
Well, for me it seems to be an issue, as it is not very obvious. Changing the property name should not impact the null-value-behaviour. If changing the implementation might break projects, adding a feature flag or config option would be helpful.

It would be an option to add an additional JsonbConfig method
`new JsonbConfig().withNullValues(true).forReal().srsly().evenWithAnnotationOnProperties()`

[2022-04-13 11:39] Verdent commented on #544
Thank you, I will take a look at that :-)

[2022-04-13 12:55] Verdent commented on #544
Very nice example. It was easy to see the issue. I will tune Yasson it a bit to reflect the following situations:
1. Serialized instance is type of Area -> it will contain just the type information from its parents and not area information itself
2. Serialized instance is type of Village and not present in Area configuration -> no polymorphic info included.

[2022-04-14 10:24] Verdent commented on #540
I do not think, this is Yasson issue. This exception is caused by JSON-P implementation.
[code]

I was able to reproduce this with 2.x version of Yasson, but I have also verified, that it is no longer happening in version 3.0.0-RC1. 3.0.0-RC1 is using newer version of the JSON-P implementation.

[2022-04-20 10:58] #540 closed

[2022-04-22 10:33] dansiviter opened #547 "Instances of Log & Throw"
**Describe the bug**
Log and throw is generally considered an anti-pattern but there are multiple instances where this is happenening:
-  [`DeserializationContextImpl[L144-L147]`](/eclipse-ee4j/yasson/blob/master/src/main/java/org/eclipse/yasson/internal/DeserializationContextImpl.java#L144-L147),
- [`SerializationContextImpl[L135-L138]`](/eclipse-ee4j/yasson/blob/master/src/main/java/org/eclipse/

[2022-04-23 09:05] dansiviter opened #549 "Record with no-arg constructor with does not deserialise correctly"
**Describe the bug**
If a record has a no-arg constructor when deserialised the optional is always `<empty>`.

**To Reproduce**
An example is available [here](//gist.github.com/dansiviter/9d826225a553a3b5e493bac944fca7ce).

**Expected behavior**
The correct constructor for the record is selected.

**System information:**
 - OS: Windows 11
 - Java Version: 17
 - Yasson Version: 3.0.0-RC1

**Additio

[2022-04-23 09:09] dansiviter commented on #549
Updates as I originally thought it was due to `Optional` but appears it happens every time.

[2022-04-25 10:12] Verdent commented on #549
Hi Dan, this is happening due to default empty constructor you are having in all of the records. Yasson is trying to find `@JsonbCreator` annotated constructor/factory and finds none, but since it does have default constructor, if  backs to use that. If you remove empty constructor, everything will work as expected. Or if you need that default constructor for some reason, you can overwrite the par

[2022-04-25 11:47] #544 closed

[2022-04-25 19:04] dansiviter commented on #549
From [RecordTest.java:L69](/eclipse-ee4j/yasson/blob/master/src/test/java16/org/eclipse/yasson/records/RecordTest.java#L69) it does suggest that it should throw an exception but I'm not seeing that behaviour in 3.0.0-RC1. 🤔

[2022-04-25 19:28] dansiviter commented on #549
I've just checked and it's due to default no-args constructor behaviour of records. I'd argue a no-arg constructor is a pointless record so should throw an exception regardless.

[2022-04-26 07:50] Verdent commented on #549
Exactly my thought when I was analyzing it yesterday. I will make the needed change :-)

[2022-04-26 07:52] Verdent commented on #549
It does fail for multiple constructors, but since it is taking nearly the same processing path as regular class, I forgot to make it to fail when default constructor is present.

[2022-04-26 11:38] Verdent commented on #547
Fixed

[2022-04-26 11:38] #547 closed

[2022-04-27 08:57] #549 closed

[2022-05-05 18:19] njr-11 opened #557 "Missing doPrivileged when reading jsonb.creator-parameters-required system property"
**Describe the bug**
JsonbBuilder.build() fails with the following exception when using Yasson 3.0.0-RC1 as the JSON-B provider and Java 2 security is enabled:
[code]

Missing doPrivileged is at this line:
https://github.com/eclipse-ee4j/yasson/blob/a6795d53590d5f229ab087304be6d779d3911dc6/src/main/java/org/eclipse/yasson/internal/JsonbConfigProperties.java#L191

**To Reproduce**
Run with Java 2 s

[2022-05-09 21:46] #557 closed

[2022-05-24 04:33] Thihup commented on #545
It seems to be using the `MethodHandles.publicLookup()` instead of the `MethodHandles.lookup()`, so it cannot access private fields

[2022-05-24 23:27] Thihup commented on #545
This is probably a little more tricky than expected. `access to public member failed` seems to happen when a module does not read the other.
Adding the following in the `PropertyModel::createReadHandle` class seems to fix my case
[code]

[2022-05-25 13:27] pdudits opened #559 "Using Custom Serializer with toJson(T, Type) causes ClassCastException"
**Describe the bug**
When custom serializer wants to serialize a property using `SerializationContext.serialize(String, Object p, JsonGenerator)` and serialization is invoked with explicit type (`Jsonb.toJson(Object,Type t)`), it fails with `ClassCastException` where object `p` is attempted to be cast to type `t`.

[code]

The trouble seems to be, that `runtimeType` is applied in `SerializationCon

[2022-05-30 08:27] #559 closed, assigned to nobody

[2022-06-27 12:59] wiesnery commented on #476
We even missed the 3.0 release...
So I guess this one would be a potential 4.0 fix but no one from the core team seems to care.
A bit sad to see this as this is the reference implementation.

@coreteam please give some advise, I am happy to help. The only problem is, that the direction is unclear.

[2022-06-28 01:12] stephane-vallee9 opened #561 "Serializing an array of values in a JsonbSerializer fails when not chaining calls"
**Describe the bug**
When defining a custom JsonbSerializer that writes an array of primitives, serializing will fail when not chaining calls that write the primitives.

**To Reproduce**
[code]
**Stack trace**
[code]

**Expected behavior**
Both serializers should output ["abc","def","ghi"]. Only the first one with chained method calls does.

**System information:**
 - OS: any
 - Java Version: 17

[2022-06-28 15:41] Verdent commented on #561
Hi @stephane-vallee9 , Thank you for reporting this issue. I will take a look into it.

[2022-06-30 08:16] #561 closed

[2022-07-20 23:17] feefifo opened #563 "Input ignored after unbound key"
When a key with an _object_ for a value is not recognized, the remainder of the input is ignored.

There are a couple of reasons I believe the must-ignore policy does not apply here, and that this is a bug.

1. The specification says that the rest of the document should be treated as if the element did not appear. My interpretation is that only that key-value is to be ignored, otherwise the specif

[2022-07-21 11:34] Verdent commented on #563
Hi, thank you for reaching out. This is definitely a bug. I will make a fix for this.

[2022-07-21 12:35] #563 closed

[2022-08-09 09:25] redmitry opened #569 "@JsonbTypeDeserializer ignored on parent"
**Describe the bug**
The deserializer defined on the parent type is ignored while working OK with JsonbConfig.

**To Reproduce**
1. create two classes:  Animal and Cat
2. annotate Animal with `@JsonbTypeDeserializer(AnimalDeserializer.class)`
3. try to deserialize Cat (!)

**Expected behavior**
Even though the Cat is deserialized I expect the custom deserializer is called,
It works when it is pass

[2022-08-09 15:21] redmitry commented on #569
I think, I found the problem:
[AnnotationIntrospector](https://github.com/eclipse-ee4j/yasson/blob/39b667a0eb40c9604e0f634d4f59a273c5d5cde5/src/main/java/org/eclipse/yasson/internal/AnnotationIntrospector.java#L330) does not introspect parents for the `@JsonbTypeDeserializer` annotation.
It just returns the 'null':
[code]
I tried simple sulution and it seems to work.
[issue-569.patch.txt](https://

[2022-08-15 08:11] Verdent commented on #569
Hi @redmitry , thank you for reporting this issue and taking time to create the patch :-) I will take a look into what you have found.

[2022-08-15 17:28] xxINFERNALzz commented on #545
I have the same error with module system, even on yasson version 3.0.1.
Global export indeed is a temporal solution.
After JDK 9 on module system to have access to something via reflection need to called `reflectionObject.setAccessible(true)`.
Method `ProperyModel.isMethodVisible(Method method, PropertyVisibilityStrategy strategy)` should override accessibility and solve this issue, but seams used

[2022-08-22 11:50] jbescos commented on #545
According to boolean sun.invoke.util.VerifyAccess.isClassAccessible(Class<?> refc, Class<?> lookupClass, int allowedModes)

Evaluate the JVM linkage rules for access to the given class on behalf of caller.

[code]

The package where you have the class to Serialize/Deserialize needs to be exported.

For this particular case, you need to add in module-info:
`exports nl.scuro.media.model;`

The next

[2022-08-23 08:39] jbescos commented on #517
Is this still an issue?. I was going to reproduce it and it works to me:

[code]

[code]

[2022-08-23 09:32] jbescos commented on #529
You can use @JsonbTypeDeserializer to deserialize it in a custom way.

[2022-08-23 14:29] nimo23 opened #571 "Unable to make field final java.math.MathContext.roundingMode accessible"
**Describe the bug**
I get this error when trying to create json output of an instance of `java.math.MathContext`.

[code]

**To Reproduce**
Steps to reproduce the bug

**Expected behavior**
To be able to (de)serialize `java.math.MathContext`.

**System information:**
 - OS: Mac
 - Java Version: 17
 - Yasson Version: 1.0.9

[2022-08-24 07:58] jbescos commented on #476
Hello,

withNullValues is overridden by the default value of @JsonbProperty.nillable = false

That property is deprecated from JSONB 2.1, so it will be eventually removed. Note this is defined in JSONB spec and we cannot remove it in Yasson. Once it is removed it will take the configuration valiue from JsonbConfig#withNullValues

You can use additional annotation for that value: @JsonbNillable

Fo

[2022-08-24 10:06] jbescos commented on #454
I was debugging this and with the abstract class it is analyzed twice, one for the abstract and other for the anonymous class.

In the abstract class it is able to find the JsonbTransient but it is not getting that from the anonymous class that extends the abstract class. This `org.eclipse.yasson.internal.model.JsonbAnnotatedElement#getAnnotations()` returns empty array

For the interface, it is a

[2022-08-25 07:07] jbescos commented on #571
Could you provide a reproducer please?.

[2022-08-25 09:05] nimo23 commented on #571
@jbescos Here is the test case leading to this exception:

import static org.junit.jupiter.api.Assertions.assertNotNull;

[code]

I found the reason for this exception:
I am using the `PrivateVisibilityStrategy` which leads to this exception. However, it's not very convenient to turn this off because in my case `BigDecimalJson` is just a property of another class hierarchy where I need the `Privat

[2022-08-25 10:26] jbescos commented on #571
I think the issue is that java.math module is not opened to java.base module, but you can explicitly open it with this JVM argument:
`--add-opens java.base/java.math=ALL-UNNAMED`

[2022-08-25 11:22] Verdent commented on #571
`MathContext` is not supported by Yasson currently. If you need this to be serialized/deserialized properly, please create your own custom Serializer/Deserializer for it.

[2022-08-25 12:06] mkarg commented on #517
I confirm that this bug does **not** happen anymore when using Yasson **3.0.0 or 3.0.1**, but the bug still **does exist** in Yasson **2.0.4 and 1.0.11**.

[2022-08-28 11:22] onacit commented on #517
I got shot with with problem with 1.0.11. Do we have any change for fixing? Thanks.

[2022-08-29 08:34] redmitry opened #573 "Failing deserialize JsonObjet : null"
**Describe the bug**
Yasson 3 faild to deserilize JsonObject when null

**To Reproduce**
Create a simple bean with JsonObject "info" property.
try to deserialize { "info": null}

**Expected behavior**
The bean with unset "info" property must be deserialized.

**System information:**
OS: Windows 10 version 10.0 running on amd64
Java Version: OpenJDK 64-Bit Server VM 11.0.15+10-LTS
Yasson: 3.0.1

**

[2022-08-31 08:16] loicmathieu opened #575 "Yasson 3 fails to serialize a null Optional"
**Describe the bug**
Yasson 3 is unable to serialize a null Optional, leading to a NullPointerException.

[code]

It worked with Yasson 1.0.11 but not with Yasson 3.0.1

**To Reproduce**
[code]

**Expected behavior**
Serializing a null Optional works as expected.

**System information:**
 - OS: Linux
 - Java Version: 11
 - Yasson Version: 3.0.1

[2022-08-31 12:54] #573 closed

[2022-08-31 13:20] Verdent commented on #575
Hi @loicmathieu,
Thank you for reaching out. It will be fixed in the new release.

[2022-08-31 13:39] loicmathieu commented on #575
Hi @Verdent
Thanks !
As soon as you have a fix that I can test please contact me, we have a strange issue in one of Quarkus integration test that I think is linked to this issue so we want to be able to test it asap.

[2022-08-31 13:42] Verdent commented on #575
Fix if presented currently in PR [#576](https://github.com/eclipse-ee4j/yasson/pull/576). It should be merged fairly quickly. When that is done you could possibly build new Yasson out of the main branch to test it, or wait for snapshot to be automatically build.

[2022-08-31 13:55] loicmathieu commented on #575
Great !
I'll use the snapshot when the PAR will be merged and a new one is published

[2022-08-31 14:06] #575 closed

[2022-08-31 14:35] Verdent commented on #575
@loicmathieu New snapshot is live now :-)

[2022-08-31 14:56] loicmathieu commented on #575
@Verdent thanks a lot !
Are they in the Maven central or the sonatype OSS snapshot repo ? I cannot find them and I look at the documentation the snaphost repo is not documented.

[2022-08-31 14:59] Verdent commented on #575
Our snapshot repo is in jakarta OSS sonatype :-)
[code]

[2022-09-01 07:33] loicmathieu commented on #575
Thanks @Verdent I'll have a look tomorrow and let you know how it goes.

[2022-09-02 07:50] loicmathieu commented on #575
Thanks @Verdent it solves the reported issue.

[2022-09-02 07:58] Verdent commented on #575
@loicmathieu Thank you for reporting back. I am glad to hear that! I will do a new release some time next week.

[2022-09-13 08:43] Verdent commented on #575
@loicmathieu Yasson 3.0.2 is out.

[2022-09-13 09:02] loicmathieu commented on #575
@Verdent thanks! We'll upgrade it.

[2022-09-19 09:56] oliviercailloux commented on #423
Have you had some chance to investigate this bug? To reiterate, the lack of failure is not a consequence of ignoring some keys, thus the quoted paragraph does not apply and Yasson should fail, it seems to me.

[2022-11-15 10:40] amoscatelli opened #579 "Generic bound not found in deserialization"
**Describe the bug**

Defined this endpoint :

[code]

And this parameter

[code]

I get this error during deserialization :

[code]

**To Reproduce**
I pasted some example code above

**Expected behavior**
I believe it should be able to detect IdentifiableDTO as the bound.

**System information:**
 - OS: Windows
 - Java Version: 11
 - Yasson Version: 3.0.1

**Additional context**
Migrating to Wil

[2022-11-23 09:40] e6c31d opened #581 "Can't use Yasson in a Java EE 7 environment because java:comp/BeanManager is not jakarta.enterprise.inject.spi.BeanManager"
**Describe the bug**
I'm trying to use JSON-B 2 (from Jakarta EE 9) and Yasson 2 in an application that will be deployed on IBM WebSphere Application Server 9, which is a Java EE 7 environment. I know this is unusual, but it mostly works except for the below issue.

Yasson tries to use JNDI to lookup `java:comp/BeanManager` and use it if it exists. The first problem is that `jakarta.enterprise.inj